{
    "openapi": "3.0.0",
    "info": {
        "version": "1.0.0",
        "title": "API Docs - ERP",
        "description": "API Docs",
        "x-logo": {
            "url": "https://cdn.prod.website-files.com/6075c27738665c833a39fd83/608566aaabf4b474f887440f_Light.svg",
            "backgroundColor": "#000000",
            "altText": "Makini Logo"
        }
    },
    "servers": [
        {
            "url": "https://api.makini.io"
        }
    ],
    "paths": {
        "/api/erp/sites": {
            "get": {
                "description": "This endpoint returns a list of sites, which represent physical locations or facilities where equipment is installed or operations are conducted. This includes manufacturing plants and offices, but specifically refers to operational facilities used for maintenance activities rather than financial or administrative locations.\n\n### What constitutes a \"Site\":\n- Physical locations where maintenance work is performed\n- Operational facilities (factories, plants, warehouses, etc.)\n- Service centers or repair facilities\n- Field locations where equipment is maintained\n- Any location where maintenance activities are tracked and managed\n\n### What does NOT constitute a \"Site\":\n- Corporate headquarters or administrative offices\n- Financial reporting locations\n- Legal entity locations\n- Billing or accounting addresses\n- Virtual or conceptual business units\n\nThis distinction is important when integrating with maintenance management systems, as the site data returned by this endpoint is specifically designed for operational maintenance workflows and asset management rather than financial reporting or organizational structure mapping.\n\n---\n\n## Additional Context\n\nWhen using the List Sites endpoint, expect to receive data about physical locations where:\n- Work orders are executed\n- Assets are located and maintained\n- Maintenance teams are deployed\n- Equipment downtime is tracked\n- Service requests originate\n\nThis operational focus ensures that the site data aligns with maintenance management workflows and provides the most relevant location information for field service and asset management use cases.\n",
                "summary": "List Site ",
                "parameters": [
                    {
                        "name": "filter",
                        "description": "array",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "page",
                        "description": "integer",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "sort",
                        "description": "array",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "array"
                        }
                    }
                ],
                "tags": [
                    "Site"
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Site"
                                            }
                                        },
                                        "links": {
                                            "type": "object",
                                            "properties": {
                                                "first": {
                                                    "type": "string"
                                                },
                                                "last": {
                                                    "type": "string"
                                                },
                                                "prev": {
                                                    "type": "string",
                                                    "format": "nullable"
                                                },
                                                "next": {
                                                    "type": "string",
                                                    "format": "nullable"
                                                }
                                            }
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "current_page": {
                                                    "type": "number"
                                                },
                                                "from": {
                                                    "type": "number"
                                                },
                                                "last_page": {
                                                    "type": "number"
                                                },
                                                "path": {
                                                    "type": "string"
                                                },
                                                "per_page": {
                                                    "type": "number"
                                                },
                                                "to": {
                                                    "type": "number"
                                                },
                                                "total": {
                                                    "type": "number"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/erp/sites/{key}": {
            "get": {
                "description": "This endpoint returns a list of sites, which represent physical locations or facilities where equipment is installed or operations are conducted. This includes manufacturing plants and offices, but specifically refers to operational facilities used for maintenance activities rather than financial or administrative locations.\n\n### What constitutes a \"Site\":\n- Physical locations where maintenance work is performed\n- Operational facilities (factories, plants, warehouses, etc.)\n- Service centers or repair facilities\n- Field locations where equipment is maintained\n- Any location where maintenance activities are tracked and managed\n\n### What does NOT constitute a \"Site\":\n- Corporate headquarters or administrative offices\n- Financial reporting locations\n- Legal entity locations\n- Billing or accounting addresses\n- Virtual or conceptual business units\n\nThis distinction is important when integrating with maintenance management systems, as the site data returned by this endpoint is specifically designed for operational maintenance workflows and asset management rather than financial reporting or organizational structure mapping.\n\n---\n\n## Additional Context\n\nWhen using the List Sites endpoint, expect to receive data about physical locations where:\n- Work orders are executed\n- Assets are located and maintained\n- Maintenance teams are deployed\n- Equipment downtime is tracked\n- Service requests originate\n\nThis operational focus ensures that the site data aligns with maintenance management workflows and provides the most relevant location information for field service and asset management use cases.\n",
                "summary": "Get a Site ",
                "parameters": [
                    {
                        "name": "key",
                        "description": "string|required",
                        "in": "path",
                        "style": "simple",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "tags": [
                    "Site"
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Site"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/erp/organizations": {
            "get": {
                "description": "Organization endpoint provides access to information about organizations, including their names, contact information, and structures. It is a top-level entity in the system, available for systems that support a multi-organizational structure.\n <details>\n   <summary>Filtering</summary>\n\n     * filter[name]=HelloFromMakiniAPI\n     * filter[name:contains]=Makini\n     * filter[name:startsWith]=Hello\n     * filter[name:startsWith]=API\n     * filter[createdAt:gt]=2023-11-07\n     * filter[createdAt:gteq]=2023-11-07\n     * filter[createdAt:lt]=2023-11-07\n     * filter[createdAt:lted]=2023-11-07\n\n </details>\n <details>\n   <summary>Filter matching</summary>\n\n     * filterMatch=any // OR\n     * filterMatch=all // AND\n\n </details>\n <details>\n   <summary>Sorting</summary>\n\n     * sort[createdAt]=1 // DESC\n     * sort[createdAt]=0 // ASC\n\n </details>\n\n",
                "summary": "List Organization ",
                "parameters": [
                    {
                        "name": "filter",
                        "description": "array",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "page",
                        "description": "integer",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "sort",
                        "description": "array",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "per_page",
                        "description": "integer",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "tags": [
                    "Organization"
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Organization"
                                            }
                                        },
                                        "links": {
                                            "type": "object",
                                            "properties": {
                                                "first": {
                                                    "type": "string"
                                                },
                                                "last": {
                                                    "type": "string"
                                                },
                                                "prev": {
                                                    "type": "string",
                                                    "format": "nullable"
                                                },
                                                "next": {
                                                    "type": "string",
                                                    "format": "nullable"
                                                }
                                            }
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "current_page": {
                                                    "type": "number"
                                                },
                                                "from": {
                                                    "type": "number"
                                                },
                                                "last_page": {
                                                    "type": "number"
                                                },
                                                "path": {
                                                    "type": "string"
                                                },
                                                "per_page": {
                                                    "type": "number"
                                                },
                                                "to": {
                                                    "type": "number"
                                                },
                                                "total": {
                                                    "type": "number"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/erp/organizations/{key}": {
            "get": {
                "description": "Organization endpoint provides access to information about organizations, including their names, contact information, and structures. It is a top-level entity in the system, available for systems that support a multi-organizational structure.\n",
                "summary": "Get an Organization ",
                "parameters": [
                    {
                        "name": "key",
                        "description": "string|required",
                        "in": "path",
                        "style": "simple",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "tags": [
                    "Organization"
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Organization"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/erp/locations": {
            "get": {
                "description": "This endpoint returns a list of locations, which represent specific areas or positions within a facility where assets, inventory, or operations are tracked and managed. Locations provide granular positioning data within sites and serve different purposes across EAM, ERP, and WMS systems.\n\n### What constitutes a \"Location\":\n- Specific areas within a facility (e.g., Room 101, Loading Dock A, Production Line 3)\n- Asset installation positions (e.g., Motor Mount B-12, Conveyor Section 7)\n- Inventory storage positions (e.g., Warehouse Aisle 5 Shelf C, Bin Location A1-B3)\n- Work zones or operational areas (e.g., Assembly Station 4, Quality Control Bay)\n- Functional areas within a site (e.g., Maintenance Shop, Parts Storage, Office Area)\n\n### What does NOT constitute a \"Location\":\n- Entire buildings or facilities (see Sites)\n- Geographic coordinates without operational context\n- Virtual or logical groupings without physical presence\n- External addresses or delivery destinations\n\nLocations provide the detailed positioning data needed for efficient asset management, inventory control, and operational planning within the broader context of a site.\n <details>\n   <summary>Filtering</summary>\n\n     * filter[name]=HelloFromMakiniAPI\n     * filter[name:contains]=Makini\n     * filter[name:startsWith]=Hello\n     * filter[name:startsWith]=API\n     * filter[createdAt:gt]=2023-11-07\n     * filter[createdAt:gteq]=2023-11-07\n     * filter[createdAt:lt]=2023-11-07\n     * filter[createdAt:lted]=2023-11-07\n\n </details>\n <details>\n   <summary>Filter matching</summary>\n\n     * filterMatch=any // OR\n     * filterMatch=all // AND\n\n </details>\n <details>\n   <summary>Sorting</summary>\n\n     * sort[createdAt]=1 // DESC\n     * sort[createdAt]=0 // ASC\n\n </details>\n\n",
                "summary": "List Location ",
                "parameters": [
                    {
                        "name": "filter",
                        "description": "array",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "page",
                        "description": "integer",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "sort",
                        "description": "array",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "per_page",
                        "description": "integer",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "tags": [
                    "Location"
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Location"
                                            }
                                        },
                                        "links": {
                                            "type": "object",
                                            "properties": {
                                                "first": {
                                                    "type": "string"
                                                },
                                                "last": {
                                                    "type": "string"
                                                },
                                                "prev": {
                                                    "type": "string",
                                                    "format": "nullable"
                                                },
                                                "next": {
                                                    "type": "string",
                                                    "format": "nullable"
                                                }
                                            }
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "current_page": {
                                                    "type": "number"
                                                },
                                                "from": {
                                                    "type": "number"
                                                },
                                                "last_page": {
                                                    "type": "number"
                                                },
                                                "path": {
                                                    "type": "string"
                                                },
                                                "per_page": {
                                                    "type": "number"
                                                },
                                                "to": {
                                                    "type": "number"
                                                },
                                                "total": {
                                                    "type": "number"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/erp/locations/{key}": {
            "get": {
                "description": "This endpoint returns a list of locations, which represent specific areas or positions within a facility where assets, inventory, or operations are tracked and managed. Locations provide granular positioning data within sites and serve different purposes across EAM, ERP, and WMS systems.\n\n### What constitutes a \"Location\":\n- Specific areas within a facility (e.g., Room 101, Loading Dock A, Production Line 3)\n- Asset installation positions (e.g., Motor Mount B-12, Conveyor Section 7)\n- Inventory storage positions (e.g., Warehouse Aisle 5 Shelf C, Bin Location A1-B3)\n- Work zones or operational areas (e.g., Assembly Station 4, Quality Control Bay)\n- Functional areas within a site (e.g., Maintenance Shop, Parts Storage, Office Area)\n\n### What does NOT constitute a \"Location\":\n- Entire buildings or facilities (see Sites)\n- Geographic coordinates without operational context\n- Virtual or logical groupings without physical presence\n- External addresses or delivery destinations\n\nLocations provide the detailed positioning data needed for efficient asset management, inventory control, and operational planning within the broader context of a site.\n",
                "summary": "Get a Location ",
                "parameters": [
                    {
                        "name": "key",
                        "description": "string|required",
                        "in": "path",
                        "style": "simple",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "tags": [
                    "Location"
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Location"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/erp/storerooms": {
            "get": {
                "description": "Is a designated space within a location used for the storage and management of inventory, supplies, or equipment.\n <details>\n   <summary>Filtering</summary>\n\n     * filter[name]=HelloFromMakiniAPI\n     * filter[name:contains]=Makini\n     * filter[name:startsWith]=Hello\n     * filter[name:startsWith]=API\n     * filter[createdAt:gt]=2023-11-07\n     * filter[createdAt:gteq]=2023-11-07\n     * filter[createdAt:lt]=2023-11-07\n     * filter[createdAt:lted]=2023-11-07\n\n </details>\n <details>\n   <summary>Filter matching</summary>\n\n     * filterMatch=any // OR\n     * filterMatch=all // AND\n\n </details>\n <details>\n   <summary>Sorting</summary>\n\n     * sort[createdAt]=1 // DESC\n     * sort[createdAt]=0 // ASC\n\n </details>\n\n",
                "summary": "List Storeroom ",
                "parameters": [
                    {
                        "name": "filter",
                        "description": "array",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "page",
                        "description": "integer",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "sort",
                        "description": "array",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "per_page",
                        "description": "integer",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "tags": [
                    "Storeroom"
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Storeroom"
                                            }
                                        },
                                        "links": {
                                            "type": "object",
                                            "properties": {
                                                "first": {
                                                    "type": "string"
                                                },
                                                "last": {
                                                    "type": "string"
                                                },
                                                "prev": {
                                                    "type": "string",
                                                    "format": "nullable"
                                                },
                                                "next": {
                                                    "type": "string",
                                                    "format": "nullable"
                                                }
                                            }
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "current_page": {
                                                    "type": "number"
                                                },
                                                "from": {
                                                    "type": "number"
                                                },
                                                "last_page": {
                                                    "type": "number"
                                                },
                                                "path": {
                                                    "type": "string"
                                                },
                                                "per_page": {
                                                    "type": "number"
                                                },
                                                "to": {
                                                    "type": "number"
                                                },
                                                "total": {
                                                    "type": "number"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/erp/storerooms/{key}": {
            "get": {
                "description": "Is a designated space within a location used for the storage and management of inventory, supplies, or equipment.\n",
                "summary": "Get a Storeroom ",
                "parameters": [
                    {
                        "name": "key",
                        "description": "string|required",
                        "in": "path",
                        "style": "simple",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "tags": [
                    "Storeroom"
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Storeroom"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/erp/accounts": {
            "get": {
                "description": "This endpoint returns a list of accounts, which represent financial accounts used for tracking and categorizing financial transactions. Accounts provide the structure for organizing financial data in accounting and ERP systems.\n\n### What constitutes an \"Account\":\n- General Ledger (GL) accounts for financial reporting\n- Cost centers for expense allocation and tracking\n- Revenue accounts for income categorization\n- Asset accounts for tracking company resources\n- Liability accounts for tracking obligations\n- Equity accounts for ownership tracking\n- Department or project accounts for organizational reporting\n\n### Common Account Types:\n- **Assets:** Cash, accounts receivable, inventory, equipment\n- **Liabilities:** Accounts payable, loans, accrued expenses\n- **Revenue:** Sales revenue, service income, other income\n- **Expenses:** Operating expenses, cost of goods sold, administrative costs\n- **Equity:** Retained earnings, capital contributions\n\n### Usage Context:\nAccounts serve as the foundation for financial reporting, budgeting, and cost tracking. They enable organizations to categorize transactions, generate financial statements, and analyze financial performance across different business areas or projects.\n <details>\n   <summary>Filtering</summary>\n\n     * filter[name]=HelloFromMakiniAPI\n     * filter[name:contains]=Makini\n     * filter[name:startsWith]=Hello\n     * filter[name:startsWith]=API\n     * filter[createdAt:gt]=2023-11-07\n     * filter[createdAt:gteq]=2023-11-07\n     * filter[createdAt:lt]=2023-11-07\n     * filter[createdAt:lted]=2023-11-07\n\n </details>\n <details>\n   <summary>Filter matching</summary>\n\n     * filterMatch=any // OR\n     * filterMatch=all // AND\n\n </details>\n <details>\n   <summary>Sorting</summary>\n\n     * sort[createdAt]=1 // DESC\n     * sort[createdAt]=0 // ASC\n\n </details>\n\n",
                "summary": "List Account ",
                "parameters": [
                    {
                        "name": "filter",
                        "description": "array",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "page",
                        "description": "integer",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "sort",
                        "description": "array",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "per_page",
                        "description": "integer",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "tags": [
                    "Account"
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Account"
                                            }
                                        },
                                        "links": {
                                            "type": "object",
                                            "properties": {
                                                "first": {
                                                    "type": "string"
                                                },
                                                "last": {
                                                    "type": "string"
                                                },
                                                "prev": {
                                                    "type": "string",
                                                    "format": "nullable"
                                                },
                                                "next": {
                                                    "type": "string",
                                                    "format": "nullable"
                                                }
                                            }
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "current_page": {
                                                    "type": "number"
                                                },
                                                "from": {
                                                    "type": "number"
                                                },
                                                "last_page": {
                                                    "type": "number"
                                                },
                                                "path": {
                                                    "type": "string"
                                                },
                                                "per_page": {
                                                    "type": "number"
                                                },
                                                "to": {
                                                    "type": "number"
                                                },
                                                "total": {
                                                    "type": "number"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/erp/accounts/{key}": {
            "get": {
                "description": "This endpoint returns a list of accounts, which represent financial accounts used for tracking and categorizing financial transactions. Accounts provide the structure for organizing financial data in accounting and ERP systems.\n\n### What constitutes an \"Account\":\n- General Ledger (GL) accounts for financial reporting\n- Cost centers for expense allocation and tracking\n- Revenue accounts for income categorization\n- Asset accounts for tracking company resources\n- Liability accounts for tracking obligations\n- Equity accounts for ownership tracking\n- Department or project accounts for organizational reporting\n\n### Common Account Types:\n- **Assets:** Cash, accounts receivable, inventory, equipment\n- **Liabilities:** Accounts payable, loans, accrued expenses\n- **Revenue:** Sales revenue, service income, other income\n- **Expenses:** Operating expenses, cost of goods sold, administrative costs\n- **Equity:** Retained earnings, capital contributions\n\n### Usage Context:\nAccounts serve as the foundation for financial reporting, budgeting, and cost tracking. They enable organizations to categorize transactions, generate financial statements, and analyze financial performance across different business areas or projects.\n",
                "summary": "Get an Account ",
                "parameters": [
                    {
                        "name": "key",
                        "description": "string|required",
                        "in": "path",
                        "style": "simple",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "tags": [
                    "Account"
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Account"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/erp/teams": {
            "get": {
                "description": "A division responsible for conducting asset maintenance. It can be assigned to execute work orders.\n <details>\n   <summary>Filtering</summary>\n\n     * filter[name]=HelloFromMakiniAPI\n     * filter[name:contains]=Makini\n     * filter[name:startsWith]=Hello\n     * filter[name:startsWith]=API\n     * filter[createdAt:gt]=2023-11-07\n     * filter[createdAt:gteq]=2023-11-07\n     * filter[createdAt:lt]=2023-11-07\n     * filter[createdAt:lted]=2023-11-07\n\n </details>\n <details>\n   <summary>Filter matching</summary>\n\n     * filterMatch=any // OR\n     * filterMatch=all // AND\n\n </details>\n <details>\n   <summary>Sorting</summary>\n\n     * sort[createdAt]=1 // DESC\n     * sort[createdAt]=0 // ASC\n\n </details>\n\n",
                "summary": "List Team ",
                "parameters": [
                    {
                        "name": "filter",
                        "description": "array",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "page",
                        "description": "integer",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "sort",
                        "description": "array",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "per_page",
                        "description": "integer",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "tags": [
                    "Team"
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Team"
                                            }
                                        },
                                        "links": {
                                            "type": "object",
                                            "properties": {
                                                "first": {
                                                    "type": "string"
                                                },
                                                "last": {
                                                    "type": "string"
                                                },
                                                "prev": {
                                                    "type": "string",
                                                    "format": "nullable"
                                                },
                                                "next": {
                                                    "type": "string",
                                                    "format": "nullable"
                                                }
                                            }
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "current_page": {
                                                    "type": "number"
                                                },
                                                "from": {
                                                    "type": "number"
                                                },
                                                "last_page": {
                                                    "type": "number"
                                                },
                                                "path": {
                                                    "type": "string"
                                                },
                                                "per_page": {
                                                    "type": "number"
                                                },
                                                "to": {
                                                    "type": "number"
                                                },
                                                "total": {
                                                    "type": "number"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/erp/teams/{key}": {
            "get": {
                "description": "A division responsible for conducting asset maintenance. It can be assigned to execute work orders.\n",
                "summary": "Get a Team ",
                "parameters": [
                    {
                        "name": "key",
                        "description": "string|required",
                        "in": "path",
                        "style": "simple",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "tags": [
                    "Team"
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Team"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/erp/labors": {
            "get": {
                "description": "Refers to internal or external human resources involved in the execution of work orders. It is used to track cost and time for planning purposes.\n <details>\n   <summary>Filtering</summary>\n\n     * filter[name]=HelloFromMakiniAPI\n     * filter[name:contains]=Makini\n     * filter[name:startsWith]=Hello\n     * filter[name:startsWith]=API\n     * filter[createdAt:gt]=2023-11-07\n     * filter[createdAt:gteq]=2023-11-07\n     * filter[createdAt:lt]=2023-11-07\n     * filter[createdAt:lted]=2023-11-07\n\n </details>\n <details>\n   <summary>Filter matching</summary>\n\n     * filterMatch=any // OR\n     * filterMatch=all // AND\n\n </details>\n <details>\n   <summary>Sorting</summary>\n\n     * sort[createdAt]=1 // DESC\n     * sort[createdAt]=0 // ASC\n\n </details>\n\n",
                "summary": "List Labor ",
                "parameters": [
                    {
                        "name": "filter",
                        "description": "array",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "page",
                        "description": "integer",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "sort",
                        "description": "array",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "per_page",
                        "description": "integer",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "tags": [
                    "Labor"
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Labor"
                                            }
                                        },
                                        "links": {
                                            "type": "object",
                                            "properties": {
                                                "first": {
                                                    "type": "string"
                                                },
                                                "last": {
                                                    "type": "string"
                                                },
                                                "prev": {
                                                    "type": "string",
                                                    "format": "nullable"
                                                },
                                                "next": {
                                                    "type": "string",
                                                    "format": "nullable"
                                                }
                                            }
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "current_page": {
                                                    "type": "number"
                                                },
                                                "from": {
                                                    "type": "number"
                                                },
                                                "last_page": {
                                                    "type": "number"
                                                },
                                                "path": {
                                                    "type": "string"
                                                },
                                                "per_page": {
                                                    "type": "number"
                                                },
                                                "to": {
                                                    "type": "number"
                                                },
                                                "total": {
                                                    "type": "number"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/erp/labors/{key}": {
            "get": {
                "description": "Refers to internal or external human resources involved in the execution of work orders. It is used to track cost and time for planning purposes.\n",
                "summary": "Get a Labor ",
                "parameters": [
                    {
                        "name": "key",
                        "description": "string|required",
                        "in": "path",
                        "style": "simple",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "tags": [
                    "Labor"
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Labor"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/erp/users": {
            "get": {
                "description": "User account in the system\n <details>\n   <summary>Filtering</summary>\n\n     * filter[name]=HelloFromMakiniAPI\n     * filter[name:contains]=Makini\n     * filter[name:startsWith]=Hello\n     * filter[name:startsWith]=API\n     * filter[createdAt:gt]=2023-11-07\n     * filter[createdAt:gteq]=2023-11-07\n     * filter[createdAt:lt]=2023-11-07\n     * filter[createdAt:lted]=2023-11-07\n\n </details>\n <details>\n   <summary>Filter matching</summary>\n\n     * filterMatch=any // OR\n     * filterMatch=all // AND\n\n </details>\n <details>\n   <summary>Sorting</summary>\n\n     * sort[createdAt]=1 // DESC\n     * sort[createdAt]=0 // ASC\n\n </details>\n\n",
                "summary": "List User ",
                "parameters": [
                    {
                        "name": "filter",
                        "description": "array",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "page",
                        "description": "integer",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "sort",
                        "description": "array",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "per_page",
                        "description": "integer",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "tags": [
                    "User"
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/User"
                                            }
                                        },
                                        "links": {
                                            "type": "object",
                                            "properties": {
                                                "first": {
                                                    "type": "string"
                                                },
                                                "last": {
                                                    "type": "string"
                                                },
                                                "prev": {
                                                    "type": "string",
                                                    "format": "nullable"
                                                },
                                                "next": {
                                                    "type": "string",
                                                    "format": "nullable"
                                                }
                                            }
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "current_page": {
                                                    "type": "number"
                                                },
                                                "from": {
                                                    "type": "number"
                                                },
                                                "last_page": {
                                                    "type": "number"
                                                },
                                                "path": {
                                                    "type": "string"
                                                },
                                                "per_page": {
                                                    "type": "number"
                                                },
                                                "to": {
                                                    "type": "number"
                                                },
                                                "total": {
                                                    "type": "number"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/erp/users/{key}": {
            "get": {
                "description": "User account in the system\n",
                "summary": "Get an User ",
                "parameters": [
                    {
                        "name": "key",
                        "description": "string|required",
                        "in": "path",
                        "style": "simple",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "tags": [
                    "User"
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/User"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/erp/taxes": {
            "get": {
                "description": "Tax applicable on sales orders and purchase orders\n <details>\n   <summary>Filtering</summary>\n\n     * filter[name]=HelloFromMakiniAPI\n     * filter[name:contains]=Makini\n     * filter[name:startsWith]=Hello\n     * filter[name:startsWith]=API\n     * filter[createdAt:gt]=2023-11-07\n     * filter[createdAt:gteq]=2023-11-07\n     * filter[createdAt:lt]=2023-11-07\n     * filter[createdAt:lted]=2023-11-07\n\n </details>\n <details>\n   <summary>Filter matching</summary>\n\n     * filterMatch=any // OR\n     * filterMatch=all // AND\n\n </details>\n <details>\n   <summary>Sorting</summary>\n\n     * sort[createdAt]=1 // DESC\n     * sort[createdAt]=0 // ASC\n\n </details>\n\n",
                "summary": "List Tax ",
                "parameters": [
                    {
                        "name": "filter",
                        "description": "array",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "page",
                        "description": "integer",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "sort",
                        "description": "array",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "per_page",
                        "description": "integer",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "tags": [
                    "Tax"
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Tax"
                                            }
                                        },
                                        "links": {
                                            "type": "object",
                                            "properties": {
                                                "first": {
                                                    "type": "string"
                                                },
                                                "last": {
                                                    "type": "string"
                                                },
                                                "prev": {
                                                    "type": "string",
                                                    "format": "nullable"
                                                },
                                                "next": {
                                                    "type": "string",
                                                    "format": "nullable"
                                                }
                                            }
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "current_page": {
                                                    "type": "number"
                                                },
                                                "from": {
                                                    "type": "number"
                                                },
                                                "last_page": {
                                                    "type": "number"
                                                },
                                                "path": {
                                                    "type": "string"
                                                },
                                                "per_page": {
                                                    "type": "number"
                                                },
                                                "to": {
                                                    "type": "number"
                                                },
                                                "total": {
                                                    "type": "number"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/erp/taxes/{key}": {
            "get": {
                "description": "Tax applicable on sales orders and purchase orders\n",
                "summary": "Get a Tax ",
                "parameters": [
                    {
                        "name": "key",
                        "description": "string|required",
                        "in": "path",
                        "style": "simple",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "tags": [
                    "Tax"
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Tax"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/erp/currencies": {
            "get": {
                "description": "Currency represents a monetary unit used for multi-currency transactions, financial accounting, and dealings with counterparts, integrated with international exchange rates.\n <details>\n   <summary>Filtering</summary>\n\n     * filter[name]=HelloFromMakiniAPI\n     * filter[name:contains]=Makini\n     * filter[name:startsWith]=Hello\n     * filter[name:startsWith]=API\n     * filter[createdAt:gt]=2023-11-07\n     * filter[createdAt:gteq]=2023-11-07\n     * filter[createdAt:lt]=2023-11-07\n     * filter[createdAt:lted]=2023-11-07\n\n </details>\n <details>\n   <summary>Filter matching</summary>\n\n     * filterMatch=any // OR\n     * filterMatch=all // AND\n\n </details>\n <details>\n   <summary>Sorting</summary>\n\n     * sort[createdAt]=1 // DESC\n     * sort[createdAt]=0 // ASC\n\n </details>\n\n",
                "summary": "List Currency ",
                "parameters": [
                    {
                        "name": "filter",
                        "description": "array",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "page",
                        "description": "integer",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "sort",
                        "description": "array",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "per_page",
                        "description": "integer",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "tags": [
                    "Currency"
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Currency"
                                            }
                                        },
                                        "links": {
                                            "type": "object",
                                            "properties": {
                                                "first": {
                                                    "type": "string"
                                                },
                                                "last": {
                                                    "type": "string"
                                                },
                                                "prev": {
                                                    "type": "string",
                                                    "format": "nullable"
                                                },
                                                "next": {
                                                    "type": "string",
                                                    "format": "nullable"
                                                }
                                            }
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "current_page": {
                                                    "type": "number"
                                                },
                                                "from": {
                                                    "type": "number"
                                                },
                                                "last_page": {
                                                    "type": "number"
                                                },
                                                "path": {
                                                    "type": "string"
                                                },
                                                "per_page": {
                                                    "type": "number"
                                                },
                                                "to": {
                                                    "type": "number"
                                                },
                                                "total": {
                                                    "type": "number"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/erp/currencies/{key}": {
            "get": {
                "description": "Currency represents a monetary unit used for multi-currency transactions, financial accounting, and dealings with counterparts, integrated with international exchange rates.\n",
                "summary": "Get a Currency ",
                "parameters": [
                    {
                        "name": "key",
                        "description": "string|required",
                        "in": "path",
                        "style": "simple",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "tags": [
                    "Currency"
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Currency"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/erp/exchange-rates": {
            "get": {
                "description": "An exchange rate refers to the value assigned to convert one currency into another for the purpose of financial transactions, accounting, and reporting within the system.\n <details>\n   <summary>Filtering</summary>\n\n     * filter[name]=HelloFromMakiniAPI\n     * filter[name:contains]=Makini\n     * filter[name:startsWith]=Hello\n     * filter[name:startsWith]=API\n     * filter[createdAt:gt]=2023-11-07\n     * filter[createdAt:gteq]=2023-11-07\n     * filter[createdAt:lt]=2023-11-07\n     * filter[createdAt:lted]=2023-11-07\n\n </details>\n <details>\n   <summary>Filter matching</summary>\n\n     * filterMatch=any // OR\n     * filterMatch=all // AND\n\n </details>\n <details>\n   <summary>Sorting</summary>\n\n     * sort[createdAt]=1 // DESC\n     * sort[createdAt]=0 // ASC\n\n </details>\n\n",
                "summary": "List ExchangeRate ",
                "parameters": [
                    {
                        "name": "filter",
                        "description": "array",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "page",
                        "description": "integer",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "sort",
                        "description": "array",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "per_page",
                        "description": "integer",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "tags": [
                    "ExchangeRate"
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/ExchangeRate"
                                            }
                                        },
                                        "links": {
                                            "type": "object",
                                            "properties": {
                                                "first": {
                                                    "type": "string"
                                                },
                                                "last": {
                                                    "type": "string"
                                                },
                                                "prev": {
                                                    "type": "string",
                                                    "format": "nullable"
                                                },
                                                "next": {
                                                    "type": "string",
                                                    "format": "nullable"
                                                }
                                            }
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "current_page": {
                                                    "type": "number"
                                                },
                                                "from": {
                                                    "type": "number"
                                                },
                                                "last_page": {
                                                    "type": "number"
                                                },
                                                "path": {
                                                    "type": "string"
                                                },
                                                "per_page": {
                                                    "type": "number"
                                                },
                                                "to": {
                                                    "type": "number"
                                                },
                                                "total": {
                                                    "type": "number"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/erp/exchange-rates/{key}": {
            "get": {
                "description": "An exchange rate refers to the value assigned to convert one currency into another for the purpose of financial transactions, accounting, and reporting within the system.\n",
                "summary": "Get an ExchangeRate ",
                "parameters": [
                    {
                        "name": "key",
                        "description": "string|required",
                        "in": "path",
                        "style": "simple",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "tags": [
                    "ExchangeRate"
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/ExchangeRate"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/erp/uom": {
            "get": {
                "description": "Units of Measure represent standardized values used for measuring and accounting for materials.\n <details>\n   <summary>Filtering</summary>\n\n     * filter[name]=HelloFromMakiniAPI\n     * filter[name:contains]=Makini\n     * filter[name:startsWith]=Hello\n     * filter[name:startsWith]=API\n     * filter[createdAt:gt]=2023-11-07\n     * filter[createdAt:gteq]=2023-11-07\n     * filter[createdAt:lt]=2023-11-07\n     * filter[createdAt:lted]=2023-11-07\n\n </details>\n <details>\n   <summary>Filter matching</summary>\n\n     * filterMatch=any // OR\n     * filterMatch=all // AND\n\n </details>\n <details>\n   <summary>Sorting</summary>\n\n     * sort[createdAt]=1 // DESC\n     * sort[createdAt]=0 // ASC\n\n </details>\n\n",
                "summary": "List UnitOfMeasure ",
                "parameters": [
                    {
                        "name": "filter",
                        "description": "array",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "page",
                        "description": "integer",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "sort",
                        "description": "array",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "per_page",
                        "description": "integer",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "tags": [
                    "UnitOfMeasure"
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/UnitOfMeasure"
                                            }
                                        },
                                        "links": {
                                            "type": "object",
                                            "properties": {
                                                "first": {
                                                    "type": "string"
                                                },
                                                "last": {
                                                    "type": "string"
                                                },
                                                "prev": {
                                                    "type": "string",
                                                    "format": "nullable"
                                                },
                                                "next": {
                                                    "type": "string",
                                                    "format": "nullable"
                                                }
                                            }
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "current_page": {
                                                    "type": "number"
                                                },
                                                "from": {
                                                    "type": "number"
                                                },
                                                "last_page": {
                                                    "type": "number"
                                                },
                                                "path": {
                                                    "type": "string"
                                                },
                                                "per_page": {
                                                    "type": "number"
                                                },
                                                "to": {
                                                    "type": "number"
                                                },
                                                "total": {
                                                    "type": "number"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/erp/uom/{key}": {
            "get": {
                "description": "Units of Measure represent standardized values used for measuring and accounting for materials.\n",
                "summary": "Get an UnitOfMeasure ",
                "parameters": [
                    {
                        "name": "key",
                        "description": "string|required",
                        "in": "path",
                        "style": "simple",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "tags": [
                    "UnitOfMeasure"
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/UnitOfMeasure"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
[...]
