openapi: 3.0.0
info:
  version: 1.0.0
  title: Makini API Docs
  description: Makini API Docs
  license:
    name: ""
    url: ""
servers:
  - url: https://www.makini.io
paths:
  /api/eam/organizations:
    get:
      description: |2+
         Get list of entities

         Filtering:

         * filter[name]=HelloFromMakiniAPI
         * filter[name:contains]=Makini
         * filter[name:startsWith]=Hello
         * filter[name:startsWith]=API
         * filter[createdAt:gt]=2023-11-07
         * filter[createdAt:gteq]=2023-11-07
         * filter[createdAt:lt]=2023-11-07
         * filter[createdAt:lted]=2023-11-07

         Sorting
         * sort[createdAt]=1 // DESC
         * sort[createdAt]=0 // ASC

      summary: List Organizations
      parameters:
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: array
                      items:
                        $ref: "#/components/schemas/Organization"
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                        format: nullable
                      next:
                        type: string
                        format: nullable
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: number
                      from:
                        type: number
                      last_page:
                        type: number
                      path:
                        type: string
                      per_page:
                        type: number
                      to:
                        type: number
                      total:
                        type: number
  /api/eam/organizations/{key}:
    get:
      description: ""
      summary: Get an Organization
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
  /api/eam/sites:
    get:
      description: ""
      summary: List Sites
      parameters:
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: array
                      items:
                        $ref: "#/components/schemas/Site"
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                        format: nullable
                      next:
                        type: string
                        format: nullable
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: number
                      from:
                        type: number
                      last_page:
                        type: number
                      path:
                        type: string
                      per_page:
                        type: number
                      to:
                        type: number
                      total:
                        type: number
  /api/eam/sites/{key}:
    get:
      description: ""
      summary: Get a Site
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
  /api/eam/locations:
    get:
      description: |2+
         Get list of entities

         Filtering:

         * filter[name]=HelloFromMakiniAPI
         * filter[name:contains]=Makini
         * filter[name:startsWith]=Hello
         * filter[name:startsWith]=API
         * filter[createdAt:gt]=2023-11-07
         * filter[createdAt:gteq]=2023-11-07
         * filter[createdAt:lt]=2023-11-07
         * filter[createdAt:lted]=2023-11-07

         Sorting
         * sort[createdAt]=1 // DESC
         * sort[createdAt]=0 // ASC

      summary: List Locations
      parameters:
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: array
                      items:
                        $ref: "#/components/schemas/Location"
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                        format: nullable
                      next:
                        type: string
                        format: nullable
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: number
                      from:
                        type: number
                      last_page:
                        type: number
                      path:
                        type: string
                      per_page:
                        type: number
                      to:
                        type: number
                      total:
                        type: number
  /api/eam/locations/{key}:
    get:
      description: ""
      summary: Get a Location
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
  /api/eam/storerooms:
    get:
      description: |2+
         Get list of entities

         Filtering:

         * filter[name]=HelloFromMakiniAPI
         * filter[name:contains]=Makini
         * filter[name:startsWith]=Hello
         * filter[name:startsWith]=API
         * filter[createdAt:gt]=2023-11-07
         * filter[createdAt:gteq]=2023-11-07
         * filter[createdAt:lt]=2023-11-07
         * filter[createdAt:lted]=2023-11-07

         Sorting
         * sort[createdAt]=1 // DESC
         * sort[createdAt]=0 // ASC

      summary: List Storerooms
      parameters:
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: array
                      items:
                        $ref: "#/components/schemas/Storeroom"
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                        format: nullable
                      next:
                        type: string
                        format: nullable
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: number
                      from:
                        type: number
                      last_page:
                        type: number
                      path:
                        type: string
                      per_page:
                        type: number
                      to:
                        type: number
                      total:
                        type: number
  /api/eam/storerooms/{key}:
    get:
      description: ""
      summary: Get a Storeroom
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
  /api/eam/accounts:
    get:
      description: |2+
         Get list of entities

         Filtering:

         * filter[name]=HelloFromMakiniAPI
         * filter[name:contains]=Makini
         * filter[name:startsWith]=Hello
         * filter[name:startsWith]=API
         * filter[createdAt:gt]=2023-11-07
         * filter[createdAt:gteq]=2023-11-07
         * filter[createdAt:lt]=2023-11-07
         * filter[createdAt:lted]=2023-11-07

         Sorting
         * sort[createdAt]=1 // DESC
         * sort[createdAt]=0 // ASC

      summary: List Accounts
      parameters:
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: array
                      items:
                        $ref: "#/components/schemas/Account"
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                        format: nullable
                      next:
                        type: string
                        format: nullable
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: number
                      from:
                        type: number
                      last_page:
                        type: number
                      path:
                        type: string
                      per_page:
                        type: number
                      to:
                        type: number
                      total:
                        type: number
  /api/eam/accounts/{key}:
    get:
      description: ""
      summary: Get an Account
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
  /api/eam/teams:
    get:
      description: |2+
         Get list of entities

         Filtering:

         * filter[name]=HelloFromMakiniAPI
         * filter[name:contains]=Makini
         * filter[name:startsWith]=Hello
         * filter[name:startsWith]=API
         * filter[createdAt:gt]=2023-11-07
         * filter[createdAt:gteq]=2023-11-07
         * filter[createdAt:lt]=2023-11-07
         * filter[createdAt:lted]=2023-11-07

         Sorting
         * sort[createdAt]=1 // DESC
         * sort[createdAt]=0 // ASC

      summary: List Teams
      parameters:
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: array
                      items:
                        $ref: "#/components/schemas/Team"
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                        format: nullable
                      next:
                        type: string
                        format: nullable
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: number
                      from:
                        type: number
                      last_page:
                        type: number
                      path:
                        type: string
                      per_page:
                        type: number
                      to:
                        type: number
                      total:
                        type: number
  /api/eam/teams/{key}:
    get:
      description: ""
      summary: Get a Team
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
  /api/eam/labors:
    get:
      description: |2+
         Get list of entities

         Filtering:

         * filter[name]=HelloFromMakiniAPI
         * filter[name:contains]=Makini
         * filter[name:startsWith]=Hello
         * filter[name:startsWith]=API
         * filter[createdAt:gt]=2023-11-07
         * filter[createdAt:gteq]=2023-11-07
         * filter[createdAt:lt]=2023-11-07
         * filter[createdAt:lted]=2023-11-07

         Sorting
         * sort[createdAt]=1 // DESC
         * sort[createdAt]=0 // ASC

      summary: List Labors
      parameters:
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: array
                      items:
                        $ref: "#/components/schemas/Labor"
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                        format: nullable
                      next:
                        type: string
                        format: nullable
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: number
                      from:
                        type: number
                      last_page:
                        type: number
                      path:
                        type: string
                      per_page:
                        type: number
                      to:
                        type: number
                      total:
                        type: number
  /api/eam/labors/{key}:
    get:
      description: ""
      summary: Get a Labor
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
  /api/eam/users:
    get:
      description: |2+
         Get list of entities

         Filtering:

         * filter[name]=HelloFromMakiniAPI
         * filter[name:contains]=Makini
         * filter[name:startsWith]=Hello
         * filter[name:startsWith]=API
         * filter[createdAt:gt]=2023-11-07
         * filter[createdAt:gteq]=2023-11-07
         * filter[createdAt:lt]=2023-11-07
         * filter[createdAt:lted]=2023-11-07

         Sorting
         * sort[createdAt]=1 // DESC
         * sort[createdAt]=0 // ASC

      summary: List Users
      parameters:
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: array
                      items:
                        $ref: "#/components/schemas/User"
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                        format: nullable
                      next:
                        type: string
                        format: nullable
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: number
                      from:
                        type: number
                      last_page:
                        type: number
                      path:
                        type: string
                      per_page:
                        type: number
                      to:
                        type: number
                      total:
                        type: number
  /api/eam/users/{key}:
    get:
      description: ""
      summary: Get an User
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
  /api/eam/uom:
    get:
      description: |2+
         Get list of entities

         Filtering:

         * filter[name]=HelloFromMakiniAPI
         * filter[name:contains]=Makini
         * filter[name:startsWith]=Hello
         * filter[name:startsWith]=API
         * filter[createdAt:gt]=2023-11-07
         * filter[createdAt:gteq]=2023-11-07
         * filter[createdAt:lt]=2023-11-07
         * filter[createdAt:lted]=2023-11-07

         Sorting
         * sort[createdAt]=1 // DESC
         * sort[createdAt]=0 // ASC

      summary: List UnitOfMeasures
      parameters:
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: array
                      items:
                        $ref: "#/components/schemas/UnitOfMeasure"
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                        format: nullable
                      next:
                        type: string
                        format: nullable
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: number
                      from:
                        type: number
                      last_page:
                        type: number
                      path:
                        type: string
                      per_page:
                        type: number
                      to:
                        type: number
                      total:
                        type: number
  /api/eam/uom/{key}:
    get:
      description: ""
      summary: Get an UnitOfMeasure
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
  /api/eam/companies:
    get:
      description: |2+
         Get list of entities

         Filtering:

         * filter[name]=HelloFromMakiniAPI
         * filter[name:contains]=Makini
         * filter[name:startsWith]=Hello
         * filter[name:startsWith]=API
         * filter[createdAt:gt]=2023-11-07
         * filter[createdAt:gteq]=2023-11-07
         * filter[createdAt:lt]=2023-11-07
         * filter[createdAt:lted]=2023-11-07

         Sorting
         * sort[createdAt]=1 // DESC
         * sort[createdAt]=0 // ASC

      summary: List Companies
      parameters:
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: array
                      items:
                        $ref: "#/components/schemas/Company"
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                        format: nullable
                      next:
                        type: string
                        format: nullable
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: number
                      from:
                        type: number
                      last_page:
                        type: number
                      path:
                        type: string
                      per_page:
                        type: number
                      to:
                        type: number
                      total:
                        type: number
  /api/eam/companies/{key}:
    get:
      description: ""
      summary: Get a Company
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
  /api/eam/vendors:
    get:
      description: |2+
         Get list of entities

         Filtering:

         * filter[name]=HelloFromMakiniAPI
         * filter[name:contains]=Makini
         * filter[name:startsWith]=Hello
         * filter[name:startsWith]=API
         * filter[createdAt:gt]=2023-11-07
         * filter[createdAt:gteq]=2023-11-07
         * filter[createdAt:lt]=2023-11-07
         * filter[createdAt:lted]=2023-11-07

         Sorting
         * sort[createdAt]=1 // DESC
         * sort[createdAt]=0 // ASC

      summary: List Vendors
      parameters:
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: array
                      items:
                        $ref: "#/components/schemas/Vendor"
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                        format: nullable
                      next:
                        type: string
                        format: nullable
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: number
                      from:
                        type: number
                      last_page:
                        type: number
                      path:
                        type: string
                      per_page:
                        type: number
                      to:
                        type: number
                      total:
                        type: number
  /api/eam/vendors/{key}:
    get:
      description: ""
      summary: Get a Vendor
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
  /api/eam/customers:
    get:
      description: |2+
         Get list of entities

         Filtering:

         * filter[name]=HelloFromMakiniAPI
         * filter[name:contains]=Makini
         * filter[name:startsWith]=Hello
         * filter[name:startsWith]=API
         * filter[createdAt:gt]=2023-11-07
         * filter[createdAt:gteq]=2023-11-07
         * filter[createdAt:lt]=2023-11-07
         * filter[createdAt:lted]=2023-11-07

         Sorting
         * sort[createdAt]=1 // DESC
         * sort[createdAt]=0 // ASC

      summary: List Customers
      parameters:
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: array
                      items:
                        $ref: "#/components/schemas/Customer"
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                        format: nullable
                      next:
                        type: string
                        format: nullable
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: number
                      from:
                        type: number
                      last_page:
                        type: number
                      path:
                        type: string
                      per_page:
                        type: number
                      to:
                        type: number
                      total:
                        type: number
  /api/eam/customers/{key}:
    get:
      description: ""
      summary: Get a Customer
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
  /api/eam/stocks:
    get:
      description: |2+
         Get list of entities

         Filtering:

         * filter[name]=HelloFromMakiniAPI
         * filter[name:contains]=Makini
         * filter[name:startsWith]=Hello
         * filter[name:startsWith]=API
         * filter[createdAt:gt]=2023-11-07
         * filter[createdAt:gteq]=2023-11-07
         * filter[createdAt:lt]=2023-11-07
         * filter[createdAt:lted]=2023-11-07

         Sorting
         * sort[createdAt]=1 // DESC
         * sort[createdAt]=0 // ASC

      summary: List Stocks
      parameters:
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: array
                      items:
                        $ref: "#/components/schemas/Stock"
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                        format: nullable
                      next:
                        type: string
                        format: nullable
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: number
                      from:
                        type: number
                      last_page:
                        type: number
                      path:
                        type: string
                      per_page:
                        type: number
                      to:
                        type: number
                      total:
                        type: number
  /api/eam/stocks/{key}:
    get:
      description: ""
      summary: Get a Stock
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
  /api/eam/purchase-orders/{key}/status:
    put:
      description: ""
      summary: Update a PurchaseOrderStatus
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PurchaseOrderStatus"
      requestBody:
        description: Request body
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  nullable: true
                  format: string
              example:
                status: string
  /api/eam/purchase-orders:
    get:
      description: |2+
         Get list of entities

         Filtering:

         * filter[name]=HelloFromMakiniAPI
         * filter[name:contains]=Makini
         * filter[name:startsWith]=Hello
         * filter[name:startsWith]=API
         * filter[createdAt:gt]=2023-11-07
         * filter[createdAt:gteq]=2023-11-07
         * filter[createdAt:lt]=2023-11-07
         * filter[createdAt:lted]=2023-11-07

         Sorting
         * sort[createdAt]=1 // DESC
         * sort[createdAt]=0 // ASC

      summary: List PurchaseOrders
      parameters:
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: array
                      items:
                        $ref: "#/components/schemas/PurchaseOrder"
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                        format: nullable
                      next:
                        type: string
                        format: nullable
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: number
                      from:
                        type: number
                      last_page:
                        type: number
                      path:
                        type: string
                      per_page:
                        type: number
                      to:
                        type: number
                      total:
                        type: number
    post:
      description: ""
      summary: Create a PurchaseOrder
      parameters: []
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PurchaseOrder"
      requestBody:
        description: Request body
        content:
          application/json:
            schema:
              type: object
              properties:
                siteKey:
                  type: string
                  nullable: true
                  format: string
                vendorKey:
                  type: string
                  nullable: true
                  format: string
                code:
                  type: string
                  nullable: true
                  format: string
                orderNo:
                  type: string
                  nullable: true
                  format: string
                orderDate:
                  type: object
                  nullable: true
                  format: object
                statusKey:
                  type: string
                  nullable: true
                  format: string
                title:
                  type: string
                  nullable: true
                  format: string
                description:
                  type: string
                  nullable: true
                  format: string
                dueAt:
                  type: string
                  nullable: true
                  format: string
                approvedAt:
                  type: string
                  nullable: true
                  format: string
                completedAt:
                  type: string
                  nullable: true
                  format: string
                shippingMethod:
                  type: string
                  nullable: true
                  format: string
                terms:
                  type: string
                  nullable: true
                  format: string
                notes:
                  type: string
                  nullable: true
                  format: string
                currencyKey:
                  type: string
                  nullable: true
                  format: string
                totalNetValue:
                  type: object
                  nullable: true
                  format: object
                totalTaxValue:
                  type: object
                  nullable: true
                  format: object
                totalGrossValue:
                  type: object
                  nullable: true
                  format: object
                createdAt:
                  type: string
                  nullable: true
                  format: string
                updatedAt:
                  type: string
                  nullable: true
                  format: string
              example:
                siteKey: "05000813953318"
                vendorKey: "05000091460777"
                code: "76106453"
                orderNo: string
                orderDate: "2022-02-01T22:39:14Z"
                statusKey: "03000288753158"
                title: Architecto odit earum unde rerum.
                description: Est culpa rerum delectus.
                dueAt: "1974-10-03T20:21:43Z"
                approvedAt: "2012-01-12T20:03:58Z"
                completedAt: "2004-11-18T18:37:09Z"
                shippingMethod: string
                terms: string
                notes: string
                currencyKey: "01000307126903"
                totalNetValue: string
                totalTaxValue: string
                totalGrossValue: string
                createdAt: "2009-09-21T18:24:49Z"
                updatedAt: "1981-03-23T11:33:37Z"
  /api/eam/purchase-orders/{key}:
    get:
      description: ""
      summary: Get a PurchaseOrder
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
    put:
      description: ""
      summary: Update a PurchaseOrder
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PurchaseOrder"
      requestBody:
        description: Request body
        content:
          application/json:
            schema:
              type: object
              properties:
                siteKey:
                  type: string
                  nullable: true
                  format: string
                vendorKey:
                  type: string
                  nullable: true
                  format: string
                code:
                  type: string
                  nullable: false
                  format: string
                orderNo:
                  type: string
                  nullable: true
                  format: string
                orderDate:
                  type: object
                  nullable: true
                  format: object
                statusKey:
                  type: string
                  nullable: true
                  format: string
                title:
                  type: string
                  nullable: true
                  format: string
                description:
                  type: string
                  nullable: true
                  format: string
                dueAt:
                  type: string
                  nullable: true
                  format: string
                approvedAt:
                  type: string
                  nullable: true
                  format: string
                completedAt:
                  type: string
                  nullable: true
                  format: string
                shippingMethod:
                  type: string
                  nullable: true
                  format: string
                terms:
                  type: string
                  nullable: true
                  format: string
                notes:
                  type: string
                  nullable: true
                  format: string
                currencyKey:
                  type: string
                  nullable: true
                  format: string
                totalNetValue:
                  type: object
                  nullable: true
                  format: object
                totalTaxValue:
                  type: object
                  nullable: true
                  format: object
                totalGrossValue:
                  type: object
                  nullable: true
                  format: object
                createdAt:
                  type: string
                  nullable: true
                  format: string
                updatedAt:
                  type: string
                  nullable: true
                  format: string
              example:
                siteKey: "01000228750112"
                vendorKey: "00000952070251"
                code: "24782142"
                orderNo: string
                orderDate: "2011-01-06T09:48:27Z"
                statusKey: "09000073944505"
                title: Fuga aperiam odit fugit molestias quidem et.
                description: Aut quia quis ullam laboriosam.
                dueAt: "1999-09-17T07:09:42Z"
                approvedAt: "2008-08-18T03:39:25Z"
                completedAt: "2022-04-02T10:15:12Z"
                shippingMethod: string
                terms: string
                notes: string
                currencyKey: "01000577450750"
                totalNetValue: string
                totalTaxValue: string
                totalGrossValue: string
                createdAt: "2015-10-17T11:41:38Z"
                updatedAt: "2018-11-25T13:57:50Z"
  /api/eam/purchase-orders.line-items:
    get:
      description: |2+
         Get list of entities

         Filtering:

         * filter[name]=HelloFromMakiniAPI
         * filter[name:contains]=Makini
         * filter[name:startsWith]=Hello
         * filter[name:startsWith]=API
         * filter[createdAt:gt]=2023-11-07
         * filter[createdAt:gteq]=2023-11-07
         * filter[createdAt:lt]=2023-11-07
         * filter[createdAt:lted]=2023-11-07

         Sorting
         * sort[createdAt]=1 // DESC
         * sort[createdAt]=0 // ASC

      summary: List LineItems
      parameters:
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: array
                      items:
                        $ref: "#/components/schemas/LineItem"
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                        format: nullable
                      next:
                        type: string
                        format: nullable
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: number
                      from:
                        type: number
                      last_page:
                        type: number
                      path:
                        type: string
                      per_page:
                        type: number
                      to:
                        type: number
                      total:
                        type: number
  /api/eam/purchase-orders.line-items/{key}:
    get:
      description: ""
      summary: Get a LineItem
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
  /api/eam/materials/{partKey}/inventory:
    post:
      description: ""
      summary: Create a Material
      parameters:
        - name: partKey
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Material"
      requestBody:
        description: Request body
        content:
          application/json:
            schema:
              type: object
              properties:
                filter:
                  type: array
                  nullable: false
                  format: array
                page:
                  type: integer
                  nullable: false
                  format: integer
                per_page:
                  type: integer
                  nullable: false
                  format: integer
                sort:
                  type: array
                  nullable: false
                  format: array
              example:
                filter: "[]"
                page: 10
                per_page: 10
                sort: "[]"
  /api/eam/materials/{key}/children:
    get:
      description: ""
      summary: Get a MaterialItem
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
  /api/eam/materials:
    get:
      description: |2+
         Get list of entities

         Filtering:

         * filter[name]=HelloFromMakiniAPI
         * filter[name:contains]=Makini
         * filter[name:startsWith]=Hello
         * filter[name:startsWith]=API
         * filter[createdAt:gt]=2023-11-07
         * filter[createdAt:gteq]=2023-11-07
         * filter[createdAt:lt]=2023-11-07
         * filter[createdAt:lted]=2023-11-07

         Sorting
         * sort[createdAt]=1 // DESC
         * sort[createdAt]=0 // ASC

      summary: List Materials
      parameters:
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: array
                      items:
                        $ref: "#/components/schemas/Material"
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                        format: nullable
                      next:
                        type: string
                        format: nullable
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: number
                      from:
                        type: number
                      last_page:
                        type: number
                      path:
                        type: string
                      per_page:
                        type: number
                      to:
                        type: number
                      total:
                        type: number
    post:
      description: ""
      summary: Create a Material
      parameters: []
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Material"
      requestBody:
        description: Request body
        content:
          application/json:
            schema:
              type: object
              properties:
                siteKeys:
                  type: array
                  nullable: true
                  format: array
                parentKeys:
                  type: array
                  nullable: true
                  format: array
                assetKeys:
                  type: array
                  nullable: true
                  format: array
                vendorKeys:
                  type: string
                  nullable: true
                  format: string
                documents:
                  type: array
                  nullable: true
                  format: array
                accountKey:
                  type: string
                  nullable: true
                  format: string
                code:
                  type: string
                  nullable: true
                  format: string
                isAssembly:
                  type: boolean
                  nullable: true
                  format: boolean
                partNumber:
                  type: string
                  nullable: true
                  format: string
                name:
                  type: string
                  nullable: true
                  format: string
                description:
                  type: string
                  nullable: true
                  format: string
                notes:
                  type: string
                  nullable: true
                  format: string
                criticality:
                  type: string
                  nullable: true
                  format: string
                isActive:
                  type: boolean
                  nullable: true
                  format: boolean
                manufacturerName:
                  type: string
                  nullable: true
                  format: string
                minimumQuantity:
                  type: string
                  nullable: true
                  format: string
                cost:
                  type: object
                  nullable: true
                  format: object
                currency:
                  type: string
                  nullable: true
                  format: string
              example:
                siteKeys: "[]"
                parentKeys: "[]"
                assetKeys: "[]"
                vendorKeys: string
                documents: "[]"
                accountKey: "03000165276221"
                code: "66578604"
                isAssembly: string
                partNumber: string
                name: string
                description: Quia explicabo ipsa sint dolores.
                notes: string
                criticality: string
                isActive: string
                manufacturerName: string
                minimumQuantity: string
                cost: string
                currency: string
  /api/eam/materials/{key}:
    get:
      description: ""
      summary: Get a Material
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Material"
    put:
      description: ""
      summary: Update a Material
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Material"
      requestBody:
        description: Request body
        content:
          application/json:
            schema:
              type: object
              properties:
                siteKeys:
                  type: array
                  nullable: true
                  format: array
                parentKeys:
                  type: array
                  nullable: true
                  format: array
                assetKeys:
                  type: array
                  nullable: true
                  format: array
                vendorKeys:
                  type: string
                  nullable: true
                  format: string
                documents:
                  type: array
                  nullable: true
                  format: array
                accountKey:
                  type: string
                  nullable: true
                  format: string
                code:
                  type: string
                  nullable: true
                  format: string
                isAssembly:
                  type: boolean
                  nullable: true
                  format: boolean
                partNumber:
                  type: string
                  nullable: true
                  format: string
                name:
                  type: string
                  nullable: true
                  format: string
                description:
                  type: string
                  nullable: true
                  format: string
                notes:
                  type: string
                  nullable: true
                  format: string
                criticality:
                  type: string
                  nullable: true
                  format: string
                isActive:
                  type: boolean
                  nullable: true
                  format: boolean
                manufacturerName:
                  type: string
                  nullable: true
                  format: string
                minimumQuantity:
                  type: string
                  nullable: true
                  format: string
                cost:
                  type: object
                  nullable: true
                  format: object
                currency:
                  type: string
                  nullable: true
                  format: string
              example:
                siteKeys: "[]"
                parentKeys: "[]"
                assetKeys: "[]"
                vendorKeys: string
                documents: "[]"
                accountKey: "02000478602144"
                code: "27458587"
                isAssembly: string
                partNumber: string
                name: string
                description: Laudantium officia qui voluptatem est facere.
                notes: string
                criticality: string
                isActive: string
                manufacturerName: string
                minimumQuantity: string
                cost: string
                currency: string
  /api/eam/assets/{key}/materials:
    get:
      description: ""
      summary: Get a MaterialItem
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
  /api/eam/assets:
    get:
      description: |2+
         Get list of entities

         Filtering:

         * filter[name]=HelloFromMakiniAPI
         * filter[name:contains]=Makini
         * filter[name:startsWith]=Hello
         * filter[name:startsWith]=API
         * filter[createdAt:gt]=2023-11-07
         * filter[createdAt:gteq]=2023-11-07
         * filter[createdAt:lt]=2023-11-07
         * filter[createdAt:lted]=2023-11-07

         Sorting
         * sort[createdAt]=1 // DESC
         * sort[createdAt]=0 // ASC

      summary: List Assets
      parameters:
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: array
                      items:
                        $ref: "#/components/schemas/Asset"
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                        format: nullable
                      next:
                        type: string
                        format: nullable
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: number
                      from:
                        type: number
                      last_page:
                        type: number
                      path:
                        type: string
                      per_page:
                        type: number
                      to:
                        type: number
                      total:
                        type: number
  /api/eam/assets/{key}:
    get:
      description: ""
      summary: Get an Asset
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
    put:
      description: ""
      summary: Update an Asset
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Asset"
      requestBody:
        description: Request body
        content:
          application/json:
            schema:
              type: object
              properties:
                siteKey:
                  type: string
                  nullable: true
                  format: string
                parentKey:
                  type: string
                  nullable: true
                  format: string
                vendorKey:
                  type: string
                  nullable: true
                  format: string
                modelKey:
                  type: string
                  nullable: true
                  format: string
                teamKey:
                  type: string
                  nullable: true
                  format: string
                locationKey:
                  type: string
                  nullable: true
                  format: string
                accountKey:
                  type: string
                  nullable: true
                  format: string
                name:
                  type: string
                  nullable: true
                  format: string
                description:
                  type: string
                  nullable: true
                  format: string
                notes:
                  type: string
                  nullable: true
                  format: string
                categoryName:
                  type: string
                  nullable: true
                  format: string
                criticality:
                  type: string
                  nullable: true
                  format: string
                isActive:
                  type: boolean
                  nullable: true
                  format: boolean
                manufacturerName:
                  type: string
                  nullable: true
                  format: string
                modelName:
                  type: string
                  nullable: true
                  format: string
                serialNumber:
                  type: string
                  nullable: true
                  format: string
                activatedAt:
                  type: string
                  nullable: true
                  format: string
                deactivatedAt:
                  type: string
                  nullable: true
                  format: string
              example:
                siteKey: "08000501752760"
                parentKey: "06000321638240"
                vendorKey: "09000586937026"
                modelKey: "09000327751245"
                teamKey: "08000978031511"
                locationKey: "03000908496896"
                accountKey: "07000577708846"
                name: string
                description: Aut sint sit nobis. Quo dolorum ad voluptas unde.
                notes: string
                categoryName: string
                criticality: string
                isActive: string
                manufacturerName: string
                modelName: string
                serialNumber: string
                activatedAt: "2010-11-17T21:13:31Z"
                deactivatedAt: "2001-03-27T23:17:02Z"
  /api/eam/assets-downtime:
    get:
      description: |2+
         Get list of entities

         Filtering:

         * filter[name]=HelloFromMakiniAPI
         * filter[name:contains]=Makini
         * filter[name:startsWith]=Hello
         * filter[name:startsWith]=API
         * filter[createdAt:gt]=2023-11-07
         * filter[createdAt:gteq]=2023-11-07
         * filter[createdAt:lt]=2023-11-07
         * filter[createdAt:lted]=2023-11-07

         Sorting
         * sort[createdAt]=1 // DESC
         * sort[createdAt]=0 // ASC

      summary: List AssetDownTimes
      parameters:
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: array
                      items:
                        $ref: "#/components/schemas/AssetDownTime"
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                        format: nullable
                      next:
                        type: string
                        format: nullable
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: number
                      from:
                        type: number
                      last_page:
                        type: number
                      path:
                        type: string
                      per_page:
                        type: number
                      to:
                        type: number
                      total:
                        type: number
  /api/eam/assets-downtime/{key}:
    get:
      description: ""
      summary: Get an AssetDownTime
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
  /api/eam/asset-templates/{key}/materials:
    get:
      description: ""
      summary: Get a MaterialItem
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
  /api/eam/asset-templates:
    get:
      description: |2+
         Get list of entities

         Filtering:

         * filter[name]=HelloFromMakiniAPI
         * filter[name:contains]=Makini
         * filter[name:startsWith]=Hello
         * filter[name:startsWith]=API
         * filter[createdAt:gt]=2023-11-07
         * filter[createdAt:gteq]=2023-11-07
         * filter[createdAt:lt]=2023-11-07
         * filter[createdAt:lted]=2023-11-07

         Sorting
         * sort[createdAt]=1 // DESC
         * sort[createdAt]=0 // ASC

      summary: List Models
      parameters:
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: array
                      items:
                        $ref: "#/components/schemas/Model"
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                        format: nullable
                      next:
                        type: string
                        format: nullable
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: number
                      from:
                        type: number
                      last_page:
                        type: number
                      path:
                        type: string
                      per_page:
                        type: number
                      to:
                        type: number
                      total:
                        type: number
  /api/eam/asset-templates/{key}:
    get:
      description: ""
      summary: Get a Model
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
  /api/eam/meters:
    get:
      description: |2+
         Get list of entities

         Filtering:

         * filter[name]=HelloFromMakiniAPI
         * filter[name:contains]=Makini
         * filter[name:startsWith]=Hello
         * filter[name:startsWith]=API
         * filter[createdAt:gt]=2023-11-07
         * filter[createdAt:gteq]=2023-11-07
         * filter[createdAt:lt]=2023-11-07
         * filter[createdAt:lted]=2023-11-07

         Sorting
         * sort[createdAt]=1 // DESC
         * sort[createdAt]=0 // ASC

      summary: List Counters
      parameters:
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: array
                      items:
                        $ref: "#/components/schemas/Counter"
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                        format: nullable
                      next:
                        type: string
                        format: nullable
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: number
                      from:
                        type: number
                      last_page:
                        type: number
                      path:
                        type: string
                      per_page:
                        type: number
                      to:
                        type: number
                      total:
                        type: number
  /api/eam/meters/{key}:
    get:
      description: ""
      summary: Get a Counter
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
  /api/eam/meter-readings:
    get:
      description: |2+
         Get list of entities

         Filtering:

         * filter[name]=HelloFromMakiniAPI
         * filter[name:contains]=Makini
         * filter[name:startsWith]=Hello
         * filter[name:startsWith]=API
         * filter[createdAt:gt]=2023-11-07
         * filter[createdAt:gteq]=2023-11-07
         * filter[createdAt:lt]=2023-11-07
         * filter[createdAt:lted]=2023-11-07

         Sorting
         * sort[createdAt]=1 // DESC
         * sort[createdAt]=0 // ASC

      summary: List CounterReadings
      parameters:
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: array
                      items:
                        $ref: "#/components/schemas/CounterReading"
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                        format: nullable
                      next:
                        type: string
                        format: nullable
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: number
                      from:
                        type: number
                      last_page:
                        type: number
                      path:
                        type: string
                      per_page:
                        type: number
                      to:
                        type: number
                      total:
                        type: number
  /api/eam/meter-readings/{key}:
    get:
      description: ""
      summary: Get a CounterReading
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
  /api/eam/pm/{key}/materials:
    get:
      description: ""
      summary: Get a MaterialItem
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
  /api/eam/pm:
    get:
      description: |2+
         Get list of entities

         Filtering:

         * filter[name]=HelloFromMakiniAPI
         * filter[name:contains]=Makini
         * filter[name:startsWith]=Hello
         * filter[name:startsWith]=API
         * filter[createdAt:gt]=2023-11-07
         * filter[createdAt:gteq]=2023-11-07
         * filter[createdAt:lt]=2023-11-07
         * filter[createdAt:lted]=2023-11-07

         Sorting
         * sort[createdAt]=1 // DESC
         * sort[createdAt]=0 // ASC

      summary: List PreventiveMaintenances
      parameters:
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: array
                      items:
                        $ref: "#/components/schemas/PreventiveMaintenance"
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                        format: nullable
                      next:
                        type: string
                        format: nullable
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: number
                      from:
                        type: number
                      last_page:
                        type: number
                      path:
                        type: string
                      per_page:
                        type: number
                      to:
                        type: number
                      total:
                        type: number
  /api/eam/pm/{key}:
    get:
      description: ""
      summary: Get a PreventiveMaintenance
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
  /api/eam/work-orders/{key}/materials:
    get:
      description: ""
      summary: Get a MaterialItem
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
  /api/eam/work-orders/{key}/status:
    put:
      description: ""
      summary: Update a WorkOrderStatus
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkOrderStatus"
      requestBody:
        description: Request body
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  nullable: true
                  format: string
              example:
                status: string
  /api/eam/work-orders:
    get:
      description: |2+
         Get list of entities

         Filtering:

         * filter[name]=HelloFromMakiniAPI
         * filter[name:contains]=Makini
         * filter[name:startsWith]=Hello
         * filter[name:startsWith]=API
         * filter[createdAt:gt]=2023-11-07
         * filter[createdAt:gteq]=2023-11-07
         * filter[createdAt:lt]=2023-11-07
         * filter[createdAt:lted]=2023-11-07

         Sorting
         * sort[createdAt]=1 // DESC
         * sort[createdAt]=0 // ASC

      summary: List WorkOrders
      parameters:
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: array
                      items:
                        $ref: "#/components/schemas/WorkOrder"
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                        format: nullable
                      next:
                        type: string
                        format: nullable
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: number
                      from:
                        type: number
                      last_page:
                        type: number
                      path:
                        type: string
                      per_page:
                        type: number
                      to:
                        type: number
                      total:
                        type: number
    post:
      description: ""
      summary: Create a WorkOrder
      parameters: []
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkOrder"
      requestBody:
        description: Request body
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  nullable: true
                  format: string
                statusKey:
[...]
