openapi: 3.0.0
info:
  version: 1.0.0
  title: Makini API Docs
  description: Makini API Docs
  license:
    name: ""
    url: ""
servers:
  - url: https://www.makini.io
paths:
  /api/eam/organizations:
    get:
      description: |2+
         Get list of entities

         Filtering:

         * filter[name]=HelloFromMakiniAPI
         * filter[name:contains]=Makini
         * filter[name:startsWith]=Hello
         * filter[name:startsWith]=API
         * filter[createdAt:gt]=2023-11-07
         * filter[createdAt:gteq]=2023-11-07
         * filter[createdAt:lt]=2023-11-07
         * filter[createdAt:lted]=2023-11-07

         Sorting
         * sort[createdAt]=1 // DESC
         * sort[createdAt]=0 // ASC

      summary: |2+
         Get list of entities

         Filtering:

         * filter[name]=HelloFromMakiniAPI
         * filter[name:contains]=Makini
         * filter[name:startsWith]=Hello
         * filter[name:startsWith]=API
         * filter[createdAt:gt]=2023-11-07
         * filter[createdAt:gteq]=2023-11-07
         * filter[createdAt:lt]=2023-11-07
         * filter[createdAt:lted]=2023-11-07

         Sorting
         * sort[createdAt]=1 // DESC
         * sort[createdAt]=0 // ASC

      parameters:
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: array
                      items:
                        $ref: "#/components/schemas/Organization"
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                        format: nullable
                      next:
                        type: string
                        format: nullable
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: number
                      from:
                        type: number
                      last_page:
                        type: number
                      path:
                        type: string
                      per_page:
                        type: number
                      to:
                        type: number
                      total:
                        type: number
  /api/eam/organizations/{key}:
    get:
      description: Get an Organization
      summary: Get an Organization
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
  /api/eam/sites:
    get:
      description: List Sites
      summary: List Sites
      parameters:
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: array
                      items:
                        $ref: "#/components/schemas/Site"
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                        format: nullable
                      next:
                        type: string
                        format: nullable
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: number
                      from:
                        type: number
                      last_page:
                        type: number
                      path:
                        type: string
                      per_page:
                        type: number
                      to:
                        type: number
                      total:
                        type: number
  /api/eam/sites/{key}:
    get:
      description: Get a Site
      summary: Get a Site
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
  /api/eam/locations:
    get:
      description: |2+
         Get list of entities

         Filtering:

         * filter[name]=HelloFromMakiniAPI
         * filter[name:contains]=Makini
         * filter[name:startsWith]=Hello
         * filter[name:startsWith]=API
         * filter[createdAt:gt]=2023-11-07
         * filter[createdAt:gteq]=2023-11-07
         * filter[createdAt:lt]=2023-11-07
         * filter[createdAt:lted]=2023-11-07

         Sorting
         * sort[createdAt]=1 // DESC
         * sort[createdAt]=0 // ASC

      summary: |2+
         Get list of entities

         Filtering:

         * filter[name]=HelloFromMakiniAPI
         * filter[name:contains]=Makini
         * filter[name:startsWith]=Hello
         * filter[name:startsWith]=API
         * filter[createdAt:gt]=2023-11-07
         * filter[createdAt:gteq]=2023-11-07
         * filter[createdAt:lt]=2023-11-07
         * filter[createdAt:lted]=2023-11-07

         Sorting
         * sort[createdAt]=1 // DESC
         * sort[createdAt]=0 // ASC

      parameters:
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: array
                      items:
                        $ref: "#/components/schemas/Location"
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                        format: nullable
                      next:
                        type: string
                        format: nullable
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: number
                      from:
                        type: number
                      last_page:
                        type: number
                      path:
                        type: string
                      per_page:
                        type: number
                      to:
                        type: number
                      total:
                        type: number
  /api/eam/locations/{key}:
    get:
      description: Get a Location
      summary: Get a Location
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
  /api/eam/storerooms:
    get:
      description: |2+
         Get list of entities

         Filtering:

         * filter[name]=HelloFromMakiniAPI
         * filter[name:contains]=Makini
         * filter[name:startsWith]=Hello
         * filter[name:startsWith]=API
         * filter[createdAt:gt]=2023-11-07
         * filter[createdAt:gteq]=2023-11-07
         * filter[createdAt:lt]=2023-11-07
         * filter[createdAt:lted]=2023-11-07

         Sorting
         * sort[createdAt]=1 // DESC
         * sort[createdAt]=0 // ASC

      summary: |2+
         Get list of entities

         Filtering:

         * filter[name]=HelloFromMakiniAPI
         * filter[name:contains]=Makini
         * filter[name:startsWith]=Hello
         * filter[name:startsWith]=API
         * filter[createdAt:gt]=2023-11-07
         * filter[createdAt:gteq]=2023-11-07
         * filter[createdAt:lt]=2023-11-07
         * filter[createdAt:lted]=2023-11-07

         Sorting
         * sort[createdAt]=1 // DESC
         * sort[createdAt]=0 // ASC

      parameters:
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: array
                      items:
                        $ref: "#/components/schemas/Storeroom"
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                        format: nullable
                      next:
                        type: string
                        format: nullable
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: number
                      from:
                        type: number
                      last_page:
                        type: number
                      path:
                        type: string
                      per_page:
                        type: number
                      to:
                        type: number
                      total:
                        type: number
  /api/eam/storerooms/{key}:
    get:
      description: Get a Storeroom
      summary: Get a Storeroom
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
  /api/eam/accounts:
    get:
      description: |2+
         Get list of entities

         Filtering:

         * filter[name]=HelloFromMakiniAPI
         * filter[name:contains]=Makini
         * filter[name:startsWith]=Hello
         * filter[name:startsWith]=API
         * filter[createdAt:gt]=2023-11-07
         * filter[createdAt:gteq]=2023-11-07
         * filter[createdAt:lt]=2023-11-07
         * filter[createdAt:lted]=2023-11-07

         Sorting
         * sort[createdAt]=1 // DESC
         * sort[createdAt]=0 // ASC

      summary: |2+
         Get list of entities

         Filtering:

         * filter[name]=HelloFromMakiniAPI
         * filter[name:contains]=Makini
         * filter[name:startsWith]=Hello
         * filter[name:startsWith]=API
         * filter[createdAt:gt]=2023-11-07
         * filter[createdAt:gteq]=2023-11-07
         * filter[createdAt:lt]=2023-11-07
         * filter[createdAt:lted]=2023-11-07

         Sorting
         * sort[createdAt]=1 // DESC
         * sort[createdAt]=0 // ASC

      parameters:
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: array
                      items:
                        $ref: "#/components/schemas/Account"
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                        format: nullable
                      next:
                        type: string
                        format: nullable
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: number
                      from:
                        type: number
                      last_page:
                        type: number
                      path:
                        type: string
                      per_page:
                        type: number
                      to:
                        type: number
                      total:
                        type: number
  /api/eam/accounts/{key}:
    get:
      description: Get an Account
      summary: Get an Account
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
  /api/eam/teams:
    get:
      description: |2+
         Get list of entities

         Filtering:

         * filter[name]=HelloFromMakiniAPI
         * filter[name:contains]=Makini
         * filter[name:startsWith]=Hello
         * filter[name:startsWith]=API
         * filter[createdAt:gt]=2023-11-07
         * filter[createdAt:gteq]=2023-11-07
         * filter[createdAt:lt]=2023-11-07
         * filter[createdAt:lted]=2023-11-07

         Sorting
         * sort[createdAt]=1 // DESC
         * sort[createdAt]=0 // ASC

      summary: |2+
         Get list of entities

         Filtering:

         * filter[name]=HelloFromMakiniAPI
         * filter[name:contains]=Makini
         * filter[name:startsWith]=Hello
         * filter[name:startsWith]=API
         * filter[createdAt:gt]=2023-11-07
         * filter[createdAt:gteq]=2023-11-07
         * filter[createdAt:lt]=2023-11-07
         * filter[createdAt:lted]=2023-11-07

         Sorting
         * sort[createdAt]=1 // DESC
         * sort[createdAt]=0 // ASC

      parameters:
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: array
                      items:
                        $ref: "#/components/schemas/Team"
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                        format: nullable
                      next:
                        type: string
                        format: nullable
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: number
                      from:
                        type: number
                      last_page:
                        type: number
                      path:
                        type: string
                      per_page:
                        type: number
                      to:
                        type: number
                      total:
                        type: number
  /api/eam/teams/{key}:
    get:
      description: Get a Team
      summary: Get a Team
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
  /api/eam/labors:
    get:
      description: |2+
         Get list of entities

         Filtering:

         * filter[name]=HelloFromMakiniAPI
         * filter[name:contains]=Makini
         * filter[name:startsWith]=Hello
         * filter[name:startsWith]=API
         * filter[createdAt:gt]=2023-11-07
         * filter[createdAt:gteq]=2023-11-07
         * filter[createdAt:lt]=2023-11-07
         * filter[createdAt:lted]=2023-11-07

         Sorting
         * sort[createdAt]=1 // DESC
         * sort[createdAt]=0 // ASC

      summary: |2+
         Get list of entities

         Filtering:

         * filter[name]=HelloFromMakiniAPI
         * filter[name:contains]=Makini
         * filter[name:startsWith]=Hello
         * filter[name:startsWith]=API
         * filter[createdAt:gt]=2023-11-07
         * filter[createdAt:gteq]=2023-11-07
         * filter[createdAt:lt]=2023-11-07
         * filter[createdAt:lted]=2023-11-07

         Sorting
         * sort[createdAt]=1 // DESC
         * sort[createdAt]=0 // ASC

      parameters:
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: array
                      items:
                        $ref: "#/components/schemas/Labor"
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                        format: nullable
                      next:
                        type: string
                        format: nullable
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: number
                      from:
                        type: number
                      last_page:
                        type: number
                      path:
                        type: string
                      per_page:
                        type: number
                      to:
                        type: number
                      total:
                        type: number
  /api/eam/labors/{key}:
    get:
      description: Get a Labor
      summary: Get a Labor
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
  /api/eam/users:
    get:
      description: |2+
         Get list of entities

         Filtering:

         * filter[name]=HelloFromMakiniAPI
         * filter[name:contains]=Makini
         * filter[name:startsWith]=Hello
         * filter[name:startsWith]=API
         * filter[createdAt:gt]=2023-11-07
         * filter[createdAt:gteq]=2023-11-07
         * filter[createdAt:lt]=2023-11-07
         * filter[createdAt:lted]=2023-11-07

         Sorting
         * sort[createdAt]=1 // DESC
         * sort[createdAt]=0 // ASC

      summary: |2+
         Get list of entities

         Filtering:

         * filter[name]=HelloFromMakiniAPI
         * filter[name:contains]=Makini
         * filter[name:startsWith]=Hello
         * filter[name:startsWith]=API
         * filter[createdAt:gt]=2023-11-07
         * filter[createdAt:gteq]=2023-11-07
         * filter[createdAt:lt]=2023-11-07
         * filter[createdAt:lted]=2023-11-07

         Sorting
         * sort[createdAt]=1 // DESC
         * sort[createdAt]=0 // ASC

      parameters:
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: array
                      items:
                        $ref: "#/components/schemas/User"
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                        format: nullable
                      next:
                        type: string
                        format: nullable
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: number
                      from:
                        type: number
                      last_page:
                        type: number
                      path:
                        type: string
                      per_page:
                        type: number
                      to:
                        type: number
                      total:
                        type: number
  /api/eam/users/{key}:
    get:
      description: Get an User
      summary: Get an User
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
  /api/eam/uom:
    get:
      description: |2+
         Get list of entities

         Filtering:

         * filter[name]=HelloFromMakiniAPI
         * filter[name:contains]=Makini
         * filter[name:startsWith]=Hello
         * filter[name:startsWith]=API
         * filter[createdAt:gt]=2023-11-07
         * filter[createdAt:gteq]=2023-11-07
         * filter[createdAt:lt]=2023-11-07
         * filter[createdAt:lted]=2023-11-07

         Sorting
         * sort[createdAt]=1 // DESC
         * sort[createdAt]=0 // ASC

      summary: |2+
         Get list of entities

         Filtering:

         * filter[name]=HelloFromMakiniAPI
         * filter[name:contains]=Makini
         * filter[name:startsWith]=Hello
         * filter[name:startsWith]=API
         * filter[createdAt:gt]=2023-11-07
         * filter[createdAt:gteq]=2023-11-07
         * filter[createdAt:lt]=2023-11-07
         * filter[createdAt:lted]=2023-11-07

         Sorting
         * sort[createdAt]=1 // DESC
         * sort[createdAt]=0 // ASC

      parameters:
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: array
                      items:
                        $ref: "#/components/schemas/UnitOfMeasure"
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                        format: nullable
                      next:
                        type: string
                        format: nullable
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: number
                      from:
                        type: number
                      last_page:
                        type: number
                      path:
                        type: string
                      per_page:
                        type: number
                      to:
                        type: number
                      total:
                        type: number
  /api/eam/uom/{key}:
    get:
      description: Get an UnitOfMeasure
      summary: Get an UnitOfMeasure
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
  /api/eam/companies:
    get:
      description: |2+
         Get list of entities

         Filtering:

         * filter[name]=HelloFromMakiniAPI
         * filter[name:contains]=Makini
         * filter[name:startsWith]=Hello
         * filter[name:startsWith]=API
         * filter[createdAt:gt]=2023-11-07
         * filter[createdAt:gteq]=2023-11-07
         * filter[createdAt:lt]=2023-11-07
         * filter[createdAt:lted]=2023-11-07

         Sorting
         * sort[createdAt]=1 // DESC
         * sort[createdAt]=0 // ASC

      summary: |2+
         Get list of entities

         Filtering:

         * filter[name]=HelloFromMakiniAPI
         * filter[name:contains]=Makini
         * filter[name:startsWith]=Hello
         * filter[name:startsWith]=API
         * filter[createdAt:gt]=2023-11-07
         * filter[createdAt:gteq]=2023-11-07
         * filter[createdAt:lt]=2023-11-07
         * filter[createdAt:lted]=2023-11-07

         Sorting
         * sort[createdAt]=1 // DESC
         * sort[createdAt]=0 // ASC

      parameters:
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: array
                      items:
                        $ref: "#/components/schemas/Company"
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                        format: nullable
                      next:
                        type: string
                        format: nullable
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: number
                      from:
                        type: number
                      last_page:
                        type: number
                      path:
                        type: string
                      per_page:
                        type: number
                      to:
                        type: number
                      total:
                        type: number
  /api/eam/companies/{key}:
    get:
      description: Get a Company
      summary: Get a Company
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
  /api/eam/vendors:
    get:
      description: |2+
         Get list of entities

         Filtering:

         * filter[name]=HelloFromMakiniAPI
         * filter[name:contains]=Makini
         * filter[name:startsWith]=Hello
         * filter[name:startsWith]=API
         * filter[createdAt:gt]=2023-11-07
         * filter[createdAt:gteq]=2023-11-07
         * filter[createdAt:lt]=2023-11-07
         * filter[createdAt:lted]=2023-11-07

         Sorting
         * sort[createdAt]=1 // DESC
         * sort[createdAt]=0 // ASC

      summary: |2+
         Get list of entities

         Filtering:

         * filter[name]=HelloFromMakiniAPI
         * filter[name:contains]=Makini
         * filter[name:startsWith]=Hello
         * filter[name:startsWith]=API
         * filter[createdAt:gt]=2023-11-07
         * filter[createdAt:gteq]=2023-11-07
         * filter[createdAt:lt]=2023-11-07
         * filter[createdAt:lted]=2023-11-07

         Sorting
         * sort[createdAt]=1 // DESC
         * sort[createdAt]=0 // ASC

      parameters:
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: array
                      items:
                        $ref: "#/components/schemas/Vendor"
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                        format: nullable
                      next:
                        type: string
                        format: nullable
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: number
                      from:
                        type: number
                      last_page:
                        type: number
                      path:
                        type: string
                      per_page:
                        type: number
                      to:
                        type: number
                      total:
                        type: number
  /api/eam/vendors/{key}:
    get:
      description: Get a Vendor
      summary: Get a Vendor
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
  /api/eam/customers:
    get:
      description: |2+
         Get list of entities

         Filtering:

         * filter[name]=HelloFromMakiniAPI
         * filter[name:contains]=Makini
         * filter[name:startsWith]=Hello
         * filter[name:startsWith]=API
         * filter[createdAt:gt]=2023-11-07
         * filter[createdAt:gteq]=2023-11-07
         * filter[createdAt:lt]=2023-11-07
         * filter[createdAt:lted]=2023-11-07

         Sorting
         * sort[createdAt]=1 // DESC
         * sort[createdAt]=0 // ASC

      summary: |2+
         Get list of entities

         Filtering:

         * filter[name]=HelloFromMakiniAPI
         * filter[name:contains]=Makini
         * filter[name:startsWith]=Hello
         * filter[name:startsWith]=API
         * filter[createdAt:gt]=2023-11-07
         * filter[createdAt:gteq]=2023-11-07
         * filter[createdAt:lt]=2023-11-07
         * filter[createdAt:lted]=2023-11-07

         Sorting
         * sort[createdAt]=1 // DESC
         * sort[createdAt]=0 // ASC

      parameters:
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: array
                      items:
                        $ref: "#/components/schemas/Customer"
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                        format: nullable
                      next:
                        type: string
                        format: nullable
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: number
                      from:
                        type: number
                      last_page:
                        type: number
                      path:
                        type: string
                      per_page:
                        type: number
                      to:
                        type: number
                      total:
                        type: number
  /api/eam/customers/{key}:
    get:
      description: Get a Customer
      summary: Get a Customer
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
  /api/eam/stocks:
    get:
      description: |2+
         Get list of entities

         Filtering:

         * filter[name]=HelloFromMakiniAPI
         * filter[name:contains]=Makini
         * filter[name:startsWith]=Hello
         * filter[name:startsWith]=API
         * filter[createdAt:gt]=2023-11-07
         * filter[createdAt:gteq]=2023-11-07
         * filter[createdAt:lt]=2023-11-07
         * filter[createdAt:lted]=2023-11-07

         Sorting
         * sort[createdAt]=1 // DESC
         * sort[createdAt]=0 // ASC

      summary: |2+
         Get list of entities

         Filtering:

         * filter[name]=HelloFromMakiniAPI
         * filter[name:contains]=Makini
         * filter[name:startsWith]=Hello
         * filter[name:startsWith]=API
         * filter[createdAt:gt]=2023-11-07
         * filter[createdAt:gteq]=2023-11-07
         * filter[createdAt:lt]=2023-11-07
         * filter[createdAt:lted]=2023-11-07

         Sorting
         * sort[createdAt]=1 // DESC
         * sort[createdAt]=0 // ASC

      parameters:
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: array
                      items:
                        $ref: "#/components/schemas/Stock"
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                        format: nullable
                      next:
                        type: string
                        format: nullable
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: number
                      from:
                        type: number
                      last_page:
                        type: number
                      path:
                        type: string
                      per_page:
                        type: number
                      to:
                        type: number
                      total:
                        type: number
  /api/eam/stocks/{key}:
    get:
      description: Get a Stock
      summary: Get a Stock
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
  /api/eam/purchase-orders/{key}/status:
    put:
      description: ""
      summary: ""
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PurchaseOrderStatus"
      requestBody:
        description: Request body
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  nullable: true
                  format: string
              example:
                status: string
  /api/eam/purchase-orders:
    get:
      description: |2+
         Get list of entities

         Filtering:

         * filter[name]=HelloFromMakiniAPI
         * filter[name:contains]=Makini
         * filter[name:startsWith]=Hello
         * filter[name:startsWith]=API
         * filter[createdAt:gt]=2023-11-07
         * filter[createdAt:gteq]=2023-11-07
         * filter[createdAt:lt]=2023-11-07
         * filter[createdAt:lted]=2023-11-07

         Sorting
         * sort[createdAt]=1 // DESC
         * sort[createdAt]=0 // ASC

      summary: |2+
         Get list of entities

         Filtering:

         * filter[name]=HelloFromMakiniAPI
         * filter[name:contains]=Makini
         * filter[name:startsWith]=Hello
         * filter[name:startsWith]=API
         * filter[createdAt:gt]=2023-11-07
         * filter[createdAt:gteq]=2023-11-07
         * filter[createdAt:lt]=2023-11-07
         * filter[createdAt:lted]=2023-11-07

         Sorting
         * sort[createdAt]=1 // DESC
         * sort[createdAt]=0 // ASC

      parameters:
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: array
                      items:
                        $ref: "#/components/schemas/PurchaseOrder"
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                        format: nullable
                      next:
                        type: string
                        format: nullable
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: number
                      from:
                        type: number
                      last_page:
                        type: number
                      path:
                        type: string
                      per_page:
                        type: number
                      to:
                        type: number
                      total:
                        type: number
    post:
      description: ""
      summary: ""
      parameters: []
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PurchaseOrder"
      requestBody:
        description: Request body
        content:
          application/json:
            schema:
              type: object
              properties:
                siteKey:
                  type: string
                  nullable: true
                  format: string
                vendorKey:
                  type: string
                  nullable: true
                  format: string
                code:
                  type: string
                  nullable: true
                  format: string
                orderNo:
                  type: string
                  nullable: true
                  format: string
                orderDate:
                  type: object
                  nullable: true
                  format: object
                statusKey:
                  type: string
                  nullable: true
                  format: string
                title:
                  type: string
                  nullable: true
                  format: string
                description:
                  type: string
                  nullable: true
                  format: string
                dueAt:
                  type: string
                  nullable: true
                  format: string
                approvedAt:
                  type: string
                  nullable: true
                  format: string
                completedAt:
                  type: string
                  nullable: true
                  format: string
                shippingMethod:
                  type: string
                  nullable: true
                  format: string
                terms:
                  type: string
                  nullable: true
                  format: string
                notes:
                  type: string
                  nullable: true
                  format: string
                currencyKey:
                  type: string
                  nullable: true
                  format: string
                totalNetValue:
                  type: object
                  nullable: true
                  format: object
                totalTaxValue:
                  type: object
                  nullable: true
                  format: object
                totalGrossValue:
                  type: object
                  nullable: true
                  format: object
                createdAt:
                  type: string
                  nullable: true
                  format: string
                updatedAt:
                  type: string
                  nullable: true
                  format: string
              example:
                siteKey: "03000581213502"
                vendorKey: "05000273731005"
                code: "22191243"
                orderNo: string
                orderDate: "2006-03-28T12:15:26Z"
                statusKey: "07000284121987"
                title: Dolor voluptatibus voluptatem fuga ipsam.
                description: Consequuntur unde numquam eaque amet.
                dueAt: "1986-09-09T21:11:52Z"
                approvedAt: "1990-08-14T17:53:05Z"
                completedAt: "1985-06-25T01:20:57Z"
                shippingMethod: string
                terms: string
                notes: string
                currencyKey: "03000064550733"
                totalNetValue: string
                totalTaxValue: string
                totalGrossValue: string
                createdAt: "1998-10-16T03:05:26Z"
                updatedAt: "2020-07-13T02:17:22Z"
  /api/eam/purchase-orders/{key}:
    get:
      description: Get a PurchaseOrder
      summary: Get a PurchaseOrder
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
    put:
      description: ""
      summary: ""
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PurchaseOrder"
      requestBody:
        description: Request body
        content:
          application/json:
            schema:
              type: object
              properties:
                siteKey:
                  type: string
                  nullable: true
                  format: string
                vendorKey:
                  type: string
                  nullable: true
                  format: string
                code:
                  type: string
                  nullable: false
                  format: string
                orderNo:
                  type: string
                  nullable: true
                  format: string
                orderDate:
                  type: object
                  nullable: true
                  format: object
                statusKey:
                  type: string
                  nullable: true
                  format: string
                title:
                  type: string
                  nullable: true
                  format: string
                description:
                  type: string
                  nullable: true
                  format: string
                dueAt:
                  type: string
                  nullable: true
                  format: string
                approvedAt:
                  type: string
                  nullable: true
                  format: string
                completedAt:
                  type: string
                  nullable: true
                  format: string
                shippingMethod:
                  type: string
                  nullable: true
                  format: string
                terms:
                  type: string
                  nullable: true
                  format: string
                notes:
                  type: string
                  nullable: true
                  format: string
                currencyKey:
                  type: string
                  nullable: true
                  format: string
                totalNetValue:
                  type: object
                  nullable: true
                  format: object
                totalTaxValue:
                  type: object
                  nullable: true
                  format: object
                totalGrossValue:
                  type: object
                  nullable: true
                  format: object
                createdAt:
                  type: string
                  nullable: true
                  format: string
                updatedAt:
                  type: string
                  nullable: true
                  format: string
              example:
                siteKey: "06000574295759"
                vendorKey: "04000325702075"
                code: "48951470"
                orderNo: string
                orderDate: "1994-12-30T04:41:49Z"
                statusKey: "00000071693449"
                title: Non non quis ut repellendus voluptas nostrum.
                description: Et ratione quasi eum enim est.
                dueAt: "1989-11-07T10:32:34Z"
                approvedAt: "2004-03-18T08:52:37Z"
                completedAt: "1988-01-21T16:21:38Z"
                shippingMethod: string
                terms: string
                notes: string
                currencyKey: "06000043898615"
                totalNetValue: string
                totalTaxValue: string
                totalGrossValue: string
                createdAt: "2009-01-10T22:34:10Z"
                updatedAt: "2017-05-29T02:00:02Z"
  /api/eam/purchase-orders.line-items:
    get:
      description: |2+
         Get list of entities

         Filtering:

         * filter[name]=HelloFromMakiniAPI
         * filter[name:contains]=Makini
         * filter[name:startsWith]=Hello
         * filter[name:startsWith]=API
         * filter[createdAt:gt]=2023-11-07
         * filter[createdAt:gteq]=2023-11-07
         * filter[createdAt:lt]=2023-11-07
         * filter[createdAt:lted]=2023-11-07

         Sorting
         * sort[createdAt]=1 // DESC
         * sort[createdAt]=0 // ASC

      summary: |2+
         Get list of entities

         Filtering:

         * filter[name]=HelloFromMakiniAPI
         * filter[name:contains]=Makini
         * filter[name:startsWith]=Hello
         * filter[name:startsWith]=API
         * filter[createdAt:gt]=2023-11-07
         * filter[createdAt:gteq]=2023-11-07
         * filter[createdAt:lt]=2023-11-07
         * filter[createdAt:lted]=2023-11-07

         Sorting
         * sort[createdAt]=1 // DESC
         * sort[createdAt]=0 // ASC

      parameters:
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: array
                      items:
                        $ref: "#/components/schemas/LineItem"
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                        format: nullable
                      next:
                        type: string
                        format: nullable
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: number
                      from:
                        type: number
                      last_page:
                        type: number
                      path:
                        type: string
                      per_page:
                        type: number
                      to:
                        type: number
                      total:
                        type: number
  /api/eam/purchase-orders.line-items/{key}:
    get:
      description: Get a LineItem
      summary: Get a LineItem
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
  /api/eam/materials/{partKey}/inventory:
    post:
      description: ""
      summary: ""
      parameters:
        - name: partKey
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Part"
      requestBody:
        description: Request body
        content:
          application/json:
            schema:
              type: object
              properties:
                filter:
                  type: array
                  nullable: false
                  format: array
                page:
                  type: integer
                  nullable: false
                  format: integer
                per_page:
                  type: integer
                  nullable: false
                  format: integer
                sort:
                  type: array
                  nullable: false
                  format: array
              example:
                filter: "[]"
                page: 10
                per_page: 10
                sort: "[]"
  /api/eam/materials/{key}/children:
    get:
      description: Get MaterialItem
      summary: Get MaterialItem
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
  /api/eam/materials:
    get:
      description: |2+
         Get list of entities

         Filtering:

         * filter[name]=HelloFromMakiniAPI
         * filter[name:contains]=Makini
         * filter[name:startsWith]=Hello
         * filter[name:startsWith]=API
         * filter[createdAt:gt]=2023-11-07
         * filter[createdAt:gteq]=2023-11-07
         * filter[createdAt:lt]=2023-11-07
         * filter[createdAt:lted]=2023-11-07

         Sorting
         * sort[createdAt]=1 // DESC
         * sort[createdAt]=0 // ASC

      summary: |2+
         Get list of entities

         Filtering:

         * filter[name]=HelloFromMakiniAPI
         * filter[name:contains]=Makini
         * filter[name:startsWith]=Hello
         * filter[name:startsWith]=API
         * filter[createdAt:gt]=2023-11-07
         * filter[createdAt:gteq]=2023-11-07
         * filter[createdAt:lt]=2023-11-07
         * filter[createdAt:lted]=2023-11-07

         Sorting
         * sort[createdAt]=1 // DESC
         * sort[createdAt]=0 // ASC

      parameters:
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: array
                      items:
                        $ref: "#/components/schemas/Part"
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                        format: nullable
                      next:
                        type: string
                        format: nullable
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: number
                      from:
                        type: number
                      last_page:
                        type: number
                      path:
                        type: string
                      per_page:
                        type: number
                      to:
                        type: number
                      total:
                        type: number
  /api/eam/materials/{key}:
    get:
      description: Get a Part
      summary: Get a Part
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
  /api/eam/assets/{key}/materials:
    get:
      description: Get MaterialItem
      summary: Get MaterialItem
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
  /api/eam/assets:
    get:
      description: |2+
         Get list of entities

         Filtering:

         * filter[name]=HelloFromMakiniAPI
         * filter[name:contains]=Makini
         * filter[name:startsWith]=Hello
         * filter[name:startsWith]=API
         * filter[createdAt:gt]=2023-11-07
         * filter[createdAt:gteq]=2023-11-07
         * filter[createdAt:lt]=2023-11-07
         * filter[createdAt:lted]=2023-11-07

         Sorting
         * sort[createdAt]=1 // DESC
         * sort[createdAt]=0 // ASC

      summary: |2+
         Get list of entities

         Filtering:

         * filter[name]=HelloFromMakiniAPI
         * filter[name:contains]=Makini
         * filter[name:startsWith]=Hello
         * filter[name:startsWith]=API
         * filter[createdAt:gt]=2023-11-07
         * filter[createdAt:gteq]=2023-11-07
         * filter[createdAt:lt]=2023-11-07
         * filter[createdAt:lted]=2023-11-07

         Sorting
         * sort[createdAt]=1 // DESC
         * sort[createdAt]=0 // ASC

      parameters:
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: array
                      items:
                        $ref: "#/components/schemas/Asset"
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                        format: nullable
                      next:
                        type: string
                        format: nullable
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: number
                      from:
                        type: number
                      last_page:
                        type: number
                      path:
                        type: string
                      per_page:
                        type: number
                      to:
                        type: number
                      total:
                        type: number
  /api/eam/assets/{key}:
    get:
      description: Get an Asset
      summary: Get an Asset
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
    put:
      description: ""
      summary: ""
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Asset"
      requestBody:
        description: Request body
        content:
          application/json:
            schema:
              type: object
              properties:
                siteKey:
                  type: string
                  nullable: true
                  format: string
                parentKey:
                  type: string
                  nullable: true
                  format: string
                vendorKey:
                  type: string
                  nullable: true
                  format: string
                modelKey:
                  type: string
                  nullable: true
                  format: string
                teamKey:
                  type: string
                  nullable: true
                  format: string
                locationKey:
                  type: string
                  nullable: true
                  format: string
                accountKey:
                  type: string
                  nullable: true
                  format: string
                name:
                  type: string
                  nullable: true
                  format: string
                description:
                  type: string
                  nullable: true
                  format: string
                notes:
                  type: string
                  nullable: true
                  format: string
                categoryName:
                  type: string
                  nullable: true
                  format: string
                criticality:
                  type: string
                  nullable: true
                  format: string
                isActive:
                  type: boolean
                  nullable: true
                  format: boolean
                manufacturerName:
                  type: string
                  nullable: true
                  format: string
                modelName:
                  type: string
                  nullable: true
                  format: string
                serialNumber:
                  type: string
                  nullable: true
                  format: string
                activatedAt:
                  type: string
                  nullable: true
                  format: string
                deactivatedAt:
                  type: string
                  nullable: true
                  format: string
              example:
                siteKey: "08000169199381"
                parentKey: "03000214372117"
                vendorKey: "03000808670923"
                modelKey: "05000298039223"
                teamKey: "08000726277527"
                locationKey: "03000256999457"
                accountKey: "08000425135776"
                name: string
                description: Tenetur sunt totam ratione non velit.
                notes: string
                categoryName: string
                criticality: string
                isActive: string
                manufacturerName: string
                modelName: string
                serialNumber: string
                activatedAt: "1992-11-19T21:16:22Z"
                deactivatedAt: "1998-12-29T00:24:23Z"
  /api/eam/assets-downtime:
    get:
      description: |2+
         Get list of entities

         Filtering:

         * filter[name]=HelloFromMakiniAPI
         * filter[name:contains]=Makini
         * filter[name:startsWith]=Hello
         * filter[name:startsWith]=API
         * filter[createdAt:gt]=2023-11-07
         * filter[createdAt:gteq]=2023-11-07
         * filter[createdAt:lt]=2023-11-07
         * filter[createdAt:lted]=2023-11-07

         Sorting
         * sort[createdAt]=1 // DESC
         * sort[createdAt]=0 // ASC

      summary: |2+
         Get list of entities

         Filtering:

         * filter[name]=HelloFromMakiniAPI
         * filter[name:contains]=Makini
         * filter[name:startsWith]=Hello
         * filter[name:startsWith]=API
         * filter[createdAt:gt]=2023-11-07
         * filter[createdAt:gteq]=2023-11-07
         * filter[createdAt:lt]=2023-11-07
         * filter[createdAt:lted]=2023-11-07

         Sorting
         * sort[createdAt]=1 // DESC
         * sort[createdAt]=0 // ASC

      parameters:
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: array
                      items:
                        $ref: "#/components/schemas/AssetDownTime"
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                        format: nullable
                      next:
                        type: string
                        format: nullable
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: number
                      from:
                        type: number
                      last_page:
                        type: number
                      path:
                        type: string
                      per_page:
                        type: number
                      to:
                        type: number
                      total:
                        type: number
  /api/eam/assets-downtime/{key}:
    get:
      description: Get an AssetDownTime
      summary: Get an AssetDownTime
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
  /api/eam/asset-templates/{key}/materials:
    get:
      description: Get MaterialItem
      summary: Get MaterialItem
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
  /api/eam/asset-templates:
    get:
      description: |2+
         Get list of entities

         Filtering:

         * filter[name]=HelloFromMakiniAPI
         * filter[name:contains]=Makini
         * filter[name:startsWith]=Hello
         * filter[name:startsWith]=API
         * filter[createdAt:gt]=2023-11-07
         * filter[createdAt:gteq]=2023-11-07
         * filter[createdAt:lt]=2023-11-07
         * filter[createdAt:lted]=2023-11-07

         Sorting
         * sort[createdAt]=1 // DESC
         * sort[createdAt]=0 // ASC

      summary: |2+
         Get list of entities

         Filtering:

         * filter[name]=HelloFromMakiniAPI
         * filter[name:contains]=Makini
         * filter[name:startsWith]=Hello
         * filter[name:startsWith]=API
         * filter[createdAt:gt]=2023-11-07
         * filter[createdAt:gteq]=2023-11-07
         * filter[createdAt:lt]=2023-11-07
         * filter[createdAt:lted]=2023-11-07

         Sorting
         * sort[createdAt]=1 // DESC
         * sort[createdAt]=0 // ASC

      parameters:
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: array
                      items:
                        $ref: "#/components/schemas/Model"
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                        format: nullable
                      next:
                        type: string
                        format: nullable
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: number
                      from:
                        type: number
                      last_page:
                        type: number
                      path:
                        type: string
                      per_page:
                        type: number
                      to:
                        type: number
                      total:
                        type: number
  /api/eam/asset-templates/{key}:
    get:
      description: Get a Model
      summary: Get a Model
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
  /api/eam/meters:
    get:
      description: |2+
         Get list of entities

         Filtering:

         * filter[name]=HelloFromMakiniAPI
         * filter[name:contains]=Makini
         * filter[name:startsWith]=Hello
         * filter[name:startsWith]=API
         * filter[createdAt:gt]=2023-11-07
         * filter[createdAt:gteq]=2023-11-07
         * filter[createdAt:lt]=2023-11-07
         * filter[createdAt:lted]=2023-11-07

         Sorting
         * sort[createdAt]=1 // DESC
         * sort[createdAt]=0 // ASC

      summary: |2+
         Get list of entities

         Filtering:

         * filter[name]=HelloFromMakiniAPI
         * filter[name:contains]=Makini
         * filter[name:startsWith]=Hello
         * filter[name:startsWith]=API
         * filter[createdAt:gt]=2023-11-07
         * filter[createdAt:gteq]=2023-11-07
         * filter[createdAt:lt]=2023-11-07
         * filter[createdAt:lted]=2023-11-07

         Sorting
         * sort[createdAt]=1 // DESC
         * sort[createdAt]=0 // ASC

      parameters:
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: array
                      items:
                        $ref: "#/components/schemas/Counter"
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                        format: nullable
                      next:
                        type: string
                        format: nullable
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: number
                      from:
                        type: number
                      last_page:
                        type: number
                      path:
                        type: string
                      per_page:
                        type: number
                      to:
                        type: number
                      total:
                        type: number
  /api/eam/meters/{key}:
    get:
      description: Get a Counter
      summary: Get a Counter
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
  /api/eam/meter-readings:
    get:
      description: |2+
         Get list of entities

         Filtering:

         * filter[name]=HelloFromMakiniAPI
         * filter[name:contains]=Makini
         * filter[name:startsWith]=Hello
         * filter[name:startsWith]=API
         * filter[createdAt:gt]=2023-11-07
         * filter[createdAt:gteq]=2023-11-07
         * filter[createdAt:lt]=2023-11-07
         * filter[createdAt:lted]=2023-11-07

         Sorting
         * sort[createdAt]=1 // DESC
         * sort[createdAt]=0 // ASC

      summary: |2+
         Get list of entities

         Filtering:

         * filter[name]=HelloFromMakiniAPI
         * filter[name:contains]=Makini
         * filter[name:startsWith]=Hello
         * filter[name:startsWith]=API
         * filter[createdAt:gt]=2023-11-07
         * filter[createdAt:gteq]=2023-11-07
         * filter[createdAt:lt]=2023-11-07
         * filter[createdAt:lted]=2023-11-07

         Sorting
         * sort[createdAt]=1 // DESC
         * sort[createdAt]=0 // ASC

      parameters:
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: array
                      items:
                        $ref: "#/components/schemas/CounterReading"
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                        format: nullable
                      next:
                        type: string
                        format: nullable
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: number
                      from:
                        type: number
                      last_page:
                        type: number
                      path:
                        type: string
                      per_page:
                        type: number
                      to:
                        type: number
                      total:
                        type: number
  /api/eam/meter-readings/{key}:
    get:
      description: Get a CounterReading
      summary: Get a CounterReading
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
  /api/eam/pm/{key}/materials:
    get:
      description: Get MaterialItem
      summary: Get MaterialItem
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
  /api/eam/pm:
    get:
      description: |2+
         Get list of entities

         Filtering:

         * filter[name]=HelloFromMakiniAPI
         * filter[name:contains]=Makini
         * filter[name:startsWith]=Hello
         * filter[name:startsWith]=API
         * filter[createdAt:gt]=2023-11-07
         * filter[createdAt:gteq]=2023-11-07
         * filter[createdAt:lt]=2023-11-07
         * filter[createdAt:lted]=2023-11-07

         Sorting
         * sort[createdAt]=1 // DESC
         * sort[createdAt]=0 // ASC

      summary: |2+
         Get list of entities

         Filtering:

         * filter[name]=HelloFromMakiniAPI
         * filter[name:contains]=Makini
         * filter[name:startsWith]=Hello
         * filter[name:startsWith]=API
         * filter[createdAt:gt]=2023-11-07
         * filter[createdAt:gteq]=2023-11-07
         * filter[createdAt:lt]=2023-11-07
         * filter[createdAt:lted]=2023-11-07

         Sorting
         * sort[createdAt]=1 // DESC
         * sort[createdAt]=0 // ASC

      parameters:
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: array
                      items:
                        $ref: "#/components/schemas/PreventiveMaintenance"
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                        format: nullable
                      next:
                        type: string
                        format: nullable
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: number
                      from:
                        type: number
                      last_page:
                        type: number
                      path:
                        type: string
                      per_page:
                        type: number
                      to:
                        type: number
                      total:
                        type: number
  /api/eam/pm/{key}:
    get:
      description: Get a PreventiveMaintenance
      summary: Get a PreventiveMaintenance
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
  /api/eam/work-orders/{key}/materials:
    get:
      description: Get MaterialItem
      summary: Get MaterialItem
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
  /api/eam/work-orders/{key}/status:
    put:
      description: ""
      summary: ""
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkOrderStatus"
      requestBody:
        description: Request body
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  nullable: true
                  format: string
              example:
                status: string
  /api/eam/work-orders:
    get:
      description: |2+
         Get list of entities

         Filtering:

         * filter[name]=HelloFromMakiniAPI
[...]
