{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "API Docs - EAM/CMMS",
    "description": "API Docs",
    "x-logo": {
      "url": "https://cdn.prod.website-files.com/6075c27738665c833a39fd83/608566aaabf4b474f887440f_Light.svg",
      "backgroundColor": "#000000",
      "altText": "Makini Logo"
    }
  },
  "servers": [
    {
      "url": "https://api.makini.io"
    }
  ],
  "paths": {
    "/api/eam/organizations": {
      "get": {
        "description": "Organization endpoint provides access to information about organizations, including their names, contact information, and structures. It is a top-level entity in the system, available for systems that support a multi-organizational structure.\n <details>\n   <summary>Filtering</summary>\n\n     * filter[name]=HelloFromMakiniAPI\n     * filter[name:contains]=Makini\n     * filter[name:startsWith]=Hello\n     * filter[name:startsWith]=API\n     * filter[createdAt:gt]=2023-11-07\n     * filter[createdAt:gteq]=2023-11-07\n     * filter[createdAt:lt]=2023-11-07\n     * filter[createdAt:lted]=2023-11-07\n\n </details>\n <details>\n   <summary>Filter matching</summary>\n\n     * filterMatch=any // OR\n     * filterMatch=all // AND\n\n </details>\n <details>\n   <summary>Sorting</summary>\n\n     * sort[createdAt]=1 // DESC\n     * sort[createdAt]=0 // ASC\n\n </details>\n\n",
        "summary": "List Organization ",
        "parameters": [
          {
            "name": "filter",
            "description": "array",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "page",
            "description": "integer",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "description": "array",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "per_page",
            "description": "integer",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "tags": ["Organization"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Organization"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "string"
                        },
                        "last": {
                          "type": "string"
                        },
                        "prev": {
                          "type": "string",
                          "format": "nullable"
                        },
                        "next": {
                          "type": "string",
                          "format": "nullable"
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "number"
                        },
                        "from": {
                          "type": "number"
                        },
                        "last_page": {
                          "type": "number"
                        },
                        "path": {
                          "type": "string"
                        },
                        "per_page": {
                          "type": "number"
                        },
                        "to": {
                          "type": "number"
                        },
                        "total": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/eam/organizations/{key}": {
      "get": {
        "description": "Organization endpoint provides access to information about organizations, including their names, contact information, and structures. It is a top-level entity in the system, available for systems that support a multi-organizational structure.\n",
        "summary": "Get an Organization ",
        "parameters": [
          {
            "name": "key",
            "description": "string|required",
            "in": "path",
            "style": "simple",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": ["Organization"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Organization"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/eam/sites": {
      "get": {
        "description": "Site represents a physical location or facility where equipment is installed, or operations are conducted. This can include manufacturing plants or offices.\n",
        "summary": "List Site ",
        "parameters": [
          {
            "name": "filter",
            "description": "array",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "page",
            "description": "integer",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "description": "array",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "array"
            }
          }
        ],
        "tags": ["Site"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Site"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "string"
                        },
                        "last": {
                          "type": "string"
                        },
                        "prev": {
                          "type": "string",
                          "format": "nullable"
                        },
                        "next": {
                          "type": "string",
                          "format": "nullable"
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "number"
                        },
                        "from": {
                          "type": "number"
                        },
                        "last_page": {
                          "type": "number"
                        },
                        "path": {
                          "type": "string"
                        },
                        "per_page": {
                          "type": "number"
                        },
                        "to": {
                          "type": "number"
                        },
                        "total": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/eam/sites/{key}": {
      "get": {
        "description": "Site represents a physical location or facility where equipment is installed, or operations are conducted. This can include manufacturing plants or offices.\n",
        "summary": "Get a Site ",
        "parameters": [
          {
            "name": "key",
            "description": "string|required",
            "in": "path",
            "style": "simple",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": ["Site"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Site"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/eam/locations": {
      "get": {
        "description": "Location is a specific subdivision within a site where equipment or material stock is located. For example, a particular machine may be situated in a specific area within a manufacturing plant, or materials can be stored in a specific warehouse.\n <details>\n   <summary>Filtering</summary>\n\n     * filter[name]=HelloFromMakiniAPI\n     * filter[name:contains]=Makini\n     * filter[name:startsWith]=Hello\n     * filter[name:startsWith]=API\n     * filter[createdAt:gt]=2023-11-07\n     * filter[createdAt:gteq]=2023-11-07\n     * filter[createdAt:lt]=2023-11-07\n     * filter[createdAt:lted]=2023-11-07\n\n </details>\n <details>\n   <summary>Filter matching</summary>\n\n     * filterMatch=any // OR\n     * filterMatch=all // AND\n\n </details>\n <details>\n   <summary>Sorting</summary>\n\n     * sort[createdAt]=1 // DESC\n     * sort[createdAt]=0 // ASC\n\n </details>\n\n",
        "summary": "List Location ",
        "parameters": [
          {
            "name": "filter",
            "description": "array",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "page",
            "description": "integer",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "description": "array",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "per_page",
            "description": "integer",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "tags": ["Location"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Location"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "string"
                        },
                        "last": {
                          "type": "string"
                        },
                        "prev": {
                          "type": "string",
                          "format": "nullable"
                        },
                        "next": {
                          "type": "string",
                          "format": "nullable"
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "number"
                        },
                        "from": {
                          "type": "number"
                        },
                        "last_page": {
                          "type": "number"
                        },
                        "path": {
                          "type": "string"
                        },
                        "per_page": {
                          "type": "number"
                        },
                        "to": {
                          "type": "number"
                        },
                        "total": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/eam/locations/{key}": {
      "get": {
        "description": "Location is a specific subdivision within a site where equipment or material stock is located. For example, a particular machine may be situated in a specific area within a manufacturing plant, or materials can be stored in a specific warehouse.\n",
        "summary": "Get a Location ",
        "parameters": [
          {
            "name": "key",
            "description": "string|required",
            "in": "path",
            "style": "simple",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": ["Location"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Location"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/eam/storerooms": {
      "get": {
        "description": "Is a designated space within a location used for the storage and management of inventory, supplies, or equipment.\n <details>\n   <summary>Filtering</summary>\n\n     * filter[name]=HelloFromMakiniAPI\n     * filter[name:contains]=Makini\n     * filter[name:startsWith]=Hello\n     * filter[name:startsWith]=API\n     * filter[createdAt:gt]=2023-11-07\n     * filter[createdAt:gteq]=2023-11-07\n     * filter[createdAt:lt]=2023-11-07\n     * filter[createdAt:lted]=2023-11-07\n\n </details>\n <details>\n   <summary>Filter matching</summary>\n\n     * filterMatch=any // OR\n     * filterMatch=all // AND\n\n </details>\n <details>\n   <summary>Sorting</summary>\n\n     * sort[createdAt]=1 // DESC\n     * sort[createdAt]=0 // ASC\n\n </details>\n\n",
        "summary": "List Storeroom ",
        "parameters": [
          {
            "name": "filter",
            "description": "array",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "page",
            "description": "integer",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "description": "array",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "per_page",
            "description": "integer",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "tags": ["Storeroom"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Storeroom"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "string"
                        },
                        "last": {
                          "type": "string"
                        },
                        "prev": {
                          "type": "string",
                          "format": "nullable"
                        },
                        "next": {
                          "type": "string",
                          "format": "nullable"
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "number"
                        },
                        "from": {
                          "type": "number"
                        },
                        "last_page": {
                          "type": "number"
                        },
                        "path": {
                          "type": "string"
                        },
                        "per_page": {
                          "type": "number"
                        },
                        "to": {
                          "type": "number"
                        },
                        "total": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/eam/storerooms/{key}": {
      "get": {
        "description": "Is a designated space within a location used for the storage and management of inventory, supplies, or equipment.\n",
        "summary": "Get a Storeroom ",
        "parameters": [
          {
            "name": "key",
            "description": "string|required",
            "in": "path",
            "style": "simple",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": ["Storeroom"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Storeroom"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/eam/accounts": {
      "get": {
        "description": "# Get list accounts\n\nIs a financial record in the general ledger, tracking debit and credit transactions to reflect a business's financial transactions and positions.\n <details>\n   <summary>Filtering</summary>\n\n     * filter[name]=HelloFromMakiniAPI\n     * filter[name:contains]=Makini\n     * filter[name:startsWith]=Hello\n     * filter[name:startsWith]=API\n     * filter[createdAt:gt]=2023-11-07\n     * filter[createdAt:gteq]=2023-11-07\n     * filter[createdAt:lt]=2023-11-07\n     * filter[createdAt:lted]=2023-11-07\n\n </details>\n <details>\n   <summary>Filter matching</summary>\n\n     * filterMatch=any // OR\n     * filterMatch=all // AND\n\n </details>\n <details>\n   <summary>Sorting</summary>\n\n     * sort[createdAt]=1 // DESC\n     * sort[createdAt]=0 // ASC\n\n </details>\n\n",
        "summary": "List Account ",
        "parameters": [
          {
            "name": "filter",
            "description": "array",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "page",
            "description": "integer",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "description": "array",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "per_page",
            "description": "integer",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "tags": ["Account"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Account"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "string"
                        },
                        "last": {
                          "type": "string"
                        },
                        "prev": {
                          "type": "string",
                          "format": "nullable"
                        },
                        "next": {
                          "type": "string",
                          "format": "nullable"
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "number"
                        },
                        "from": {
                          "type": "number"
                        },
                        "last_page": {
                          "type": "number"
                        },
                        "path": {
                          "type": "string"
                        },
                        "per_page": {
                          "type": "number"
                        },
                        "to": {
                          "type": "number"
                        },
                        "total": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/eam/accounts/{key}": {
      "get": {
        "description": "Is a financial record in the general ledger, tracking debit and credit transactions to reflect a business's financial transactions and positions.\n",
        "summary": "Get an Account ",
        "parameters": [
          {
            "name": "key",
            "description": "string|required",
            "in": "path",
            "style": "simple",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": ["Account"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Account"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/eam/teams": {
      "get": {
        "description": "A division responsible for conducting asset maintenance. It can be assigned to execute work orders.\n <details>\n   <summary>Filtering</summary>\n\n     * filter[name]=HelloFromMakiniAPI\n     * filter[name:contains]=Makini\n     * filter[name:startsWith]=Hello\n     * filter[name:startsWith]=API\n     * filter[createdAt:gt]=2023-11-07\n     * filter[createdAt:gteq]=2023-11-07\n     * filter[createdAt:lt]=2023-11-07\n     * filter[createdAt:lted]=2023-11-07\n\n </details>\n <details>\n   <summary>Filter matching</summary>\n\n     * filterMatch=any // OR\n     * filterMatch=all // AND\n\n </details>\n <details>\n   <summary>Sorting</summary>\n\n     * sort[createdAt]=1 // DESC\n     * sort[createdAt]=0 // ASC\n\n </details>\n\n",
        "summary": "List Team ",
        "parameters": [
          {
            "name": "filter",
            "description": "array",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "page",
            "description": "integer",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "description": "array",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "per_page",
            "description": "integer",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "tags": ["Team"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Team"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "string"
                        },
                        "last": {
                          "type": "string"
                        },
                        "prev": {
                          "type": "string",
                          "format": "nullable"
                        },
                        "next": {
                          "type": "string",
                          "format": "nullable"
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "number"
                        },
                        "from": {
                          "type": "number"
                        },
                        "last_page": {
                          "type": "number"
                        },
                        "path": {
                          "type": "string"
                        },
                        "per_page": {
                          "type": "number"
                        },
                        "to": {
                          "type": "number"
                        },
                        "total": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/eam/teams/{key}": {
      "get": {
        "description": "A division responsible for conducting asset maintenance. It can be assigned to execute work orders.\n",
        "summary": "Get a Team ",
        "parameters": [
          {
            "name": "key",
            "description": "string|required",
            "in": "path",
            "style": "simple",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": ["Team"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Team"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/eam/labors": {
      "get": {
        "description": "Refers to internal or external human resources involved in the execution of work orders. It is used to track cost and time for planning purposes.\n <details>\n   <summary>Filtering</summary>\n\n     * filter[name]=HelloFromMakiniAPI\n     * filter[name:contains]=Makini\n     * filter[name:startsWith]=Hello\n     * filter[name:startsWith]=API\n     * filter[createdAt:gt]=2023-11-07\n     * filter[createdAt:gteq]=2023-11-07\n     * filter[createdAt:lt]=2023-11-07\n     * filter[createdAt:lted]=2023-11-07\n\n </details>\n <details>\n   <summary>Filter matching</summary>\n\n     * filterMatch=any // OR\n     * filterMatch=all // AND\n\n </details>\n <details>\n   <summary>Sorting</summary>\n\n     * sort[createdAt]=1 // DESC\n     * sort[createdAt]=0 // ASC\n\n </details>\n\n",
        "summary": "List Labor ",
        "parameters": [
          {
            "name": "filter",
            "description": "array",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "page",
            "description": "integer",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "description": "array",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "per_page",
            "description": "integer",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "tags": ["Labor"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Labor"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "string"
                        },
                        "last": {
                          "type": "string"
                        },
                        "prev": {
                          "type": "string",
                          "format": "nullable"
                        },
                        "next": {
                          "type": "string",
                          "format": "nullable"
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "number"
                        },
                        "from": {
                          "type": "number"
                        },
                        "last_page": {
                          "type": "number"
                        },
                        "path": {
                          "type": "string"
                        },
                        "per_page": {
                          "type": "number"
                        },
                        "to": {
                          "type": "number"
                        },
                        "total": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/eam/labors/{key}": {
      "get": {
        "description": "Refers to internal or external human resources involved in the execution of work orders. It is used to track cost and time for planning purposes.\n",
        "summary": "Get a Labor ",
        "parameters": [
          {
            "name": "key",
            "description": "string|required",
            "in": "path",
            "style": "simple",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": ["Labor"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Labor"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/eam/users": {
      "get": {
        "description": "User account in the system\n <details>\n   <summary>Filtering</summary>\n\n     * filter[name]=HelloFromMakiniAPI\n     * filter[name:contains]=Makini\n     * filter[name:startsWith]=Hello\n     * filter[name:startsWith]=API\n     * filter[createdAt:gt]=2023-11-07\n     * filter[createdAt:gteq]=2023-11-07\n     * filter[createdAt:lt]=2023-11-07\n     * filter[createdAt:lted]=2023-11-07\n\n </details>\n <details>\n   <summary>Filter matching</summary>\n\n     * filterMatch=any // OR\n     * filterMatch=all // AND\n\n </details>\n <details>\n   <summary>Sorting</summary>\n\n     * sort[createdAt]=1 // DESC\n     * sort[createdAt]=0 // ASC\n\n </details>\n\n",
        "summary": "List User ",
        "parameters": [
          {
            "name": "filter",
            "description": "array",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "page",
            "description": "integer",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "description": "array",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "per_page",
            "description": "integer",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "tags": ["User"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/User"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "string"
                        },
                        "last": {
                          "type": "string"
                        },
                        "prev": {
                          "type": "string",
                          "format": "nullable"
                        },
                        "next": {
                          "type": "string",
                          "format": "nullable"
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "number"
                        },
                        "from": {
                          "type": "number"
                        },
                        "last_page": {
                          "type": "number"
                        },
                        "path": {
                          "type": "string"
                        },
                        "per_page": {
                          "type": "number"
                        },
                        "to": {
                          "type": "number"
                        },
                        "total": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/eam/users/{key}": {
      "get": {
        "description": "User account in the system\n",
        "summary": "Get an User ",
        "parameters": [
          {
            "name": "key",
            "description": "string|required",
            "in": "path",
            "style": "simple",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": ["User"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/User"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/eam/uom": {
      "get": {
        "description": "Units of Measure represent standardized values used for measuring and accounting for materials.\n <details>\n   <summary>Filtering</summary>\n\n     * filter[name]=HelloFromMakiniAPI\n     * filter[name:contains]=Makini\n     * filter[name:startsWith]=Hello\n     * filter[name:startsWith]=API\n     * filter[createdAt:gt]=2023-11-07\n     * filter[createdAt:gteq]=2023-11-07\n     * filter[createdAt:lt]=2023-11-07\n     * filter[createdAt:lted]=2023-11-07\n\n </details>\n <details>\n   <summary>Filter matching</summary>\n\n     * filterMatch=any // OR\n     * filterMatch=all // AND\n\n </details>\n <details>\n   <summary>Sorting</summary>\n\n     * sort[createdAt]=1 // DESC\n     * sort[createdAt]=0 // ASC\n\n </details>\n\n",
        "summary": "List UnitOfMeasure ",
        "parameters": [
          {
            "name": "filter",
            "description": "array",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "page",
            "description": "integer",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "description": "array",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "per_page",
            "description": "integer",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "tags": ["UnitOfMeasure"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/UnitOfMeasure"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "string"
                        },
                        "last": {
                          "type": "string"
                        },
                        "prev": {
                          "type": "string",
                          "format": "nullable"
                        },
                        "next": {
                          "type": "string",
                          "format": "nullable"
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "number"
                        },
                        "from": {
                          "type": "number"
                        },
                        "last_page": {
                          "type": "number"
                        },
                        "path": {
                          "type": "string"
                        },
                        "per_page": {
                          "type": "number"
                        },
                        "to": {
                          "type": "number"
                        },
                        "total": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/eam/uom/{key}": {
      "get": {
        "description": "Units of Measure represent standardized values used for measuring and accounting for materials.\n",
        "summary": "Get an UnitOfMeasure ",
        "parameters": [
          {
            "name": "key",
            "description": "string|required",
            "in": "path",
            "style": "simple",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": ["UnitOfMeasure"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/UnitOfMeasure"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/eam/companies": {
      "get": {
        "description": "Contact information for a third-party entity.\n <details>\n   <summary>Filtering</summary>\n\n     * filter[name]=HelloFromMakiniAPI\n     * filter[name:contains]=Makini\n     * filter[name:startsWith]=Hello\n     * filter[name:startsWith]=API\n     * filter[createdAt:gt]=2023-11-07\n     * filter[createdAt:gteq]=2023-11-07\n     * filter[createdAt:lt]=2023-11-07\n     * filter[createdAt:lted]=2023-11-07\n\n </details>\n <details>\n   <summary>Filter matching</summary>\n\n     * filterMatch=any // OR\n     * filterMatch=all // AND\n\n </details>\n <details>\n   <summary>Sorting</summary>\n\n     * sort[createdAt]=1 // DESC\n     * sort[createdAt]=0 // ASC\n\n </details>\n\n",
        "summary": "List Company ",
        "parameters": [
          {
            "name": "filter",
            "description": "array",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "page",
            "description": "integer",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "description": "array",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "per_page",
            "description": "integer",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "tags": ["Company"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Company"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "string"
                        },
                        "last": {
                          "type": "string"
                        },
                        "prev": {
                          "type": "string",
                          "format": "nullable"
                        },
                        "next": {
                          "type": "string",
                          "format": "nullable"
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "number"
                        },
                        "from": {
                          "type": "number"
                        },
                        "last_page": {
                          "type": "number"
                        },
                        "path": {
                          "type": "string"
                        },
                        "per_page": {
                          "type": "number"
                        },
                        "to": {
                          "type": "number"
                        },
                        "total": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/eam/companies/{key}": {
      "get": {
        "description": "Contact information for a third-party entity.\n",
        "summary": "Get a Company ",
        "parameters": [
          {
            "name": "key",
            "description": "string|required",
            "in": "path",
            "style": "simple",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": ["Company"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Company"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/eam/vendors": {
      "get": {
        "description": "An external entity that provides services or supplies. Subdivision of Company\n <details>\n   <summary>Filtering</summary>\n\n     * filter[name]=HelloFromMakiniAPI\n     * filter[name:contains]=Makini\n     * filter[name:startsWith]=Hello\n     * filter[name:startsWith]=API\n     * filter[createdAt:gt]=2023-11-07\n     * filter[createdAt:gteq]=2023-11-07\n     * filter[createdAt:lt]=2023-11-07\n     * filter[createdAt:lted]=2023-11-07\n\n </details>\n <details>\n   <summary>Filter matching</summary>\n\n     * filterMatch=any // OR\n     * filterMatch=all // AND\n\n </details>\n <details>\n   <summary>Sorting</summary>\n\n     * sort[createdAt]=1 // DESC\n     * sort[createdAt]=0 // ASC\n\n </details>\n\n",
        "summary": "List Vendor ",
        "parameters": [
          {
            "name": "filter",
            "description": "array",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "page",
            "description": "integer",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "description": "array",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "per_page",
            "description": "integer",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "tags": ["Vendor"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Vendor"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "string"
                        },
                        "last": {
                          "type": "string"
                        },
                        "prev": {
                          "type": "string",
                          "format": "nullable"
                        },
                        "next": {
                          "type": "string",
                          "format": "nullable"
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "number"
                        },
                        "from": {
                          "type": "number"
                        },
                        "last_page": {
                          "type": "number"
                        },
                        "path": {
                          "type": "string"
                        },
                        "per_page": {
                          "type": "number"
                        },
                        "to": {
                          "type": "number"
                        },
                        "total": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/eam/vendors/{key}": {
      "get": {
        "description": "An external entity that provides services or supplies. Subdivision of Company\n",
        "summary": "Get a Vendor ",
        "parameters": [
          {
            "name": "key",
            "description": "string|required",
            "in": "path",
            "style": "simple",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": ["Vendor"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Vendor"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/eam/customers": {
      "get": {
        "description": "An external entity that can consume products or services, used as a target in sales and shipment orders. Subdivision of Company\n <details>\n   <summary>Filtering</summary>\n\n     * filter[name]=HelloFromMakiniAPI\n     * filter[name:contains]=Makini\n     * filter[name:startsWith]=Hello\n     * filter[name:startsWith]=API\n     * filter[createdAt:gt]=2023-11-07\n     * filter[createdAt:gteq]=2023-11-07\n     * filter[createdAt:lt]=2023-11-07\n     * filter[createdAt:lted]=2023-11-07\n\n </details>\n <details>\n   <summary>Filter matching</summary>\n\n     * filterMatch=any // OR\n     * filterMatch=all // AND\n\n </details>\n <details>\n   <summary>Sorting</summary>\n\n     * sort[createdAt]=1 // DESC\n     * sort[createdAt]=0 // ASC\n\n </details>\n\n",
        "summary": "List Customer ",
        "parameters": [
          {
            "name": "filter",
            "description": "array",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "page",
            "description": "integer",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "description": "array",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "per_page",
            "description": "integer",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "tags": ["Customer"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Customer"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "string"
                        },
                        "last": {
                          "type": "string"
                        },
                        "prev": {
                          "type": "string",
                          "format": "nullable"
                        },
                        "next": {
                          "type": "string",
                          "format": "nullable"
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "number"
                        },
                        "from": {
                          "type": "number"
                        },
                        "last_page": {
                          "type": "number"
                        },
                        "path": {
                          "type": "string"
                        },
                        "per_page": {
                          "type": "number"
                        },
                        "to": {
                          "type": "number"
                        },
                        "total": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "description": "\n[Detail validations](docs/platform-validation.md)\n",
        "summary": "Create a Customer ",
        "parameters": [],
        "tags": ["Customer"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Customer"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "Request body",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "code": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "companyKey": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  }
                },
                "example": {
                  "name": "string",
                  "code": "73746256",
                  "companyKey": "01000033099220"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/eam/customers/{key}": {
      "get": {
        "description": "An external entity that can consume products or services, used as a target in sales and shipment orders. Subdivision of Company\n",
        "summary": "Get a Customer ",
        "parameters": [
          {
            "name": "key",
            "description": "string|required",
            "in": "path",
            "style": "simple",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": ["Customer"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Customer"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/eam/stocks": {
      "get": {
        "description": "The quantity of materials per location and storeroom\n <details>\n   <summary>Filtering</summary>\n\n     * filter[name]=HelloFromMakiniAPI\n     * filter[name:contains]=Makini\n     * filter[name:startsWith]=Hello\n     * filter[name:startsWith]=API\n     * filter[createdAt:gt]=2023-11-07\n     * filter[createdAt:gteq]=2023-11-07\n     * filter[createdAt:lt]=2023-11-07\n     * filter[createdAt:lted]=2023-11-07\n\n </details>\n <details>\n   <summary>Filter matching</summary>\n\n     * filterMatch=any // OR\n     * filterMatch=all // AND\n\n </details>\n <details>\n   <summary>Sorting</summary>\n\n     * sort[createdAt]=1 // DESC\n     * sort[createdAt]=0 // ASC\n\n </details>\n\n",
        "summary": "List Stock ",
        "parameters": [
          {
            "name": "filter",
            "description": "array",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "page",
            "description": "integer",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "description": "array",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "per_page",
            "description": "integer",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "tags": ["Stock"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Stock"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "string"
                        },
                        "last": {
                          "type": "string"
                        },
                        "prev": {
                          "type": "string",
                          "format": "nullable"
                        },
                        "next": {
                          "type": "string",
                          "format": "nullable"
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "number"
                        },
                        "from": {
                          "type": "number"
                        },
                        "last_page": {
                          "type": "number"
                        },
                        "path": {
                          "type": "string"
                        },
                        "per_page": {
                          "type": "number"
                        },
                        "to": {
                          "type": "number"
                        },
                        "total": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "description": "\n[Detail validations](docs/platform-validation.md)\n",
        "summary": "Create a Stock ",
        "parameters": [],
        "tags": ["Stock"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Stock"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "Request body",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "productKey": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "materialKey": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "locationKey": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "storeroomKey": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "assetKey": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "position": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "uomKey": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "quantity": {
                    "type": "nullable|numeric",
                    "nullable": true,
                    "format": "nullable|numeric"
                  },
                  "expiresAt": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  }
                },
                "example": {
                  "productKey": "07000872731010",
                  "materialKey": "01000511006427",
                  "locationKey": "04000881592956",
                  "storeroomKey": "03000943032513",
                  "assetKey": "09000667342236",
                  "position": "string",
                  "uomKey": "00000260797541",
                  "quantity": "string",
                  "expiresAt": "1982-01-14T06:16:34Z"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/eam/stocks/{key}": {
      "get": {
        "description": "The quantity of materials per location and storeroom\n",
        "summary": "Get a Stock ",
        "parameters": [
          {
            "name": "key",
            "description": "string|required",
            "in": "path",
            "style": "simple",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": ["Stock"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Stock"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "description": "\n[Detail validations](docs/platform-validation.md)\n",
        "summary": "Update a Stock ",
        "parameters": [
          {
            "name": "key",
            "description": "string|required",
            "in": "path",
            "style": "simple",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": ["Stock"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Stock"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "Request body",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "productKey": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "materialKey": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "locationKey": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "storeroomKey": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "assetKey": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "position": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "uomKey": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "quantity": {
                    "type": "nullable|numeric",
                    "nullable": true,
                    "format": "nullable|numeric"
                  },
                  "expiresAt": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  }
                },
                "example": {
                  "productKey": "03000256911459",
                  "materialKey": "02000085146764",
                  "locationKey": "07000060956560",
                  "storeroomKey": "05000175265769",
                  "assetKey": "09000919077295",
                  "position": "string",
                  "uomKey": "07000808540248",
                  "quantity": "string",
                  "expiresAt": "1978-02-22T20:28:10Z"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/eam/purchase-orders/{key}/status": {
      "put": {
        "description": "\n[Detail validations](docs/platform-validation.md)\n",
        "summary": "Update a PurchaseOrder Status",
        "parameters": [
          {
            "name": "key",
            "description": "string|required",
            "in": "path",
            "style": "simple",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": ["PurchaseOrder"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/PurchaseOrder"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "Request body",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  }
                },
                "example": {
                  "status": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/eam/purchase-orders": {
      "get": {
        "description": "A purchase order is a document for ordering goods or services, specifying the details, conditions of the purchase and line items\n <details>\n   <summary>Filtering</summary>\n\n     * filter[name]=HelloFromMakiniAPI\n     * filter[name:contains]=Makini\n     * filter[name:startsWith]=Hello\n     * filter[name:startsWith]=API\n     * filter[createdAt:gt]=2023-11-07\n     * filter[createdAt:gteq]=2023-11-07\n     * filter[createdAt:lt]=2023-11-07\n     * filter[createdAt:lted]=2023-11-07\n\n </details>\n <details>\n   <summary>Filter matching</summary>\n\n     * filterMatch=any // OR\n     * filterMatch=all // AND\n\n </details>\n <details>\n   <summary>Sorting</summary>\n\n     * sort[createdAt]=1 // DESC\n     * sort[createdAt]=0 // ASC\n\n </details>\n\n",
        "summary": "List PurchaseOrder ",
        "parameters": [
          {
            "name": "filter",
            "description": "array",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "page",
            "description": "integer",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "description": "array",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "per_page",
            "description": "integer",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "tags": ["PurchaseOrder"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PurchaseOrder"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "string"
                        },
                        "last": {
                          "type": "string"
                        },
                        "prev": {
                          "type": "string",
                          "format": "nullable"
                        },
                        "next": {
                          "type": "string",
                          "format": "nullable"
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "number"
                        },
                        "from": {
                          "type": "number"
                        },
                        "last_page": {
                          "type": "number"
                        },
                        "path": {
                          "type": "string"
                        },
                        "per_page": {
                          "type": "number"
                        },
                        "to": {
                          "type": "number"
                        },
                        "total": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "description": "\n[Detail validations](docs/platform-validation.md)\n",
        "summary": "Create a PurchaseOrder ",
        "parameters": [],
        "tags": ["PurchaseOrder"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/PurchaseOrder"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "Request body",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "siteKey": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "vendorKey": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "code": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "orderNo": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "orderDate": {
                    "type": "nullable|date",
                    "nullable": true,
                    "format": "nullable|date"
                  },
                  "statusKey": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "title": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "description": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "dueAt": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "approvedAt": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "completedAt": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "shippingMethod": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "terms": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "notes": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "currencyKey": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "totalNetValue": {
                    "type": "nullable|float",
                    "nullable": true,
                    "format": "nullable|float"
                  },
                  "totalTaxValue": {
                    "type": "nullable|float",
                    "nullable": true,
                    "format": "nullable|float"
                  },
                  "totalGrossValue": {
                    "type": "nullable|float",
                    "nullable": true,
                    "format": "nullable|float"
                  },
                  "lineItems": {
                    "type": "object",
                    "nullable": true,
                    "properties": {
                      "locationKey": {
                        "type": "string",
                        "nullable": true,
                        "format": "string"
                      },
                      "accountKey": {
                        "type": "string",
                        "nullable": true,
                        "format": "string"
                      },
                      "vendorKey": {
                        "type": "string",
                        "nullable": true,
                        "format": "string"
                      },
                      "assetKey": {
                        "type": "string",
                        "nullable": true,
                        "format": "string"
                      },
                      "materialKey": {
                        "type": "string",
                        "nullable": true,
                        "format": "string"
                      },
                      "productKey": {
                        "type": "string",
                        "nullable": true,
                        "format": "string"
                      },
                      "statusKey": {
                        "type": "string",
                        "nullable": true,
                        "format": "string"
                      },
                      "storeroomKey": {
                        "type": "string",
                        "nullable": true,
                        "format": "string"
                      },
                      "lineNo": {
                        "type": "string",
                        "nullable": true,
                        "format": "string"
                      },
                      "code": {
                        "type": "string",
                        "nullable": true,
                        "format": "string"
                      },
                      "type": {
                        "type": "string",
                        "nullable": true,
                        "format": "string"
                      },
                      "name": {
                        "type": "string",
                        "nullable": true,
                        "format": "string"
                      },
                      "description": {
                        "type": "string",
                        "nullable": true,
                        "format": "string"
                      },
                      "lineRef": {
                        "type": "string",
                        "nullable": true,
                        "format": "string"
                      },
                      "quantity": {
                        "type": "nullable|numeric",
                        "nullable": true,
                        "format": "nullable|numeric"
                      },
                      "receivedQuantity": {
                        "type": "nullable|numeric",
                        "nullable": true,
                        "format": "nullable|numeric"
                      },
                      "uomKey": {
                        "type": "string",
                        "nullable": true,
                        "format": "string"
                      },
                      "currencyKey": {
                        "type": "string",
                        "nullable": true,
                        "format": "string"
                      },
                      "price": {
                        "type": "nullable|numeric",
                        "nullable": true,
                        "format": "nullable|numeric"
                      },
                      "discount": {
                        "type": "nullable|numeric",
                        "nullable": true,
                        "format": "nullable|numeric"
                      },
                      "lineTaxValue": {
                        "type": "nullable|numeric",
                        "nullable": true,
                        "format": "nullable|numeric"
                      },
                      "lineTotalValue": {
                        "type": "nullable|numeric",
                        "nullable": true,
                        "format": "nullable|numeric"
                      },
                      "notes": {
                        "type": "string",
                        "nullable": true,
                        "format": "string"
                      },
                      "deliveryAt": {
                        "type": "string",
                        "nullable": true,
                        "format": "string"
                      },
                      "dueAt": {
                        "type": "string",
                        "nullable": true,
                        "format": "string"
                      }
                    }
                  },
                  "createdAt": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "updatedAt": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  }
                },
                "example": {
                  "siteKey": "05000949300527",
                  "vendorKey": "09000898920645",
                  "code": "23436312",
                  "orderNo": "string",
                  "orderDate": "2020-02-13T14:52:54Z",
                  "statusKey": "08000904375704",
                  "title": "In dolorum vero nesciunt dicta architecto.",
                  "description": "Unde quam aperiam reprehenderit et.",
                  "dueAt": "1980-10-13T23:27:52Z",
                  "approvedAt": "2019-05-02T13:09:33Z",
                  "completedAt": "1987-01-15T17:59:58Z",
                  "shippingMethod": "string",
                  "terms": "string",
                  "notes": "string",
                  "currencyKey": "08000602217958",
                  "totalNetValue": "string",
                  "totalTaxValue": "string",
                  "totalGrossValue": "string",
                  "lineItems": [
                    {
                      "locationKey": "04000856968815",
                      "accountKey": "06000338874177",
                      "vendorKey": "07000680416568",
                      "assetKey": "08000003229298",
                      "materialKey": "02000815926828",
                      "productKey": "05000465494174",
                      "statusKey": "05000439592206",
                      "storeroomKey": "03000427686634",
                      "lineNo": "string",
                      "code": "83643163",
                      "type": "string",
                      "name": "string",
                      "description": "Sequi totam odit commodi qui.",
                      "lineRef": "string",
                      "quantity": "string",
                      "receivedQuantity": "string",
                      "uomKey": "04000930944808",
                      "currencyKey": "03000051941130",
                      "price": "string",
                      "discount": "string",
                      "lineTaxValue": "string",
                      "lineTotalValue": "string",
                      "notes": "string",
                      "deliveryAt": "1984-12-12T23:07:23Z",
                      "dueAt": "1984-04-23T22:55:45Z"
                    }
                  ],
                  "createdAt": "1991-05-28T23:01:37Z",
                  "updatedAt": "1991-09-13T04:10:58Z"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/eam/purchase-orders/{key}": {
      "get": {
        "description": "A purchase order is a document for ordering goods or services, specifying the details, conditions of the purchase and line items\n",
        "summary": "Get a PurchaseOrder ",
        "parameters": [
          {
            "name": "key",
            "description": "string|required",
            "in": "path",
            "style": "simple",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": ["PurchaseOrder"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/PurchaseOrder"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "description": "\n[Detail validations](docs/platform-validation.md)\n",
        "summary": "Update a PurchaseOrder ",
        "parameters": [
          {
            "name": "key",
            "description": "string|required",
            "in": "path",
            "style": "simple",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": ["PurchaseOrder"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/PurchaseOrder"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "Request body",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "siteKey": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "vendorKey": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "code": {
                    "type": "string",
                    "nullable": false,
                    "format": "string"
                  },
                  "orderNo": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "orderDate": {
                    "type": "nullable|date",
                    "nullable": true,
                    "format": "nullable|date"
                  },
                  "statusKey": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "title": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "description": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "dueAt": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "approvedAt": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "completedAt": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "shippingMethod": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "terms": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "notes": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "currencyKey": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "totalNetValue": {
                    "type": "nullable|float",
                    "nullable": true,
                    "format": "nullable|float"
                  },
                  "totalTaxValue": {
                    "type": "nullable|float",
                    "nullable": true,
                    "format": "nullable|float"
                  },
                  "totalGrossValue": {
                    "type": "nullable|float",
                    "nullable": true,
                    "format": "nullable|float"
                  },
                  "lineItems": {
                    "type": "object",
                    "nullable": true,
                    "properties": {
                      "locationKey": {
                        "type": "string",
                        "nullable": true,
                        "format": "string"
                      },
                      "accountKey": {
                        "type": "string",
                        "nullable": true,
                        "format": "string"
                      },
                      "vendorKey": {
                        "type": "string",
                        "nullable": true,
                        "format": "string"
                      },
                      "assetKey": {
                        "type": "string",
                        "nullable": true,
                        "format": "string"
                      },
                      "materialKey": {
                        "type": "string",
                        "nullable": true,
                        "format": "string"
                      },
                      "productKey": {
                        "type": "string",
[...]
