openapi: 3.0.0
info:
  version: 1.0.0
  title: Makini API Docs
  description: Makini API Docs
  license:
    name: ''
    url: ''
servers:
  - url: https://www.makini.io
paths:
  /api/eam/organizations:
    get:
      description: >+
        Organization endpoint provides access to information about
        organizations, including their names, contact information, and
        structures. It is a top-level entity in the system, available for
        systems that support a multi-organizational structure.
         <details>
           <summary>Filtering</summary>

             * filter[name]=HelloFromMakiniAPI
             * filter[name:contains]=Makini
             * filter[name:startsWith]=Hello
             * filter[name:startsWith]=API
             * filter[createdAt:gt]=2023-11-07
             * filter[createdAt:gteq]=2023-11-07
             * filter[createdAt:lt]=2023-11-07
             * filter[createdAt:lted]=2023-11-07

         </details>
         <details>
           <summary>Filter matching</summary>

             * filterMatch=any // OR
             * filterMatch=all // AND

         </details>
         <details>
           <summary>Sorting</summary>

             * sort[createdAt]=1 // DESC
             * sort[createdAt]=0 // ASC

         </details>

      summary: List Organizations
      parameters:
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
      tags:
        - EAM/CMMS
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Organization'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                        format: nullable
                      next:
                        type: string
                        format: nullable
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: number
                      from:
                        type: number
                      last_page:
                        type: number
                      path:
                        type: string
                      per_page:
                        type: number
                      to:
                        type: number
                      total:
                        type: number
  /api/eam/organizations/{key}:
    get:
      description: >
        Organization endpoint provides access to information about
        organizations, including their names, contact information, and
        structures. It is a top-level entity in the system, available for
        systems that support a multi-organizational structure.
      summary: Get an Organization
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Organization'
  /api/eam/sites:
    get:
      description: >
        Site represents a physical location or facility where equipment is
        installed, or operations are conducted. This can include manufacturing
        plants or offices.
      summary: List Sites
      parameters:
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
      tags:
        - EAM/CMMS
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Site'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                        format: nullable
                      next:
                        type: string
                        format: nullable
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: number
                      from:
                        type: number
                      last_page:
                        type: number
                      path:
                        type: string
                      per_page:
                        type: number
                      to:
                        type: number
                      total:
                        type: number
  /api/eam/sites/{key}:
    get:
      description: >
        Site represents a physical location or facility where equipment is
        installed, or operations are conducted. This can include manufacturing
        plants or offices.
      summary: Get a Site
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Site'
  /api/eam/locations:
    get:
      description: >+
        Location is a specific subdivision within a site where equipment or
        material stock is located. For example, a particular machine may be
        situated in a specific area within a manufacturing plant, or materials
        can be stored in a specific warehouse.
         <details>
           <summary>Filtering</summary>

             * filter[name]=HelloFromMakiniAPI
             * filter[name:contains]=Makini
             * filter[name:startsWith]=Hello
             * filter[name:startsWith]=API
             * filter[createdAt:gt]=2023-11-07
             * filter[createdAt:gteq]=2023-11-07
             * filter[createdAt:lt]=2023-11-07
             * filter[createdAt:lted]=2023-11-07

         </details>
         <details>
           <summary>Filter matching</summary>

             * filterMatch=any // OR
             * filterMatch=all // AND

         </details>
         <details>
           <summary>Sorting</summary>

             * sort[createdAt]=1 // DESC
             * sort[createdAt]=0 // ASC

         </details>

      summary: List Locations
      parameters:
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
      tags:
        - EAM/CMMS
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Location'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                        format: nullable
                      next:
                        type: string
                        format: nullable
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: number
                      from:
                        type: number
                      last_page:
                        type: number
                      path:
                        type: string
                      per_page:
                        type: number
                      to:
                        type: number
                      total:
                        type: number
  /api/eam/locations/{key}:
    get:
      description: >
        Location is a specific subdivision within a site where equipment or
        material stock is located. For example, a particular machine may be
        situated in a specific area within a manufacturing plant, or materials
        can be stored in a specific warehouse.
      summary: Get a Location
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Location'
  /api/eam/storerooms:
    get:
      description: >+
        Is a designated space within a location used for the storage and
        management of inventory, supplies, or equipment.
         <details>
           <summary>Filtering</summary>

             * filter[name]=HelloFromMakiniAPI
             * filter[name:contains]=Makini
             * filter[name:startsWith]=Hello
             * filter[name:startsWith]=API
             * filter[createdAt:gt]=2023-11-07
             * filter[createdAt:gteq]=2023-11-07
             * filter[createdAt:lt]=2023-11-07
             * filter[createdAt:lted]=2023-11-07

         </details>
         <details>
           <summary>Filter matching</summary>

             * filterMatch=any // OR
             * filterMatch=all // AND

         </details>
         <details>
           <summary>Sorting</summary>

             * sort[createdAt]=1 // DESC
             * sort[createdAt]=0 // ASC

         </details>

      summary: List Storerooms
      parameters:
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
      tags:
        - EAM/CMMS
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Storeroom'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                        format: nullable
                      next:
                        type: string
                        format: nullable
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: number
                      from:
                        type: number
                      last_page:
                        type: number
                      path:
                        type: string
                      per_page:
                        type: number
                      to:
                        type: number
                      total:
                        type: number
  /api/eam/storerooms/{key}:
    get:
      description: >
        Is a designated space within a location used for the storage and
        management of inventory, supplies, or equipment.
      summary: Get a Storeroom
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Storeroom'
  /api/eam/accounts:
    get:
      description: >+
        Is a financial record in the general ledger, tracking debit and credit
        transactions to reflect a business's financial transactions and
        positions.
         <details>
           <summary>Filtering</summary>

             * filter[name]=HelloFromMakiniAPI
             * filter[name:contains]=Makini
             * filter[name:startsWith]=Hello
             * filter[name:startsWith]=API
             * filter[createdAt:gt]=2023-11-07
             * filter[createdAt:gteq]=2023-11-07
             * filter[createdAt:lt]=2023-11-07
             * filter[createdAt:lted]=2023-11-07

         </details>
         <details>
           <summary>Filter matching</summary>

             * filterMatch=any // OR
             * filterMatch=all // AND

         </details>
         <details>
           <summary>Sorting</summary>

             * sort[createdAt]=1 // DESC
             * sort[createdAt]=0 // ASC

         </details>

      summary: List Accounts
      parameters:
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
      tags:
        - EAM/CMMS
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Account'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                        format: nullable
                      next:
                        type: string
                        format: nullable
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: number
                      from:
                        type: number
                      last_page:
                        type: number
                      path:
                        type: string
                      per_page:
                        type: number
                      to:
                        type: number
                      total:
                        type: number
  /api/eam/accounts/{key}:
    get:
      description: >
        Is a financial record in the general ledger, tracking debit and credit
        transactions to reflect a business's financial transactions and
        positions.
      summary: Get an Account
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Account'
  /api/eam/teams:
    get:
      description: >+
        A division responsible for conducting asset maintenance. It can be
        assigned to execute work orders.
         <details>
           <summary>Filtering</summary>

             * filter[name]=HelloFromMakiniAPI
             * filter[name:contains]=Makini
             * filter[name:startsWith]=Hello
             * filter[name:startsWith]=API
             * filter[createdAt:gt]=2023-11-07
             * filter[createdAt:gteq]=2023-11-07
             * filter[createdAt:lt]=2023-11-07
             * filter[createdAt:lted]=2023-11-07

         </details>
         <details>
           <summary>Filter matching</summary>

             * filterMatch=any // OR
             * filterMatch=all // AND

         </details>
         <details>
           <summary>Sorting</summary>

             * sort[createdAt]=1 // DESC
             * sort[createdAt]=0 // ASC

         </details>

      summary: List Teams
      parameters:
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
      tags:
        - EAM/CMMS
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Team'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                        format: nullable
                      next:
                        type: string
                        format: nullable
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: number
                      from:
                        type: number
                      last_page:
                        type: number
                      path:
                        type: string
                      per_page:
                        type: number
                      to:
                        type: number
                      total:
                        type: number
  /api/eam/teams/{key}:
    get:
      description: >
        A division responsible for conducting asset maintenance. It can be
        assigned to execute work orders.
      summary: Get a Team
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Team'
  /api/eam/labors:
    get:
      description: >+
        Refers to internal or external human resources involved in the execution
        of work orders. It is used to track cost and time for planning purposes.
         <details>
           <summary>Filtering</summary>

             * filter[name]=HelloFromMakiniAPI
             * filter[name:contains]=Makini
             * filter[name:startsWith]=Hello
             * filter[name:startsWith]=API
             * filter[createdAt:gt]=2023-11-07
             * filter[createdAt:gteq]=2023-11-07
             * filter[createdAt:lt]=2023-11-07
             * filter[createdAt:lted]=2023-11-07

         </details>
         <details>
           <summary>Filter matching</summary>

             * filterMatch=any // OR
             * filterMatch=all // AND

         </details>
         <details>
           <summary>Sorting</summary>

             * sort[createdAt]=1 // DESC
             * sort[createdAt]=0 // ASC

         </details>

      summary: List Labors
      parameters:
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
      tags:
        - EAM/CMMS
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Labor'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                        format: nullable
                      next:
                        type: string
                        format: nullable
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: number
                      from:
                        type: number
                      last_page:
                        type: number
                      path:
                        type: string
                      per_page:
                        type: number
                      to:
                        type: number
                      total:
                        type: number
  /api/eam/labors/{key}:
    get:
      description: >
        Refers to internal or external human resources involved in the execution
        of work orders. It is used to track cost and time for planning purposes.
      summary: Get a Labor
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Labor'
  /api/eam/users:
    get:
      description: |+
        User account in the system
         <details>
           <summary>Filtering</summary>

             * filter[name]=HelloFromMakiniAPI
             * filter[name:contains]=Makini
             * filter[name:startsWith]=Hello
             * filter[name:startsWith]=API
             * filter[createdAt:gt]=2023-11-07
             * filter[createdAt:gteq]=2023-11-07
             * filter[createdAt:lt]=2023-11-07
             * filter[createdAt:lted]=2023-11-07

         </details>
         <details>
           <summary>Filter matching</summary>

             * filterMatch=any // OR
             * filterMatch=all // AND

         </details>
         <details>
           <summary>Sorting</summary>

             * sort[createdAt]=1 // DESC
             * sort[createdAt]=0 // ASC

         </details>

      summary: List Users
      parameters:
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
      tags:
        - EAM/CMMS
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                        format: nullable
                      next:
                        type: string
                        format: nullable
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: number
                      from:
                        type: number
                      last_page:
                        type: number
                      path:
                        type: string
                      per_page:
                        type: number
                      to:
                        type: number
                      total:
                        type: number
  /api/eam/users/{key}:
    get:
      description: |
        User account in the system
      summary: Get an User
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/User'
  /api/eam/uom:
    get:
      description: >+
        Units of Measure represent standardized values used for measuring and
        accounting for materials.
         <details>
           <summary>Filtering</summary>

             * filter[name]=HelloFromMakiniAPI
             * filter[name:contains]=Makini
             * filter[name:startsWith]=Hello
             * filter[name:startsWith]=API
             * filter[createdAt:gt]=2023-11-07
             * filter[createdAt:gteq]=2023-11-07
             * filter[createdAt:lt]=2023-11-07
             * filter[createdAt:lted]=2023-11-07

         </details>
         <details>
           <summary>Filter matching</summary>

             * filterMatch=any // OR
             * filterMatch=all // AND

         </details>
         <details>
           <summary>Sorting</summary>

             * sort[createdAt]=1 // DESC
             * sort[createdAt]=0 // ASC

         </details>

      summary: List UnitOfMeasures
      parameters:
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
      tags:
        - EAM/CMMS
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/UnitOfMeasure'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                        format: nullable
                      next:
                        type: string
                        format: nullable
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: number
                      from:
                        type: number
                      last_page:
                        type: number
                      path:
                        type: string
                      per_page:
                        type: number
                      to:
                        type: number
                      total:
                        type: number
  /api/eam/uom/{key}:
    get:
      description: >
        Units of Measure represent standardized values used for measuring and
        accounting for materials.
      summary: Get an UnitOfMeasure
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/UnitOfMeasure'
  /api/eam/companies:
    get:
      description: |+
        Contact information for a third-party entity.
         <details>
           <summary>Filtering</summary>

             * filter[name]=HelloFromMakiniAPI
             * filter[name:contains]=Makini
             * filter[name:startsWith]=Hello
             * filter[name:startsWith]=API
             * filter[createdAt:gt]=2023-11-07
             * filter[createdAt:gteq]=2023-11-07
             * filter[createdAt:lt]=2023-11-07
             * filter[createdAt:lted]=2023-11-07

         </details>
         <details>
           <summary>Filter matching</summary>

             * filterMatch=any // OR
             * filterMatch=all // AND

         </details>
         <details>
           <summary>Sorting</summary>

             * sort[createdAt]=1 // DESC
             * sort[createdAt]=0 // ASC

         </details>

      summary: List Companies
      parameters:
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
      tags:
        - EAM/CMMS
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Company'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                        format: nullable
                      next:
                        type: string
                        format: nullable
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: number
                      from:
                        type: number
                      last_page:
                        type: number
                      path:
                        type: string
                      per_page:
                        type: number
                      to:
                        type: number
                      total:
                        type: number
  /api/eam/companies/{key}:
    get:
      description: |
        Contact information for a third-party entity.
      summary: Get a Company
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Company'
  /api/eam/vendors:
    get:
      description: >+
        An external entity that provides services or supplies. Subdivision of
        Company
         <details>
           <summary>Filtering</summary>

             * filter[name]=HelloFromMakiniAPI
             * filter[name:contains]=Makini
             * filter[name:startsWith]=Hello
             * filter[name:startsWith]=API
             * filter[createdAt:gt]=2023-11-07
             * filter[createdAt:gteq]=2023-11-07
             * filter[createdAt:lt]=2023-11-07
             * filter[createdAt:lted]=2023-11-07

         </details>
         <details>
           <summary>Filter matching</summary>

             * filterMatch=any // OR
             * filterMatch=all // AND

         </details>
         <details>
           <summary>Sorting</summary>

             * sort[createdAt]=1 // DESC
             * sort[createdAt]=0 // ASC

         </details>

      summary: List Vendors
      parameters:
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
      tags:
        - EAM/CMMS
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Vendor'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                        format: nullable
                      next:
                        type: string
                        format: nullable
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: number
                      from:
                        type: number
                      last_page:
                        type: number
                      path:
                        type: string
                      per_page:
                        type: number
                      to:
                        type: number
                      total:
                        type: number
  /api/eam/vendors/{key}:
    get:
      description: >
        An external entity that provides services or supplies. Subdivision of
        Company
      summary: Get a Vendor
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Vendor'
  /api/eam/customers:
    get:
      description: >+
        An external entity that can consume products or services, used as a
        target in sales and shipment orders. Subdivision of Company
         <details>
           <summary>Filtering</summary>

             * filter[name]=HelloFromMakiniAPI
             * filter[name:contains]=Makini
             * filter[name:startsWith]=Hello
             * filter[name:startsWith]=API
             * filter[createdAt:gt]=2023-11-07
             * filter[createdAt:gteq]=2023-11-07
             * filter[createdAt:lt]=2023-11-07
             * filter[createdAt:lted]=2023-11-07

         </details>
         <details>
           <summary>Filter matching</summary>

             * filterMatch=any // OR
             * filterMatch=all // AND

         </details>
         <details>
           <summary>Sorting</summary>

             * sort[createdAt]=1 // DESC
             * sort[createdAt]=0 // ASC

         </details>

      summary: List Customers
      parameters:
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
      tags:
        - EAM/CMMS
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Customer'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                        format: nullable
                      next:
                        type: string
                        format: nullable
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: number
                      from:
                        type: number
                      last_page:
                        type: number
                      path:
                        type: string
                      per_page:
                        type: number
                      to:
                        type: number
                      total:
                        type: number
  /api/eam/customers/{key}:
    get:
      description: >
        An external entity that can consume products or services, used as a
        target in sales and shipment orders. Subdivision of Company
      summary: Get a Customer
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Customer'
  /api/eam/stocks:
    get:
      description: |+
        The quantity of materials per location and storeroom
         <details>
           <summary>Filtering</summary>

             * filter[name]=HelloFromMakiniAPI
             * filter[name:contains]=Makini
             * filter[name:startsWith]=Hello
             * filter[name:startsWith]=API
             * filter[createdAt:gt]=2023-11-07
             * filter[createdAt:gteq]=2023-11-07
             * filter[createdAt:lt]=2023-11-07
             * filter[createdAt:lted]=2023-11-07

         </details>
         <details>
           <summary>Filter matching</summary>

             * filterMatch=any // OR
             * filterMatch=all // AND

         </details>
         <details>
           <summary>Sorting</summary>

             * sort[createdAt]=1 // DESC
             * sort[createdAt]=0 // ASC

         </details>

      summary: List Stocks
      parameters:
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
      tags:
        - EAM/CMMS
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Stock'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                        format: nullable
                      next:
                        type: string
                        format: nullable
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: number
                      from:
                        type: number
                      last_page:
                        type: number
                      path:
                        type: string
                      per_page:
                        type: number
                      to:
                        type: number
                      total:
                        type: number
  /api/eam/stocks/{key}:
    get:
      description: |
        The quantity of materials per location and storeroom
      summary: Get a Stock
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Stock'
  /api/eam/purchase-orders/{key}/status:
    put:
      description: |

        [Detail validations](docs/platform-validation.md)
      summary: Update a PurchaseOrder
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/PurchaseOrder'
      requestBody:
        description: Request body
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  nullable: true
                  format: string
              example:
                status: string
  /api/eam/purchase-orders:
    get:
      description: >+
        A purchase order is a document for ordering goods or services,
        specifying the details, conditions of the purchase and line items
         <details>
           <summary>Filtering</summary>

             * filter[name]=HelloFromMakiniAPI
             * filter[name:contains]=Makini
             * filter[name:startsWith]=Hello
             * filter[name:startsWith]=API
             * filter[createdAt:gt]=2023-11-07
             * filter[createdAt:gteq]=2023-11-07
             * filter[createdAt:lt]=2023-11-07
             * filter[createdAt:lted]=2023-11-07

         </details>
         <details>
           <summary>Filter matching</summary>

             * filterMatch=any // OR
             * filterMatch=all // AND

         </details>
         <details>
           <summary>Sorting</summary>

             * sort[createdAt]=1 // DESC
             * sort[createdAt]=0 // ASC

         </details>

      summary: List PurchaseOrders
      parameters:
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
      tags:
        - EAM/CMMS
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PurchaseOrder'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                        format: nullable
                      next:
                        type: string
                        format: nullable
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: number
                      from:
                        type: number
                      last_page:
                        type: number
                      path:
                        type: string
                      per_page:
                        type: number
                      to:
                        type: number
                      total:
                        type: number
    post:
      description: |

        [Detail validations](docs/platform-validation.md)
      summary: Create a PurchaseOrder
      parameters: []
      tags:
        - EAM/CMMS
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/PurchaseOrder'
      requestBody:
        description: Request body
        content:
          application/json:
            schema:
              type: object
              properties:
                siteKey:
                  type: string
                  nullable: true
                  format: string
                vendorKey:
                  type: string
                  nullable: true
                  format: string
                code:
                  type: string
                  nullable: true
                  format: string
                orderNo:
                  type: string
                  nullable: true
                  format: string
                orderDate:
                  type: object
                  nullable: true
                  format: object
                statusKey:
                  type: string
                  nullable: true
                  format: string
                title:
                  type: string
                  nullable: true
                  format: string
                description:
                  type: string
                  nullable: true
                  format: string
                dueAt:
                  type: string
                  nullable: true
                  format: string
                approvedAt:
                  type: string
                  nullable: true
                  format: string
                completedAt:
                  type: string
                  nullable: true
                  format: string
                shippingMethod:
                  type: string
                  nullable: true
                  format: string
                terms:
                  type: string
                  nullable: true
                  format: string
                notes:
                  type: string
                  nullable: true
                  format: string
                currencyKey:
                  type: string
                  nullable: true
                  format: string
                totalNetValue:
                  type: object
                  nullable: true
                  format: object
                totalTaxValue:
                  type: object
                  nullable: true
                  format: object
                totalGrossValue:
                  type: object
                  nullable: true
                  format: object
                createdAt:
                  type: string
                  nullable: true
                  format: string
                updatedAt:
                  type: string
                  nullable: true
                  format: string
              example:
                siteKey: '03000896573625'
                vendorKey: '09000315100623'
                code: '97042341'
                orderNo: string
                orderDate: '2009-09-13T12:35:14Z'
                statusKey: '02000094109011'
                title: Eum necessitatibus autem natus facilis qui eos.
                description: Harum ut consectetur optio dolorum quas.
                dueAt: '1996-05-31T22:14:13Z'
                approvedAt: '2024-01-24T11:26:25Z'
                completedAt: '1975-09-04T20:45:34Z'
                shippingMethod: string
                terms: string
                notes: string
                currencyKey: '03000525675179'
                totalNetValue: string
                totalTaxValue: string
                totalGrossValue: string
                createdAt: '1983-01-01T13:32:48Z'
                updatedAt: '1986-02-15T02:45:42Z'
  /api/eam/purchase-orders/{key}:
    get:
      description: >
        A purchase order is a document for ordering goods or services,
        specifying the details, conditions of the purchase and line items
      summary: Get a PurchaseOrder
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/PurchaseOrder'
    put:
      description: |

        [Detail validations](docs/platform-validation.md)
      summary: Update a PurchaseOrder
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/PurchaseOrder'
      requestBody:
        description: Request body
        content:
          application/json:
            schema:
              type: object
              properties:
                siteKey:
                  type: string
                  nullable: true
                  format: string
                vendorKey:
                  type: string
                  nullable: true
                  format: string
                code:
                  type: string
                  nullable: false
                  format: string
                orderNo:
                  type: string
                  nullable: true
                  format: string
                orderDate:
                  type: object
                  nullable: true
                  format: object
                statusKey:
                  type: string
                  nullable: true
                  format: string
                title:
                  type: string
                  nullable: true
                  format: string
                description:
                  type: string
                  nullable: true
                  format: string
                dueAt:
                  type: string
                  nullable: true
                  format: string
                approvedAt:
                  type: string
                  nullable: true
                  format: string
                completedAt:
                  type: string
                  nullable: true
                  format: string
                shippingMethod:
                  type: string
                  nullable: true
                  format: string
                terms:
                  type: string
                  nullable: true
                  format: string
                notes:
                  type: string
                  nullable: true
                  format: string
                currencyKey:
                  type: string
                  nullable: true
                  format: string
                totalNetValue:
                  type: object
                  nullable: true
                  format: object
                totalTaxValue:
                  type: object
                  nullable: true
                  format: object
                totalGrossValue:
                  type: object
                  nullable: true
                  format: object
                createdAt:
                  type: string
                  nullable: true
                  format: string
                updatedAt:
                  type: string
                  nullable: true
                  format: string
              example:
                siteKey: '07000410665037'
                vendorKey: '00000822227862'
                code: '42305729'
                orderNo: string
                orderDate: '1970-12-30T05:11:16Z'
                statusKey: '05000366416566'
                title: Et voluptate et ab et.
                description: Sunt voluptatum sit et.
                dueAt: '2023-02-24T10:32:59Z'
                approvedAt: '1972-08-18T04:02:21Z'
                completedAt: '2014-08-13T17:09:00Z'
                shippingMethod: string
                terms: string
                notes: string
                currencyKey: '03000550056517'
                totalNetValue: string
                totalTaxValue: string
                totalGrossValue: string
                createdAt: '2022-11-13T06:52:42Z'
                updatedAt: '1972-03-26T01:25:18Z'
  /api/eam/purchase-orders.line-items:
    get:
      description: |2+
         <details>
           <summary>Filtering</summary>

             * filter[name]=HelloFromMakiniAPI
             * filter[name:contains]=Makini
             * filter[name:startsWith]=Hello
             * filter[name:startsWith]=API
             * filter[createdAt:gt]=2023-11-07
             * filter[createdAt:gteq]=2023-11-07
             * filter[createdAt:lt]=2023-11-07
             * filter[createdAt:lted]=2023-11-07

         </details>
         <details>
           <summary>Filter matching</summary>

             * filterMatch=any // OR
             * filterMatch=all // AND

         </details>
         <details>
           <summary>Sorting</summary>

             * sort[createdAt]=1 // DESC
             * sort[createdAt]=0 // ASC

         </details>

      summary: List LineItems
      parameters:
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
      tags:
        - EAM/CMMS
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/LineItem'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                        format: nullable
                      next:
                        type: string
                        format: nullable
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: number
                      from:
                        type: number
                      last_page:
                        type: number
                      path:
                        type: string
                      per_page:
                        type: number
                      to:
                        type: number
                      total:
                        type: number
  /api/eam/purchase-orders.line-items/{key}:
    get:
      description: ''
      summary: Get a LineItem
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/LineItem'
  /api/eam/materials/{key}/inventory:
    put:
      description: |

        [Detail validations](docs/platform-validation.md)
      summary: Update a Material
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Material'
      requestBody:
        description: Request body
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: string
                  nullable: true
                  format: string
                name:
                  type: string
                  nullable: true
                  format: string
                quantity:
                  type: integer
                  nullable: true
                  format: integer
                unitCost:
                  type: integer
                  nullable: true
                  format: integer
                locationKey:
                  type: string
                  nullable: true
                  format: string
              example:
                code: '42947004'
                name: string
                quantity: 10
                unitCost: 10
                locationKey: '07000361741540'
  /api/eam/materials/{key}/children:
    get:
      description: ''
      summary: Get a MaterialItem
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
      tags:
        - EAM/CMMS
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
  /api/eam/materials:
    get:
      description: |2+
         <details>
           <summary>Filtering</summary>

             * filter[name]=HelloFromMakiniAPI
             * filter[name:contains]=Makini
             * filter[name:startsWith]=Hello
             * filter[name:startsWith]=API
             * filter[createdAt:gt]=2023-11-07
             * filter[createdAt:gteq]=2023-11-07
             * filter[createdAt:lt]=2023-11-07
             * filter[createdAt:lted]=2023-11-07

         </details>
         <details>
           <summary>Filter matching</summary>

             * filterMatch=any // OR
             * filterMatch=all // AND

         </details>
         <details>
           <summary>Sorting</summary>

             * sort[createdAt]=1 // DESC
             * sort[createdAt]=0 // ASC

         </details>

      summary: List Parts
      parameters:
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
      tags:
        - EAM/CMMS
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Part'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                        format: nullable
                      next:
                        type: string
                        format: nullable
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: number
                      from:
                        type: number
                      last_page:
                        type: number
                      path:
                        type: string
                      per_page:
                        type: number
                      to:
                        type: number
                      total:
                        type: number
    post:
      description: |

        [Detail validations](docs/platform-validation.md)
      summary: Create a Part
      parameters: []
      tags:
        - EAM/CMMS
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Part'
      requestBody:
        description: Request body
        content:
          application/json:
            schema:
              type: object
              properties:
                siteKeys:
                  type: array
                  nullable: true
                  format: array
                parentKeys:
                  type: array
                  nullable: true
                  format: array
                assetKeys:
                  type: array
                  nullable: true
                  format: array
                vendorKeys:
                  type: string
                  nullable: true
                  format: string
                documents:
                  type: array
                  nullable: true
                  format: array
                accountKey:
                  type: string
                  nullable: true
                  format: string
                code:
                  type: string
                  nullable: true
                  format: string
                isAssembly:
                  type: boolean
                  nullable: true
                  format: boolean
                partNumber:
                  type: string
                  nullable: true
                  format: string
                name:
                  type: string
                  nullable: true
                  format: string
                description:
                  type: string
                  nullable: true
                  format: string
                notes:
                  type: string
                  nullable: true
                  format: string
                criticality:
                  type: string
                  nullable: true
                  format: string
                isActive:
                  type: boolean
                  nullable: true
                  format: boolean
                manufacturerName:
                  type: string
                  nullable: true
                  format: string
                minimumQuantity:
                  type: string
                  nullable: true
                  format: string
                cost:
                  type: object
                  nullable: true
                  format: object
                currency:
                  type: string
                  nullable: true
                  format: string
              example:
                siteKeys: '[]'
                parentKeys: '[]'
                assetKeys: '[]'
                vendorKeys: string
                documents: '[]'
                accountKey: '06000202269056'
                code: '16851436'
                isAssembly: 'true'
                partNumber: string
                name: string
                description: Numquam saepe impedit et molestias et molestias.
                notes: string
                criticality: string
                isActive: 'false'
                manufacturerName: string
                minimumQuantity: string
                cost: string
                currency: string
  /api/eam/materials/{key}:
    get:
      description: ''
      summary: Get a Part
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Part'
    put:
      description: |

        [Detail validations](docs/platform-validation.md)
      summary: Update a Part
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Part'
      requestBody:
        description: Request body
        content:
          application/json:
            schema:
              type: object
              properties:
                siteKeys:
                  type: array
                  nullable: true
                  format: array
                parentKeys:
                  type: array
                  nullable: true
                  format: array
                assetKeys:
                  type: array
                  nullable: true
                  format: array
                vendorKeys:
                  type: string
                  nullable: true
                  format: string
                documents:
                  type: array
                  nullable: true
                  format: array
                accountKey:
                  type: string
                  nullable: true
                  format: string
                code:
                  type: string
                  nullable: true
                  format: string
                isAssembly:
                  type: boolean
                  nullable: true
                  format: boolean
                partNumber:
                  type: string
                  nullable: true
                  format: string
                name:
                  type: string
                  nullable: true
                  format: string
                description:
                  type: string
                  nullable: true
                  format: string
                notes:
                  type: string
                  nullable: true
                  format: string
                criticality:
                  type: string
                  nullable: true
                  format: string
                isActive:
                  type: boolean
                  nullable: true
                  format: boolean
                manufacturerName:
                  type: string
                  nullable: true
                  format: string
                minimumQuantity:
                  type: string
                  nullable: true
                  format: string
                cost:
                  type: object
                  nullable: true
                  format: object
                currency:
                  type: string
                  nullable: true
                  format: string
              example:
                siteKeys: '[]'
                parentKeys: '[]'
                assetKeys: '[]'
                vendorKeys: string
                documents: '[]'
                accountKey: '05000109593429'
                code: '63386998'
                isAssembly: 'false'
                partNumber: string
                name: string
                description: Nostrum corporis qui facilis atque dolorum sunt.
                notes: string
                criticality: string
                isActive: 'false'
                manufacturerName: string
                minimumQuantity: string
                cost: string
                currency: string
  /api/eam/assets/{key}/materials:
    get:
      description: ''
      summary: Get a MaterialItem
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
      tags:
        - EAM/CMMS
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
  /api/eam/assets:
    get:
      description: >+
        A physical entity in the facility's hierarchy structure. It can be
        either equipment available for maintenance or system of assets in site
        hierarchy.
         <details>
           <summary>Filtering</summary>

             * filter[name]=HelloFromMakiniAPI
             * filter[name:contains]=Makini
             * filter[name:startsWith]=Hello
             * filter[name:startsWith]=API
             * filter[createdAt:gt]=2023-11-07
             * filter[createdAt:gteq]=2023-11-07
             * filter[createdAt:lt]=2023-11-07
             * filter[createdAt:lted]=2023-11-07

         </details>
         <details>
           <summary>Filter matching</summary>

             * filterMatch=any // OR
             * filterMatch=all // AND

         </details>
         <details>
           <summary>Sorting</summary>

             * sort[createdAt]=1 // DESC
             * sort[createdAt]=0 // ASC

         </details>

      summary: List Assets
      parameters:
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
      tags:
        - EAM/CMMS
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Asset'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                        format: nullable
                      next:
                        type: string
                        format: nullable
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: number
                      from:
                        type: number
                      last_page:
                        type: number
                      path:
                        type: string
                      per_page:
                        type: number
                      to:
                        type: number
                      total:
                        type: number
  /api/eam/assets/{key}:
    get:
      description: >
        A physical entity in the facility's hierarchy structure. It can be
        either equipment available for maintenance or system of assets in site
        hierarchy.
      summary: Get an Asset
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Asset'
    put:
      description: |

        [Detail validations](docs/platform-validation.md)
      summary: Update an Asset
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Asset'
      requestBody:
        description: Request body
        content:
          application/json:
            schema:
              type: object
              properties:
                siteKey:
                  type: string
                  nullable: true
                  format: string
                parentKey:
                  type: string
                  nullable: true
                  format: string
                vendorKey:
                  type: string
                  nullable: true
                  format: string
                modelKey:
                  type: string
                  nullable: true
                  format: string
                teamKey:
                  type: string
                  nullable: true
                  format: string
                locationKey:
                  type: string
                  nullable: true
                  format: string
                accountKey:
                  type: string
                  nullable: true
                  format: string
                name:
                  type: string
                  nullable: true
                  format: string
                description:
                  type: string
                  nullable: true
                  format: string
                notes:
                  type: string
                  nullable: true
                  format: string
                categoryName:
                  type: string
                  nullable: true
                  format: string
                criticality:
                  type: string
                  nullable: true
                  format: string
                isActive:
                  type: boolean
                  nullable: true
                  format: boolean
                manufacturerName:
                  type: string
                  nullable: true
                  format: string
                modelName:
                  type: string
                  nullable: true
                  format: string
                serialNumber:
                  type: string
                  nullable: true
                  format: string
                activatedAt:
                  type: string
                  nullable: true
                  format: string
                deactivatedAt:
                  type: string
                  nullable: true
                  format: string
              example:
                siteKey: '08000858722517'
                parentKey: '03000374024301'
                vendorKey: '01000087522599'
                modelKey: '00000490510994'
                teamKey: '08000258279660'
                locationKey: '04000447630209'
                accountKey: '05000849383911'
                name: string
                description: Saepe qui quam qui velit quae libero est.
                notes: string
                categoryName: string
                criticality: string
                isActive: 'false'
                manufacturerName: string
                modelName: string
                serialNumber: string
                activatedAt: '2003-09-30T12:37:51Z'
                deactivatedAt: '2023-12-27T00:42:43Z'
  /api/eam/assets-downtime:
    get:
      description: |+
        Information on planned or unplanned downtime periods for assets.
         <details>
           <summary>Filtering</summary>

             * filter[name]=HelloFromMakiniAPI
             * filter[name:contains]=Makini
             * filter[name:startsWith]=Hello
             * filter[name:startsWith]=API
             * filter[createdAt:gt]=2023-11-07
             * filter[createdAt:gteq]=2023-11-07
             * filter[createdAt:lt]=2023-11-07
             * filter[createdAt:lted]=2023-11-07

         </details>
         <details>
           <summary>Filter matching</summary>

             * filterMatch=any // OR
             * filterMatch=all // AND

         </details>
         <details>
           <summary>Sorting</summary>

             * sort[createdAt]=1 // DESC
             * sort[createdAt]=0 // ASC

         </details>

      summary: List AssetDowntimes
      parameters:
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
      tags:
        - EAM/CMMS
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AssetDowntime'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                        format: nullable
                      next:
                        type: string
                        format: nullable
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: number
                      from:
                        type: number
                      last_page:
                        type: number
                      path:
                        type: string
                      per_page:
                        type: number
                      to:
                        type: number
                      total:
                        type: number
  /api/eam/assets-downtime/{key}:
    get:
      description: |
        Information on planned or unplanned downtime periods for assets.
      summary: Get an AssetDowntime
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/AssetDowntime'
  /api/eam/asset-templates/{key}/materials:
    get:
      description: ''
      summary: Get a MaterialItem
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
      tags:
        - EAM/CMMS
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
  /api/eam/asset-templates:
    get:
      description: |2+
         <details>
           <summary>Filtering</summary>

             * filter[name]=HelloFromMakiniAPI
             * filter[name:contains]=Makini
             * filter[name:startsWith]=Hello
             * filter[name:startsWith]=API
             * filter[createdAt:gt]=2023-11-07
             * filter[createdAt:gteq]=2023-11-07
             * filter[createdAt:lt]=2023-11-07
             * filter[createdAt:lted]=2023-11-07

         </details>
         <details>
           <summary>Filter matching</summary>

             * filterMatch=any // OR
             * filterMatch=all // AND

         </details>
         <details>
           <summary>Sorting</summary>

             * sort[createdAt]=1 // DESC
             * sort[createdAt]=0 // ASC

         </details>

      summary: List Models
      parameters:
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
      tags:
        - EAM/CMMS
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Model'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                        format: nullable
                      next:
                        type: string
                        format: nullable
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: number
                      from:
                        type: number
                      last_page:
                        type: number
                      path:
                        type: string
                      per_page:
                        type: number
                      to:
                        type: number
                      total:
                        type: number
  /api/eam/asset-templates/{key}:
    get:
      description: ''
      summary: Get a Model
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Model'
  /api/eam/meters:
    get:
      description: >+
        Is a tool for tracking the number of specific events or operations, used
        for analyzing performance and other parameters, as well as scheduling
        condition-based maintenance
         <details>
           <summary>Filtering</summary>

             * filter[name]=HelloFromMakiniAPI
             * filter[name:contains]=Makini
             * filter[name:startsWith]=Hello
             * filter[name:startsWith]=API
             * filter[createdAt:gt]=2023-11-07
             * filter[createdAt:gteq]=2023-11-07
             * filter[createdAt:lt]=2023-11-07
             * filter[createdAt:lted]=2023-11-07

         </details>
         <details>
           <summary>Filter matching</summary>

             * filterMatch=any // OR
             * filterMatch=all // AND

         </details>
         <details>
           <summary>Sorting</summary>

             * sort[createdAt]=1 // DESC
             * sort[createdAt]=0 // ASC

         </details>

      summary: List Counters
      parameters:
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
        - name: sort
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: per_page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
      tags:
        - EAM/CMMS
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Counter'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev:
                        type: string
                        format: nullable
                      next:
                        type: string
                        format: nullable
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: number
                      from:
                        type: number
                      last_page:
                        type: number
                      path:
                        type: string
                      per_page:
                        type: number
                      to:
                        type: number
                      total:
                        type: number
  /api/eam/meters/{key}:
    get:
      description: >
        Is a tool for tracking the number of specific events or operations, used
        for analyzing performance and other parameters, as well as scheduling
        condition-based maintenance
      summary: Get a Counter
      parameters:
        - name: key
          description: string|required
          in: path
          style: simple
          required: true
          schema:
            type: string
      tags:
        - EAM/CMMS
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Counter'
  /api/eam/meter-readings:
    get:
      description: |2+
         <details>
           <summary>Filtering</summary>

             * filter[name]=HelloFromMakiniAPI
             * filter[name:contains]=Makini
             * filter[name:startsWith]=Hello
             * filter[name:startsWith]=API
             * filter[createdAt:gt]=2023-11-07
             * filter[createdAt:gteq]=2023-11-07
             * filter[createdAt:lt]=2023-11-07
             * filter[createdAt:lted]=2023-11-07

         </details>
         <details>
           <summary>Filter matching</summary>

             * filterMatch=any // OR
             * filterMatch=all // AND

         </details>
         <details>
           <summary>Sorting</summary>

             * sort[createdAt]=1 // DESC
             * sort[createdAt]=0 // ASC

         </details>

      summary: List CounterReadings
      parameters:
        - name: filter
          description: array
          in: query
          style: form
          required: false
          schema:
            type: array
        - name: page
          description: integer
          in: query
          style: form
          required: false
          schema:
            type: integer
[...]
