{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "API Docs - EAM/CMMS",
    "description": "API Docs",
    "x-logo": {
      "url": "https://cdn.prod.website-files.com/6075c27738665c833a39fd83/608566aaabf4b474f887440f_Light.svg",
      "backgroundColor": "#000000",
      "altText": "Makini Logo"
    }
  },
  "servers": [
    {
      "url": "https://api.makini.io"
    }
  ],
  "paths": {
    "/api/eam/organizations": {
      "get": {
        "description": "Organization endpoint provides access to information about organizations, including their names, contact information, and structures. It is a top-level entity in the system, available for systems that support a multi-organizational structure.\n <details>\n   <summary>Filtering</summary>\n\n     * filter[name]=HelloFromMakiniAPI\n     * filter[name:contains]=Makini\n     * filter[name:startsWith]=Hello\n     * filter[name:startsWith]=API\n     * filter[createdAt:gt]=2023-11-07\n     * filter[createdAt:gteq]=2023-11-07\n     * filter[createdAt:lt]=2023-11-07\n     * filter[createdAt:lted]=2023-11-07\n\n </details>\n <details>\n   <summary>Filter matching</summary>\n\n     * filterMatch=any // OR\n     * filterMatch=all // AND\n\n </details>\n <details>\n   <summary>Sorting</summary>\n\n     * sort[createdAt]=1 // DESC\n     * sort[createdAt]=0 // ASC\n\n </details>\n\n",
        "summary": "List Organizations",
        "parameters": [
          {
            "name": "filter",
            "description": "array",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "page",
            "description": "integer",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "description": "array",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "per_page",
            "description": "integer",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "tags": ["Organization"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Organization"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "string"
                        },
                        "last": {
                          "type": "string"
                        },
                        "prev": {
                          "type": "string",
                          "format": "nullable"
                        },
                        "next": {
                          "type": "string",
                          "format": "nullable"
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "number"
                        },
                        "from": {
                          "type": "number"
                        },
                        "last_page": {
                          "type": "number"
                        },
                        "path": {
                          "type": "string"
                        },
                        "per_page": {
                          "type": "number"
                        },
                        "to": {
                          "type": "number"
                        },
                        "total": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/eam/organizations/{key}": {
      "get": {
        "description": "Organization endpoint provides access to information about organizations, including their names, contact information, and structures. It is a top-level entity in the system, available for systems that support a multi-organizational structure.\n",
        "summary": "Get an Organization",
        "parameters": [
          {
            "name": "key",
            "description": "string|required",
            "in": "path",
            "style": "simple",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": ["Organization"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Organization"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/eam/sites": {
      "get": {
        "description": "Site represents a physical location or facility where equipment is installed, or operations are conducted. This can include manufacturing plants or offices.\n",
        "summary": "List Sites",
        "parameters": [
          {
            "name": "filter",
            "description": "array",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "page",
            "description": "integer",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "description": "array",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "array"
            }
          }
        ],
        "tags": ["Site"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Site"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "string"
                        },
                        "last": {
                          "type": "string"
                        },
                        "prev": {
                          "type": "string",
                          "format": "nullable"
                        },
                        "next": {
                          "type": "string",
                          "format": "nullable"
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "number"
                        },
                        "from": {
                          "type": "number"
                        },
                        "last_page": {
                          "type": "number"
                        },
                        "path": {
                          "type": "string"
                        },
                        "per_page": {
                          "type": "number"
                        },
                        "to": {
                          "type": "number"
                        },
                        "total": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/eam/sites/{key}": {
      "get": {
        "description": "Site represents a physical location or facility where equipment is installed, or operations are conducted. This can include manufacturing plants or offices.\n",
        "summary": "Get a Site",
        "parameters": [
          {
            "name": "key",
            "description": "string|required",
            "in": "path",
            "style": "simple",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": ["Site"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Site"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/eam/locations": {
      "get": {
        "description": "Location is a specific subdivision within a site where equipment or material stock is located. For example, a particular machine may be situated in a specific area within a manufacturing plant, or materials can be stored in a specific warehouse.\n <details>\n   <summary>Filtering</summary>\n\n     * filter[name]=HelloFromMakiniAPI\n     * filter[name:contains]=Makini\n     * filter[name:startsWith]=Hello\n     * filter[name:startsWith]=API\n     * filter[createdAt:gt]=2023-11-07\n     * filter[createdAt:gteq]=2023-11-07\n     * filter[createdAt:lt]=2023-11-07\n     * filter[createdAt:lted]=2023-11-07\n\n </details>\n <details>\n   <summary>Filter matching</summary>\n\n     * filterMatch=any // OR\n     * filterMatch=all // AND\n\n </details>\n <details>\n   <summary>Sorting</summary>\n\n     * sort[createdAt]=1 // DESC\n     * sort[createdAt]=0 // ASC\n\n </details>\n\n",
        "summary": "List Locations",
        "parameters": [
          {
            "name": "filter",
            "description": "array",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "page",
            "description": "integer",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "description": "array",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "per_page",
            "description": "integer",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "tags": ["Location"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Location"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "string"
                        },
                        "last": {
                          "type": "string"
                        },
                        "prev": {
                          "type": "string",
                          "format": "nullable"
                        },
                        "next": {
                          "type": "string",
                          "format": "nullable"
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "number"
                        },
                        "from": {
                          "type": "number"
                        },
                        "last_page": {
                          "type": "number"
                        },
                        "path": {
                          "type": "string"
                        },
                        "per_page": {
                          "type": "number"
                        },
                        "to": {
                          "type": "number"
                        },
                        "total": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/eam/locations/{key}": {
      "get": {
        "description": "Location is a specific subdivision within a site where equipment or material stock is located. For example, a particular machine may be situated in a specific area within a manufacturing plant, or materials can be stored in a specific warehouse.\n",
        "summary": "Get a Location",
        "parameters": [
          {
            "name": "key",
            "description": "string|required",
            "in": "path",
            "style": "simple",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": ["Location"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Location"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/eam/storerooms": {
      "get": {
        "description": "Is a designated space within a location used for the storage and management of inventory, supplies, or equipment.\n <details>\n   <summary>Filtering</summary>\n\n     * filter[name]=HelloFromMakiniAPI\n     * filter[name:contains]=Makini\n     * filter[name:startsWith]=Hello\n     * filter[name:startsWith]=API\n     * filter[createdAt:gt]=2023-11-07\n     * filter[createdAt:gteq]=2023-11-07\n     * filter[createdAt:lt]=2023-11-07\n     * filter[createdAt:lted]=2023-11-07\n\n </details>\n <details>\n   <summary>Filter matching</summary>\n\n     * filterMatch=any // OR\n     * filterMatch=all // AND\n\n </details>\n <details>\n   <summary>Sorting</summary>\n\n     * sort[createdAt]=1 // DESC\n     * sort[createdAt]=0 // ASC\n\n </details>\n\n",
        "summary": "List Storerooms",
        "parameters": [
          {
            "name": "filter",
            "description": "array",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "page",
            "description": "integer",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "description": "array",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "per_page",
            "description": "integer",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "tags": ["Storeroom"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Storeroom"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "string"
                        },
                        "last": {
                          "type": "string"
                        },
                        "prev": {
                          "type": "string",
                          "format": "nullable"
                        },
                        "next": {
                          "type": "string",
                          "format": "nullable"
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "number"
                        },
                        "from": {
                          "type": "number"
                        },
                        "last_page": {
                          "type": "number"
                        },
                        "path": {
                          "type": "string"
                        },
                        "per_page": {
                          "type": "number"
                        },
                        "to": {
                          "type": "number"
                        },
                        "total": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/eam/storerooms/{key}": {
      "get": {
        "description": "Is a designated space within a location used for the storage and management of inventory, supplies, or equipment.\n",
        "summary": "Get a Storeroom",
        "parameters": [
          {
            "name": "key",
            "description": "string|required",
            "in": "path",
            "style": "simple",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": ["Storeroom"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Storeroom"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/eam/accounts": {
      "get": {
        "description": "Is a financial record in the general ledger, tracking debit and credit transactions to reflect a business's financial transactions and positions.\n <details>\n   <summary>Filtering</summary>\n\n     * filter[name]=HelloFromMakiniAPI\n     * filter[name:contains]=Makini\n     * filter[name:startsWith]=Hello\n     * filter[name:startsWith]=API\n     * filter[createdAt:gt]=2023-11-07\n     * filter[createdAt:gteq]=2023-11-07\n     * filter[createdAt:lt]=2023-11-07\n     * filter[createdAt:lted]=2023-11-07\n\n </details>\n <details>\n   <summary>Filter matching</summary>\n\n     * filterMatch=any // OR\n     * filterMatch=all // AND\n\n </details>\n <details>\n   <summary>Sorting</summary>\n\n     * sort[createdAt]=1 // DESC\n     * sort[createdAt]=0 // ASC\n\n </details>\n\n",
        "summary": "List Accounts",
        "parameters": [
          {
            "name": "filter",
            "description": "array",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "page",
            "description": "integer",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "description": "array",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "per_page",
            "description": "integer",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "tags": ["Account"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Account"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "string"
                        },
                        "last": {
                          "type": "string"
                        },
                        "prev": {
                          "type": "string",
                          "format": "nullable"
                        },
                        "next": {
                          "type": "string",
                          "format": "nullable"
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "number"
                        },
                        "from": {
                          "type": "number"
                        },
                        "last_page": {
                          "type": "number"
                        },
                        "path": {
                          "type": "string"
                        },
                        "per_page": {
                          "type": "number"
                        },
                        "to": {
                          "type": "number"
                        },
                        "total": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/eam/accounts/{key}": {
      "get": {
        "description": "Is a financial record in the general ledger, tracking debit and credit transactions to reflect a business's financial transactions and positions.\n",
        "summary": "Get an Account",
        "parameters": [
          {
            "name": "key",
            "description": "string|required",
            "in": "path",
            "style": "simple",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": ["Account"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Account"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/eam/teams": {
      "get": {
        "description": "A division responsible for conducting asset maintenance. It can be assigned to execute work orders.\n <details>\n   <summary>Filtering</summary>\n\n     * filter[name]=HelloFromMakiniAPI\n     * filter[name:contains]=Makini\n     * filter[name:startsWith]=Hello\n     * filter[name:startsWith]=API\n     * filter[createdAt:gt]=2023-11-07\n     * filter[createdAt:gteq]=2023-11-07\n     * filter[createdAt:lt]=2023-11-07\n     * filter[createdAt:lted]=2023-11-07\n\n </details>\n <details>\n   <summary>Filter matching</summary>\n\n     * filterMatch=any // OR\n     * filterMatch=all // AND\n\n </details>\n <details>\n   <summary>Sorting</summary>\n\n     * sort[createdAt]=1 // DESC\n     * sort[createdAt]=0 // ASC\n\n </details>\n\n",
        "summary": "List Teams",
        "parameters": [
          {
            "name": "filter",
            "description": "array",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "page",
            "description": "integer",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "description": "array",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "per_page",
            "description": "integer",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "tags": ["Team"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Team"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "string"
                        },
                        "last": {
                          "type": "string"
                        },
                        "prev": {
                          "type": "string",
                          "format": "nullable"
                        },
                        "next": {
                          "type": "string",
                          "format": "nullable"
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "number"
                        },
                        "from": {
                          "type": "number"
                        },
                        "last_page": {
                          "type": "number"
                        },
                        "path": {
                          "type": "string"
                        },
                        "per_page": {
                          "type": "number"
                        },
                        "to": {
                          "type": "number"
                        },
                        "total": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/eam/teams/{key}": {
      "get": {
        "description": "A division responsible for conducting asset maintenance. It can be assigned to execute work orders.\n",
        "summary": "Get a Team",
        "parameters": [
          {
            "name": "key",
            "description": "string|required",
            "in": "path",
            "style": "simple",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": ["Team"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Team"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/eam/labors": {
      "get": {
        "description": "Refers to internal or external human resources involved in the execution of work orders. It is used to track cost and time for planning purposes.\n <details>\n   <summary>Filtering</summary>\n\n     * filter[name]=HelloFromMakiniAPI\n     * filter[name:contains]=Makini\n     * filter[name:startsWith]=Hello\n     * filter[name:startsWith]=API\n     * filter[createdAt:gt]=2023-11-07\n     * filter[createdAt:gteq]=2023-11-07\n     * filter[createdAt:lt]=2023-11-07\n     * filter[createdAt:lted]=2023-11-07\n\n </details>\n <details>\n   <summary>Filter matching</summary>\n\n     * filterMatch=any // OR\n     * filterMatch=all // AND\n\n </details>\n <details>\n   <summary>Sorting</summary>\n\n     * sort[createdAt]=1 // DESC\n     * sort[createdAt]=0 // ASC\n\n </details>\n\n",
        "summary": "List Labors",
        "parameters": [
          {
            "name": "filter",
            "description": "array",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "page",
            "description": "integer",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "description": "array",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "per_page",
            "description": "integer",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "tags": ["Labor"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Labor"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "string"
                        },
                        "last": {
                          "type": "string"
                        },
                        "prev": {
                          "type": "string",
                          "format": "nullable"
                        },
                        "next": {
                          "type": "string",
                          "format": "nullable"
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "number"
                        },
                        "from": {
                          "type": "number"
                        },
                        "last_page": {
                          "type": "number"
                        },
                        "path": {
                          "type": "string"
                        },
                        "per_page": {
                          "type": "number"
                        },
                        "to": {
                          "type": "number"
                        },
                        "total": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/eam/labors/{key}": {
      "get": {
        "description": "Refers to internal or external human resources involved in the execution of work orders. It is used to track cost and time for planning purposes.\n",
        "summary": "Get a Labor",
        "parameters": [
          {
            "name": "key",
            "description": "string|required",
            "in": "path",
            "style": "simple",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": ["Labor"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Labor"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/eam/users": {
      "get": {
        "description": "User account in the system\n <details>\n   <summary>Filtering</summary>\n\n     * filter[name]=HelloFromMakiniAPI\n     * filter[name:contains]=Makini\n     * filter[name:startsWith]=Hello\n     * filter[name:startsWith]=API\n     * filter[createdAt:gt]=2023-11-07\n     * filter[createdAt:gteq]=2023-11-07\n     * filter[createdAt:lt]=2023-11-07\n     * filter[createdAt:lted]=2023-11-07\n\n </details>\n <details>\n   <summary>Filter matching</summary>\n\n     * filterMatch=any // OR\n     * filterMatch=all // AND\n\n </details>\n <details>\n   <summary>Sorting</summary>\n\n     * sort[createdAt]=1 // DESC\n     * sort[createdAt]=0 // ASC\n\n </details>\n\n",
        "summary": "List Users",
        "parameters": [
          {
            "name": "filter",
            "description": "array",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "page",
            "description": "integer",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "description": "array",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "per_page",
            "description": "integer",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "tags": ["User"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/User"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "string"
                        },
                        "last": {
                          "type": "string"
                        },
                        "prev": {
                          "type": "string",
                          "format": "nullable"
                        },
                        "next": {
                          "type": "string",
                          "format": "nullable"
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "number"
                        },
                        "from": {
                          "type": "number"
                        },
                        "last_page": {
                          "type": "number"
                        },
                        "path": {
                          "type": "string"
                        },
                        "per_page": {
                          "type": "number"
                        },
                        "to": {
                          "type": "number"
                        },
                        "total": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/eam/users/{key}": {
      "get": {
        "description": "User account in the system\n",
        "summary": "Get an User",
        "parameters": [
          {
            "name": "key",
            "description": "string|required",
            "in": "path",
            "style": "simple",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": ["User"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/User"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/eam/uom": {
      "get": {
        "description": "Units of Measure represent standardized values used for measuring and accounting for materials.\n <details>\n   <summary>Filtering</summary>\n\n     * filter[name]=HelloFromMakiniAPI\n     * filter[name:contains]=Makini\n     * filter[name:startsWith]=Hello\n     * filter[name:startsWith]=API\n     * filter[createdAt:gt]=2023-11-07\n     * filter[createdAt:gteq]=2023-11-07\n     * filter[createdAt:lt]=2023-11-07\n     * filter[createdAt:lted]=2023-11-07\n\n </details>\n <details>\n   <summary>Filter matching</summary>\n\n     * filterMatch=any // OR\n     * filterMatch=all // AND\n\n </details>\n <details>\n   <summary>Sorting</summary>\n\n     * sort[createdAt]=1 // DESC\n     * sort[createdAt]=0 // ASC\n\n </details>\n\n",
        "summary": "List UnitOfMeasures",
        "parameters": [
          {
            "name": "filter",
            "description": "array",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "page",
            "description": "integer",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "description": "array",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "per_page",
            "description": "integer",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "tags": ["UnitOfMeasure"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/UnitOfMeasure"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "string"
                        },
                        "last": {
                          "type": "string"
                        },
                        "prev": {
                          "type": "string",
                          "format": "nullable"
                        },
                        "next": {
                          "type": "string",
                          "format": "nullable"
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "number"
                        },
                        "from": {
                          "type": "number"
                        },
                        "last_page": {
                          "type": "number"
                        },
                        "path": {
                          "type": "string"
                        },
                        "per_page": {
                          "type": "number"
                        },
                        "to": {
                          "type": "number"
                        },
                        "total": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/eam/uom/{key}": {
      "get": {
        "description": "Units of Measure represent standardized values used for measuring and accounting for materials.\n",
        "summary": "Get an UnitOfMeasure",
        "parameters": [
          {
            "name": "key",
            "description": "string|required",
            "in": "path",
            "style": "simple",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": ["UnitOfMeasure"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/UnitOfMeasure"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/eam/companies": {
      "get": {
        "description": "Contact information for a third-party entity.\n <details>\n   <summary>Filtering</summary>\n\n     * filter[name]=HelloFromMakiniAPI\n     * filter[name:contains]=Makini\n     * filter[name:startsWith]=Hello\n     * filter[name:startsWith]=API\n     * filter[createdAt:gt]=2023-11-07\n     * filter[createdAt:gteq]=2023-11-07\n     * filter[createdAt:lt]=2023-11-07\n     * filter[createdAt:lted]=2023-11-07\n\n </details>\n <details>\n   <summary>Filter matching</summary>\n\n     * filterMatch=any // OR\n     * filterMatch=all // AND\n\n </details>\n <details>\n   <summary>Sorting</summary>\n\n     * sort[createdAt]=1 // DESC\n     * sort[createdAt]=0 // ASC\n\n </details>\n\n",
        "summary": "List Companies",
        "parameters": [
          {
            "name": "filter",
            "description": "array",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "page",
            "description": "integer",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "description": "array",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "per_page",
            "description": "integer",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "tags": ["Company"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Company"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "string"
                        },
                        "last": {
                          "type": "string"
                        },
                        "prev": {
                          "type": "string",
                          "format": "nullable"
                        },
                        "next": {
                          "type": "string",
                          "format": "nullable"
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "number"
                        },
                        "from": {
                          "type": "number"
                        },
                        "last_page": {
                          "type": "number"
                        },
                        "path": {
                          "type": "string"
                        },
                        "per_page": {
                          "type": "number"
                        },
                        "to": {
                          "type": "number"
                        },
                        "total": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/eam/companies/{key}": {
      "get": {
        "description": "Contact information for a third-party entity.\n",
        "summary": "Get a Company",
        "parameters": [
          {
            "name": "key",
            "description": "string|required",
            "in": "path",
            "style": "simple",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": ["Company"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Company"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/eam/vendors": {
      "get": {
        "description": "An external entity that provides services or supplies. Subdivision of Company\n <details>\n   <summary>Filtering</summary>\n\n     * filter[name]=HelloFromMakiniAPI\n     * filter[name:contains]=Makini\n     * filter[name:startsWith]=Hello\n     * filter[name:startsWith]=API\n     * filter[createdAt:gt]=2023-11-07\n     * filter[createdAt:gteq]=2023-11-07\n     * filter[createdAt:lt]=2023-11-07\n     * filter[createdAt:lted]=2023-11-07\n\n </details>\n <details>\n   <summary>Filter matching</summary>\n\n     * filterMatch=any // OR\n     * filterMatch=all // AND\n\n </details>\n <details>\n   <summary>Sorting</summary>\n\n     * sort[createdAt]=1 // DESC\n     * sort[createdAt]=0 // ASC\n\n </details>\n\n",
        "summary": "List Vendors",
        "parameters": [
          {
            "name": "filter",
            "description": "array",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "page",
            "description": "integer",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "description": "array",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "per_page",
            "description": "integer",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "tags": ["Vendor"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Vendor"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "string"
                        },
                        "last": {
                          "type": "string"
                        },
                        "prev": {
                          "type": "string",
                          "format": "nullable"
                        },
                        "next": {
                          "type": "string",
                          "format": "nullable"
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "number"
                        },
                        "from": {
                          "type": "number"
                        },
                        "last_page": {
                          "type": "number"
                        },
                        "path": {
                          "type": "string"
                        },
                        "per_page": {
                          "type": "number"
                        },
                        "to": {
                          "type": "number"
                        },
                        "total": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/eam/vendors/{key}": {
      "get": {
        "description": "An external entity that provides services or supplies. Subdivision of Company\n",
        "summary": "Get a Vendor",
        "parameters": [
          {
            "name": "key",
            "description": "string|required",
            "in": "path",
            "style": "simple",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": ["Vendor"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Vendor"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/eam/customers": {
      "get": {
        "description": "An external entity that can consume products or services, used as a target in sales and shipment orders. Subdivision of Company\n <details>\n   <summary>Filtering</summary>\n\n     * filter[name]=HelloFromMakiniAPI\n     * filter[name:contains]=Makini\n     * filter[name:startsWith]=Hello\n     * filter[name:startsWith]=API\n     * filter[createdAt:gt]=2023-11-07\n     * filter[createdAt:gteq]=2023-11-07\n     * filter[createdAt:lt]=2023-11-07\n     * filter[createdAt:lted]=2023-11-07\n\n </details>\n <details>\n   <summary>Filter matching</summary>\n\n     * filterMatch=any // OR\n     * filterMatch=all // AND\n\n </details>\n <details>\n   <summary>Sorting</summary>\n\n     * sort[createdAt]=1 // DESC\n     * sort[createdAt]=0 // ASC\n\n </details>\n\n",
        "summary": "List Customers",
        "parameters": [
          {
            "name": "filter",
            "description": "array",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "page",
            "description": "integer",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "description": "array",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "per_page",
            "description": "integer",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "tags": ["Customer"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Customer"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "string"
                        },
                        "last": {
                          "type": "string"
                        },
                        "prev": {
                          "type": "string",
                          "format": "nullable"
                        },
                        "next": {
                          "type": "string",
                          "format": "nullable"
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "number"
                        },
                        "from": {
                          "type": "number"
                        },
                        "last_page": {
                          "type": "number"
                        },
                        "path": {
                          "type": "string"
                        },
                        "per_page": {
                          "type": "number"
                        },
                        "to": {
                          "type": "number"
                        },
                        "total": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/eam/customers/{key}": {
      "get": {
        "description": "An external entity that can consume products or services, used as a target in sales and shipment orders. Subdivision of Company\n",
        "summary": "Get a Customer",
        "parameters": [
          {
            "name": "key",
            "description": "string|required",
            "in": "path",
            "style": "simple",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": ["Customer"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Customer"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/eam/stocks": {
      "get": {
        "description": "The quantity of materials per location and storeroom\n <details>\n   <summary>Filtering</summary>\n\n     * filter[name]=HelloFromMakiniAPI\n     * filter[name:contains]=Makini\n     * filter[name:startsWith]=Hello\n     * filter[name:startsWith]=API\n     * filter[createdAt:gt]=2023-11-07\n     * filter[createdAt:gteq]=2023-11-07\n     * filter[createdAt:lt]=2023-11-07\n     * filter[createdAt:lted]=2023-11-07\n\n </details>\n <details>\n   <summary>Filter matching</summary>\n\n     * filterMatch=any // OR\n     * filterMatch=all // AND\n\n </details>\n <details>\n   <summary>Sorting</summary>\n\n     * sort[createdAt]=1 // DESC\n     * sort[createdAt]=0 // ASC\n\n </details>\n\n",
        "summary": "List Stocks",
        "parameters": [
          {
            "name": "filter",
            "description": "array",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "page",
            "description": "integer",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "description": "array",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "per_page",
            "description": "integer",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "tags": ["Stock"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Stock"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "string"
                        },
                        "last": {
                          "type": "string"
                        },
                        "prev": {
                          "type": "string",
                          "format": "nullable"
                        },
                        "next": {
                          "type": "string",
                          "format": "nullable"
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "number"
                        },
                        "from": {
                          "type": "number"
                        },
                        "last_page": {
                          "type": "number"
                        },
                        "path": {
                          "type": "string"
                        },
                        "per_page": {
                          "type": "number"
                        },
                        "to": {
                          "type": "number"
                        },
                        "total": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/eam/stocks/{key}": {
      "get": {
        "description": "The quantity of materials per location and storeroom\n",
        "summary": "Get a Stock",
        "parameters": [
          {
            "name": "key",
            "description": "string|required",
            "in": "path",
            "style": "simple",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": ["Stock"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Stock"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/eam/purchase-orders/{key}/status": {
      "put": {
        "description": "\n[Detail validations](docs/platform-validation.md)\n",
        "summary": "Update a PurchaseOrder",
        "parameters": [
          {
            "name": "key",
            "description": "string|required",
            "in": "path",
            "style": "simple",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": ["PurchaseOrder"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/PurchaseOrder"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "Request body",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  }
                },
                "example": {
                  "status": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/eam/purchase-orders": {
      "get": {
        "description": "A purchase order is a document for ordering goods or services, specifying the details, conditions of the purchase and line items\n <details>\n   <summary>Filtering</summary>\n\n     * filter[name]=HelloFromMakiniAPI\n     * filter[name:contains]=Makini\n     * filter[name:startsWith]=Hello\n     * filter[name:startsWith]=API\n     * filter[createdAt:gt]=2023-11-07\n     * filter[createdAt:gteq]=2023-11-07\n     * filter[createdAt:lt]=2023-11-07\n     * filter[createdAt:lted]=2023-11-07\n\n </details>\n <details>\n   <summary>Filter matching</summary>\n\n     * filterMatch=any // OR\n     * filterMatch=all // AND\n\n </details>\n <details>\n   <summary>Sorting</summary>\n\n     * sort[createdAt]=1 // DESC\n     * sort[createdAt]=0 // ASC\n\n </details>\n\n",
        "summary": "List PurchaseOrders",
        "parameters": [
          {
            "name": "filter",
            "description": "array",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "page",
            "description": "integer",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "description": "array",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "per_page",
            "description": "integer",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "tags": ["PurchaseOrder"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PurchaseOrder"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "string"
                        },
                        "last": {
                          "type": "string"
                        },
                        "prev": {
                          "type": "string",
                          "format": "nullable"
                        },
                        "next": {
                          "type": "string",
                          "format": "nullable"
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "number"
                        },
                        "from": {
                          "type": "number"
                        },
                        "last_page": {
                          "type": "number"
                        },
                        "path": {
                          "type": "string"
                        },
                        "per_page": {
                          "type": "number"
                        },
                        "to": {
                          "type": "number"
                        },
                        "total": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "description": "\n[Detail validations](docs/platform-validation.md)\n",
        "summary": "Create a PurchaseOrder",
        "parameters": [],
        "tags": ["PurchaseOrder"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/PurchaseOrder"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "Request body",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "siteKey": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "vendorKey": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "code": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "orderNo": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "orderDate": {
                    "type": "nullable|date",
                    "nullable": true,
                    "format": "nullable|date"
                  },
                  "statusKey": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "title": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "description": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "dueAt": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "approvedAt": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "completedAt": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "shippingMethod": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "terms": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "notes": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "currencyKey": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "totalNetValue": {
                    "type": "nullable|float",
                    "nullable": true,
                    "format": "nullable|float"
                  },
                  "totalTaxValue": {
                    "type": "nullable|float",
                    "nullable": true,
                    "format": "nullable|float"
                  },
                  "totalGrossValue": {
                    "type": "nullable|float",
                    "nullable": true,
                    "format": "nullable|float"
                  },
                  "createdAt": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "updatedAt": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  }
                },
                "example": {
                  "siteKey": "07000476634156",
                  "vendorKey": "06000766772862",
                  "code": "74614837",
                  "orderNo": "string",
                  "orderDate": "2022-09-04T04:23:08Z",
                  "statusKey": "08000882796843",
                  "title": "Consectetur voluptatem blanditiis et quis enim.",
                  "description": "Qui voluptatem dolores nobis est sint ullam.",
                  "dueAt": "2001-04-21T16:54:57Z",
                  "approvedAt": "1992-09-25T19:35:40Z",
                  "completedAt": "1997-03-19T04:03:03Z",
                  "shippingMethod": "string",
                  "terms": "string",
                  "notes": "string",
                  "currencyKey": "05000619653313",
                  "totalNetValue": "string",
                  "totalTaxValue": "string",
                  "totalGrossValue": "string",
                  "createdAt": "1993-02-17T20:59:07Z",
                  "updatedAt": "1976-06-18T06:18:35Z"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/eam/purchase-orders/{key}": {
      "get": {
        "description": "A purchase order is a document for ordering goods or services, specifying the details, conditions of the purchase and line items\n",
        "summary": "Get a PurchaseOrder",
        "parameters": [
          {
            "name": "key",
            "description": "string|required",
            "in": "path",
            "style": "simple",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": ["PurchaseOrder"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/PurchaseOrder"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "description": "\n[Detail validations](docs/platform-validation.md)\n",
        "summary": "Update a PurchaseOrder",
        "parameters": [
          {
            "name": "key",
            "description": "string|required",
            "in": "path",
            "style": "simple",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": ["PurchaseOrder"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/PurchaseOrder"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "Request body",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "siteKey": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "vendorKey": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "code": {
                    "type": "string",
                    "nullable": false,
                    "format": "string"
                  },
                  "orderNo": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "orderDate": {
                    "type": "nullable|date",
                    "nullable": true,
                    "format": "nullable|date"
                  },
                  "statusKey": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "title": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "description": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "dueAt": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "approvedAt": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "completedAt": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "shippingMethod": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "terms": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "notes": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "currencyKey": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "totalNetValue": {
                    "type": "nullable|float",
                    "nullable": true,
                    "format": "nullable|float"
                  },
                  "totalTaxValue": {
                    "type": "nullable|float",
                    "nullable": true,
                    "format": "nullable|float"
                  },
                  "totalGrossValue": {
                    "type": "nullable|float",
                    "nullable": true,
                    "format": "nullable|float"
                  },
                  "createdAt": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "updatedAt": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  }
                },
                "example": {
                  "siteKey": "00000282168677",
                  "vendorKey": "01000196073352",
                  "code": "09511255",
                  "orderNo": "string",
                  "orderDate": "2019-02-08T09:02:12Z",
                  "statusKey": "06000418756914",
                  "title": "Ea id similique itaque et.",
                  "description": "Consequuntur est vero qui.",
                  "dueAt": "1976-01-16T11:47:15Z",
                  "approvedAt": "1981-10-09T17:18:57Z",
                  "completedAt": "2023-07-04T11:27:12Z",
                  "shippingMethod": "string",
                  "terms": "string",
                  "notes": "string",
                  "currencyKey": "03000842573394",
                  "totalNetValue": "string",
                  "totalTaxValue": "string",
                  "totalGrossValue": "string",
                  "createdAt": "1990-12-17T12:49:43Z",
                  "updatedAt": "1990-08-25T01:59:08Z"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/eam/purchase-orders.line-items": {
      "get": {
        "description": " <details>\n   <summary>Filtering</summary>\n\n     * filter[name]=HelloFromMakiniAPI\n     * filter[name:contains]=Makini\n     * filter[name:startsWith]=Hello\n     * filter[name:startsWith]=API\n     * filter[createdAt:gt]=2023-11-07\n     * filter[createdAt:gteq]=2023-11-07\n     * filter[createdAt:lt]=2023-11-07\n     * filter[createdAt:lted]=2023-11-07\n\n </details>\n <details>\n   <summary>Filter matching</summary>\n\n     * filterMatch=any // OR\n     * filterMatch=all // AND\n\n </details>\n <details>\n   <summary>Sorting</summary>\n\n     * sort[createdAt]=1 // DESC\n     * sort[createdAt]=0 // ASC\n\n </details>\n\n",
        "summary": "List LineItems",
        "parameters": [
          {
            "name": "filter",
            "description": "array",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "page",
            "description": "integer",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "description": "array",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "per_page",
            "description": "integer",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "tags": ["LineItem"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LineItem"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "string"
                        },
                        "last": {
                          "type": "string"
                        },
                        "prev": {
                          "type": "string",
                          "format": "nullable"
                        },
                        "next": {
                          "type": "string",
                          "format": "nullable"
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "number"
                        },
                        "from": {
                          "type": "number"
                        },
                        "last_page": {
                          "type": "number"
                        },
                        "path": {
                          "type": "string"
                        },
                        "per_page": {
                          "type": "number"
                        },
                        "to": {
                          "type": "number"
                        },
                        "total": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/eam/purchase-orders.line-items/{key}": {
      "get": {
        "description": "",
        "summary": "Get a LineItem",
        "parameters": [
          {
            "name": "key",
            "description": "string|required",
            "in": "path",
            "style": "simple",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": ["LineItem"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/LineItem"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/eam/materials/{key}/inventory": {
      "put": {
        "description": "\n[Detail validations](docs/platform-validation.md)\n",
        "summary": "Update a Material",
        "parameters": [
          {
            "name": "key",
            "description": "string|required",
            "in": "path",
            "style": "simple",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": ["Material"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Material"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "Request body",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "name": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  },
                  "quantity": {
                    "type": "integer",
                    "nullable": true,
                    "format": "integer"
                  },
                  "unitCost": {
                    "type": "integer",
                    "nullable": true,
                    "format": "integer"
                  },
                  "locationKey": {
                    "type": "string",
                    "nullable": true,
                    "format": "string"
                  }
                },
                "example": {
                  "code": "93631242",
                  "name": "string",
                  "quantity": 10,
                  "unitCost": 10,
                  "locationKey": "03000094223876"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/eam/materials/{key}/children": {
      "get": {
        "description": "",
        "summary": "Get a MaterialItem",
        "parameters": [
          {
            "name": "key",
            "description": "string|required",
            "in": "path",
            "style": "simple",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "description": "array",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "page",
            "description": "integer",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "description": "array",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "array"
            }
          }
        ],
        "tags": ["MaterialItem"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/eam/materials": {
      "get": {
        "description": " <details>\n   <summary>Filtering</summary>\n\n     * filter[name]=HelloFromMakiniAPI\n     * filter[name:contains]=Makini\n     * filter[name:startsWith]=Hello\n     * filter[name:startsWith]=API\n     * filter[createdAt:gt]=2023-11-07\n     * filter[createdAt:gteq]=2023-11-07\n     * filter[createdAt:lt]=2023-11-07\n     * filter[createdAt:lted]=2023-11-07\n\n </details>\n <details>\n   <summary>Filter matching</summary>\n\n     * filterMatch=any // OR\n     * filterMatch=all // AND\n\n </details>\n <details>\n   <summary>Sorting</summary>\n\n     * sort[createdAt]=1 // DESC\n     * sort[createdAt]=0 // ASC\n\n </details>\n\n",
        "summary": "List Parts",
        "parameters": [
          {
            "name": "filter",
            "description": "array",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "page",
            "description": "integer",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "description": "array",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "per_page",
            "description": "integer",
            "in": "query",
            "style": "form",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "tags": ["Part"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Part"
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "string"
                        },
                        "last": {
                          "type": "string"
                        },
                        "prev": {
                          "type": "string",
                          "format": "nullable"
                        },
                        "next": {
                          "type": "string",
                          "format": "nullable"
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "number"
                        },
                        "from": {
                          "type": "number"
                        },
                        "last_page": {
                          "type": "number"
                        },
                        "path": {
                          "type": "string"
                        },
                        "per_page": {
                          "type": "number"
                        },
                        "to": {
                          "type": "number"
                        },
                        "total": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "description": "\n[Detail validations](docs/platform-validation.md)\n",
        "summary": "Create a Part",
        "parameters": [],
        "tags": ["Part"],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Part"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "Request body",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "siteKeys": {
                    "type": "array",
                    "nullable": true,
                    "format": "array"
                  },
                  "parentKeys": {
[...]
