{
    "openapi": "3.0.0",
    "info": {
        "version": "1.0.0",
        "title": "API Docs - WMS",
        "description": "API Docs",
        "x-logo": {
            "url": "https://cdn.prod.website-files.com/6075c27738665c833a39fd83/608566aaabf4b474f887440f_Light.svg",
            "backgroundColor": "#000000",
            "altText": "Makini Logo"
        }
    },
    "servers": [
        {
            "url": "https://api.makini.io"
        }
    ],
    "paths": {
        "/api/wms/organizations": {
            "get": {
                "description": "Organization endpoint provides access to information about organizations, including their names, contact information, and structures. It is a top-level entity in the system, available for systems that support a multi-organizational structure.\n <details>\n   <summary>Filtering</summary>\n\n     * filter[name]=HelloFromMakiniAPI\n     * filter[name:contains]=Makini\n     * filter[name:startsWith]=Hello\n     * filter[name:startsWith]=API\n     * filter[createdAt:gt]=2023-11-07\n     * filter[createdAt:gteq]=2023-11-07\n     * filter[createdAt:lt]=2023-11-07\n     * filter[createdAt:lted]=2023-11-07\n\n </details>\n <details>\n   <summary>Filter matching</summary>\n\n     * filterMatch=any // OR\n     * filterMatch=all // AND\n\n </details>\n <details>\n   <summary>Sorting</summary>\n\n     * sort[createdAt]=1 // DESC\n     * sort[createdAt]=0 // ASC\n\n </details>\n\n",
                "summary": "List Organizations",
                "parameters": [
                    {
                        "name": "filter",
                        "description": "array",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "page",
                        "description": "integer",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "sort",
                        "description": "array",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "per_page",
                        "description": "integer",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "tags": [
                    "Organization"
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Organization"
                                            }
                                        },
                                        "links": {
                                            "type": "object",
                                            "properties": {
                                                "first": {
                                                    "type": "string"
                                                },
                                                "last": {
                                                    "type": "string"
                                                },
                                                "prev": {
                                                    "type": "string",
                                                    "format": "nullable"
                                                },
                                                "next": {
                                                    "type": "string",
                                                    "format": "nullable"
                                                }
                                            }
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "current_page": {
                                                    "type": "number"
                                                },
                                                "from": {
                                                    "type": "number"
                                                },
                                                "last_page": {
                                                    "type": "number"
                                                },
                                                "path": {
                                                    "type": "string"
                                                },
                                                "per_page": {
                                                    "type": "number"
                                                },
                                                "to": {
                                                    "type": "number"
                                                },
                                                "total": {
                                                    "type": "number"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/wms/organizations/{key}": {
            "get": {
                "description": "Organization endpoint provides access to information about organizations, including their names, contact information, and structures. It is a top-level entity in the system, available for systems that support a multi-organizational structure.\n",
                "summary": "Get an Organization",
                "parameters": [
                    {
                        "name": "key",
                        "description": "string|required",
                        "in": "path",
                        "style": "simple",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "tags": [
                    "Organization"
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Organization"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/wms/sites": {
            "get": {
                "description": "Site represents a physical location or facility where equipment is installed, or operations are conducted. This can include manufacturing plants or offices.\n",
                "summary": "List Sites",
                "parameters": [
                    {
                        "name": "filter",
                        "description": "array",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "page",
                        "description": "integer",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "sort",
                        "description": "array",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "array"
                        }
                    }
                ],
                "tags": [
                    "Site"
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Site"
                                            }
                                        },
                                        "links": {
                                            "type": "object",
                                            "properties": {
                                                "first": {
                                                    "type": "string"
                                                },
                                                "last": {
                                                    "type": "string"
                                                },
                                                "prev": {
                                                    "type": "string",
                                                    "format": "nullable"
                                                },
                                                "next": {
                                                    "type": "string",
                                                    "format": "nullable"
                                                }
                                            }
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "current_page": {
                                                    "type": "number"
                                                },
                                                "from": {
                                                    "type": "number"
                                                },
                                                "last_page": {
                                                    "type": "number"
                                                },
                                                "path": {
                                                    "type": "string"
                                                },
                                                "per_page": {
                                                    "type": "number"
                                                },
                                                "to": {
                                                    "type": "number"
                                                },
                                                "total": {
                                                    "type": "number"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/wms/sites/{key}": {
            "get": {
                "description": "Site represents a physical location or facility where equipment is installed, or operations are conducted. This can include manufacturing plants or offices.\n",
                "summary": "Get a Site",
                "parameters": [
                    {
                        "name": "key",
                        "description": "string|required",
                        "in": "path",
                        "style": "simple",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "tags": [
                    "Site"
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Site"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/wms/locations": {
            "get": {
                "description": "Location is a specific subdivision within a site where equipment or material stock is located. For example, a particular machine may be situated in a specific area within a manufacturing plant, or materials can be stored in a specific warehouse.\n <details>\n   <summary>Filtering</summary>\n\n     * filter[name]=HelloFromMakiniAPI\n     * filter[name:contains]=Makini\n     * filter[name:startsWith]=Hello\n     * filter[name:startsWith]=API\n     * filter[createdAt:gt]=2023-11-07\n     * filter[createdAt:gteq]=2023-11-07\n     * filter[createdAt:lt]=2023-11-07\n     * filter[createdAt:lted]=2023-11-07\n\n </details>\n <details>\n   <summary>Filter matching</summary>\n\n     * filterMatch=any // OR\n     * filterMatch=all // AND\n\n </details>\n <details>\n   <summary>Sorting</summary>\n\n     * sort[createdAt]=1 // DESC\n     * sort[createdAt]=0 // ASC\n\n </details>\n\n",
                "summary": "List Locations",
                "parameters": [
                    {
                        "name": "filter",
                        "description": "array",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "page",
                        "description": "integer",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "sort",
                        "description": "array",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "per_page",
                        "description": "integer",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "tags": [
                    "Location"
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Location"
                                            }
                                        },
                                        "links": {
                                            "type": "object",
                                            "properties": {
                                                "first": {
                                                    "type": "string"
                                                },
                                                "last": {
                                                    "type": "string"
                                                },
                                                "prev": {
                                                    "type": "string",
                                                    "format": "nullable"
                                                },
                                                "next": {
                                                    "type": "string",
                                                    "format": "nullable"
                                                }
                                            }
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "current_page": {
                                                    "type": "number"
                                                },
                                                "from": {
                                                    "type": "number"
                                                },
                                                "last_page": {
                                                    "type": "number"
                                                },
                                                "path": {
                                                    "type": "string"
                                                },
                                                "per_page": {
                                                    "type": "number"
                                                },
                                                "to": {
                                                    "type": "number"
                                                },
                                                "total": {
                                                    "type": "number"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/wms/locations/{key}": {
            "get": {
                "description": "Location is a specific subdivision within a site where equipment or material stock is located. For example, a particular machine may be situated in a specific area within a manufacturing plant, or materials can be stored in a specific warehouse.\n",
                "summary": "Get a Location",
                "parameters": [
                    {
                        "name": "key",
                        "description": "string|required",
                        "in": "path",
                        "style": "simple",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "tags": [
                    "Location"
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Location"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/wms/storerooms": {
            "get": {
                "description": "Is a designated space within a location used for the storage and management of inventory, supplies, or equipment.\n <details>\n   <summary>Filtering</summary>\n\n     * filter[name]=HelloFromMakiniAPI\n     * filter[name:contains]=Makini\n     * filter[name:startsWith]=Hello\n     * filter[name:startsWith]=API\n     * filter[createdAt:gt]=2023-11-07\n     * filter[createdAt:gteq]=2023-11-07\n     * filter[createdAt:lt]=2023-11-07\n     * filter[createdAt:lted]=2023-11-07\n\n </details>\n <details>\n   <summary>Filter matching</summary>\n\n     * filterMatch=any // OR\n     * filterMatch=all // AND\n\n </details>\n <details>\n   <summary>Sorting</summary>\n\n     * sort[createdAt]=1 // DESC\n     * sort[createdAt]=0 // ASC\n\n </details>\n\n",
                "summary": "List Storerooms",
                "parameters": [
                    {
                        "name": "filter",
                        "description": "array",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "page",
                        "description": "integer",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "sort",
                        "description": "array",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "per_page",
                        "description": "integer",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "tags": [
                    "Storeroom"
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Storeroom"
                                            }
                                        },
                                        "links": {
                                            "type": "object",
                                            "properties": {
                                                "first": {
                                                    "type": "string"
                                                },
                                                "last": {
                                                    "type": "string"
                                                },
                                                "prev": {
                                                    "type": "string",
                                                    "format": "nullable"
                                                },
                                                "next": {
                                                    "type": "string",
                                                    "format": "nullable"
                                                }
                                            }
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "current_page": {
                                                    "type": "number"
                                                },
                                                "from": {
                                                    "type": "number"
                                                },
                                                "last_page": {
                                                    "type": "number"
                                                },
                                                "path": {
                                                    "type": "string"
                                                },
                                                "per_page": {
                                                    "type": "number"
                                                },
                                                "to": {
                                                    "type": "number"
                                                },
                                                "total": {
                                                    "type": "number"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/wms/storerooms/{key}": {
            "get": {
                "description": "Is a designated space within a location used for the storage and management of inventory, supplies, or equipment.\n",
                "summary": "Get a Storeroom",
                "parameters": [
                    {
                        "name": "key",
                        "description": "string|required",
                        "in": "path",
                        "style": "simple",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "tags": [
                    "Storeroom"
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Storeroom"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/wms/accounts": {
            "get": {
                "description": "Is a financial record in the general ledger, tracking debit and credit transactions to reflect a business's financial transactions and positions.\n <details>\n   <summary>Filtering</summary>\n\n     * filter[name]=HelloFromMakiniAPI\n     * filter[name:contains]=Makini\n     * filter[name:startsWith]=Hello\n     * filter[name:startsWith]=API\n     * filter[createdAt:gt]=2023-11-07\n     * filter[createdAt:gteq]=2023-11-07\n     * filter[createdAt:lt]=2023-11-07\n     * filter[createdAt:lted]=2023-11-07\n\n </details>\n <details>\n   <summary>Filter matching</summary>\n\n     * filterMatch=any // OR\n     * filterMatch=all // AND\n\n </details>\n <details>\n   <summary>Sorting</summary>\n\n     * sort[createdAt]=1 // DESC\n     * sort[createdAt]=0 // ASC\n\n </details>\n\n",
                "summary": "List Accounts",
                "parameters": [
                    {
                        "name": "filter",
                        "description": "array",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "page",
                        "description": "integer",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "sort",
                        "description": "array",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "per_page",
                        "description": "integer",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "tags": [
                    "Account"
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Account"
                                            }
                                        },
                                        "links": {
                                            "type": "object",
                                            "properties": {
                                                "first": {
                                                    "type": "string"
                                                },
                                                "last": {
                                                    "type": "string"
                                                },
                                                "prev": {
                                                    "type": "string",
                                                    "format": "nullable"
                                                },
                                                "next": {
                                                    "type": "string",
                                                    "format": "nullable"
                                                }
                                            }
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "current_page": {
                                                    "type": "number"
                                                },
                                                "from": {
                                                    "type": "number"
                                                },
                                                "last_page": {
                                                    "type": "number"
                                                },
                                                "path": {
                                                    "type": "string"
                                                },
                                                "per_page": {
                                                    "type": "number"
                                                },
                                                "to": {
                                                    "type": "number"
                                                },
                                                "total": {
                                                    "type": "number"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/wms/accounts/{key}": {
            "get": {
                "description": "Is a financial record in the general ledger, tracking debit and credit transactions to reflect a business's financial transactions and positions.\n",
                "summary": "Get an Account",
                "parameters": [
                    {
                        "name": "key",
                        "description": "string|required",
                        "in": "path",
                        "style": "simple",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "tags": [
                    "Account"
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Account"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/wms/teams": {
            "get": {
                "description": "A division responsible for conducting asset maintenance. It can be assigned to execute work orders.\n <details>\n   <summary>Filtering</summary>\n\n     * filter[name]=HelloFromMakiniAPI\n     * filter[name:contains]=Makini\n     * filter[name:startsWith]=Hello\n     * filter[name:startsWith]=API\n     * filter[createdAt:gt]=2023-11-07\n     * filter[createdAt:gteq]=2023-11-07\n     * filter[createdAt:lt]=2023-11-07\n     * filter[createdAt:lted]=2023-11-07\n\n </details>\n <details>\n   <summary>Filter matching</summary>\n\n     * filterMatch=any // OR\n     * filterMatch=all // AND\n\n </details>\n <details>\n   <summary>Sorting</summary>\n\n     * sort[createdAt]=1 // DESC\n     * sort[createdAt]=0 // ASC\n\n </details>\n\n",
                "summary": "List Teams",
                "parameters": [
                    {
                        "name": "filter",
                        "description": "array",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "page",
                        "description": "integer",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "sort",
                        "description": "array",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "per_page",
                        "description": "integer",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "tags": [
                    "Team"
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Team"
                                            }
                                        },
                                        "links": {
                                            "type": "object",
                                            "properties": {
                                                "first": {
                                                    "type": "string"
                                                },
                                                "last": {
                                                    "type": "string"
                                                },
                                                "prev": {
                                                    "type": "string",
                                                    "format": "nullable"
                                                },
                                                "next": {
                                                    "type": "string",
                                                    "format": "nullable"
                                                }
                                            }
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "current_page": {
                                                    "type": "number"
                                                },
                                                "from": {
                                                    "type": "number"
                                                },
                                                "last_page": {
                                                    "type": "number"
                                                },
                                                "path": {
                                                    "type": "string"
                                                },
                                                "per_page": {
                                                    "type": "number"
                                                },
                                                "to": {
                                                    "type": "number"
                                                },
                                                "total": {
                                                    "type": "number"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/wms/teams/{key}": {
            "get": {
                "description": "A division responsible for conducting asset maintenance. It can be assigned to execute work orders.\n",
                "summary": "Get a Team",
                "parameters": [
                    {
                        "name": "key",
                        "description": "string|required",
                        "in": "path",
                        "style": "simple",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "tags": [
                    "Team"
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Team"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/wms/labors": {
            "get": {
                "description": "Refers to internal or external human resources involved in the execution of work orders. It is used to track cost and time for planning purposes.\n <details>\n   <summary>Filtering</summary>\n\n     * filter[name]=HelloFromMakiniAPI\n     * filter[name:contains]=Makini\n     * filter[name:startsWith]=Hello\n     * filter[name:startsWith]=API\n     * filter[createdAt:gt]=2023-11-07\n     * filter[createdAt:gteq]=2023-11-07\n     * filter[createdAt:lt]=2023-11-07\n     * filter[createdAt:lted]=2023-11-07\n\n </details>\n <details>\n   <summary>Filter matching</summary>\n\n     * filterMatch=any // OR\n     * filterMatch=all // AND\n\n </details>\n <details>\n   <summary>Sorting</summary>\n\n     * sort[createdAt]=1 // DESC\n     * sort[createdAt]=0 // ASC\n\n </details>\n\n",
                "summary": "List Labors",
                "parameters": [
                    {
                        "name": "filter",
                        "description": "array",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "page",
                        "description": "integer",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "sort",
                        "description": "array",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "per_page",
                        "description": "integer",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "tags": [
                    "Labor"
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Labor"
                                            }
                                        },
                                        "links": {
                                            "type": "object",
                                            "properties": {
                                                "first": {
                                                    "type": "string"
                                                },
                                                "last": {
                                                    "type": "string"
                                                },
                                                "prev": {
                                                    "type": "string",
                                                    "format": "nullable"
                                                },
                                                "next": {
                                                    "type": "string",
                                                    "format": "nullable"
                                                }
                                            }
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "current_page": {
                                                    "type": "number"
                                                },
                                                "from": {
                                                    "type": "number"
                                                },
                                                "last_page": {
                                                    "type": "number"
                                                },
                                                "path": {
                                                    "type": "string"
                                                },
                                                "per_page": {
                                                    "type": "number"
                                                },
                                                "to": {
                                                    "type": "number"
                                                },
                                                "total": {
                                                    "type": "number"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/wms/labors/{key}": {
            "get": {
                "description": "Refers to internal or external human resources involved in the execution of work orders. It is used to track cost and time for planning purposes.\n",
                "summary": "Get a Labor",
                "parameters": [
                    {
                        "name": "key",
                        "description": "string|required",
                        "in": "path",
                        "style": "simple",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "tags": [
                    "Labor"
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Labor"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/wms/users": {
            "get": {
                "description": "User account in the system\n <details>\n   <summary>Filtering</summary>\n\n     * filter[name]=HelloFromMakiniAPI\n     * filter[name:contains]=Makini\n     * filter[name:startsWith]=Hello\n     * filter[name:startsWith]=API\n     * filter[createdAt:gt]=2023-11-07\n     * filter[createdAt:gteq]=2023-11-07\n     * filter[createdAt:lt]=2023-11-07\n     * filter[createdAt:lted]=2023-11-07\n\n </details>\n <details>\n   <summary>Filter matching</summary>\n\n     * filterMatch=any // OR\n     * filterMatch=all // AND\n\n </details>\n <details>\n   <summary>Sorting</summary>\n\n     * sort[createdAt]=1 // DESC\n     * sort[createdAt]=0 // ASC\n\n </details>\n\n",
                "summary": "List Users",
                "parameters": [
                    {
                        "name": "filter",
                        "description": "array",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "page",
                        "description": "integer",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "sort",
                        "description": "array",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "per_page",
                        "description": "integer",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "tags": [
                    "User"
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/User"
                                            }
                                        },
                                        "links": {
                                            "type": "object",
                                            "properties": {
                                                "first": {
                                                    "type": "string"
                                                },
                                                "last": {
                                                    "type": "string"
                                                },
                                                "prev": {
                                                    "type": "string",
                                                    "format": "nullable"
                                                },
                                                "next": {
                                                    "type": "string",
                                                    "format": "nullable"
                                                }
                                            }
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "current_page": {
                                                    "type": "number"
                                                },
                                                "from": {
                                                    "type": "number"
                                                },
                                                "last_page": {
                                                    "type": "number"
                                                },
                                                "path": {
                                                    "type": "string"
                                                },
                                                "per_page": {
                                                    "type": "number"
                                                },
                                                "to": {
                                                    "type": "number"
                                                },
                                                "total": {
                                                    "type": "number"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/wms/users/{key}": {
            "get": {
                "description": "User account in the system\n",
                "summary": "Get an User",
                "parameters": [
                    {
                        "name": "key",
                        "description": "string|required",
                        "in": "path",
                        "style": "simple",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "tags": [
                    "User"
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/User"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/wms/currencies": {
            "get": {
                "description": "Currency represents a monetary unit used for multi-currency transactions, financial accounting, and dealings with counterparts, integrated with international exchange rates.\n <details>\n   <summary>Filtering</summary>\n\n     * filter[name]=HelloFromMakiniAPI\n     * filter[name:contains]=Makini\n     * filter[name:startsWith]=Hello\n     * filter[name:startsWith]=API\n     * filter[createdAt:gt]=2023-11-07\n     * filter[createdAt:gteq]=2023-11-07\n     * filter[createdAt:lt]=2023-11-07\n     * filter[createdAt:lted]=2023-11-07\n\n </details>\n <details>\n   <summary>Filter matching</summary>\n\n     * filterMatch=any // OR\n     * filterMatch=all // AND\n\n </details>\n <details>\n   <summary>Sorting</summary>\n\n     * sort[createdAt]=1 // DESC\n     * sort[createdAt]=0 // ASC\n\n </details>\n\n",
                "summary": "List Currencies",
                "parameters": [
                    {
                        "name": "filter",
                        "description": "array",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "page",
                        "description": "integer",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "sort",
                        "description": "array",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "per_page",
                        "description": "integer",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "tags": [
                    "Currency"
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Currency"
                                            }
                                        },
                                        "links": {
                                            "type": "object",
                                            "properties": {
                                                "first": {
                                                    "type": "string"
                                                },
                                                "last": {
                                                    "type": "string"
                                                },
                                                "prev": {
                                                    "type": "string",
                                                    "format": "nullable"
                                                },
                                                "next": {
                                                    "type": "string",
                                                    "format": "nullable"
                                                }
                                            }
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "current_page": {
                                                    "type": "number"
                                                },
                                                "from": {
                                                    "type": "number"
                                                },
                                                "last_page": {
                                                    "type": "number"
                                                },
                                                "path": {
                                                    "type": "string"
                                                },
                                                "per_page": {
                                                    "type": "number"
                                                },
                                                "to": {
                                                    "type": "number"
                                                },
                                                "total": {
                                                    "type": "number"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/wms/currencies/{key}": {
            "get": {
                "description": "Currency represents a monetary unit used for multi-currency transactions, financial accounting, and dealings with counterparts, integrated with international exchange rates.\n",
                "summary": "Get a Currency",
                "parameters": [
                    {
                        "name": "key",
                        "description": "string|required",
                        "in": "path",
                        "style": "simple",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "tags": [
                    "Currency"
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Currency"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/wms/uom": {
            "get": {
                "description": "Units of Measure represent standardized values used for measuring and accounting for materials.\n <details>\n   <summary>Filtering</summary>\n\n     * filter[name]=HelloFromMakiniAPI\n     * filter[name:contains]=Makini\n     * filter[name:startsWith]=Hello\n     * filter[name:startsWith]=API\n     * filter[createdAt:gt]=2023-11-07\n     * filter[createdAt:gteq]=2023-11-07\n     * filter[createdAt:lt]=2023-11-07\n     * filter[createdAt:lted]=2023-11-07\n\n </details>\n <details>\n   <summary>Filter matching</summary>\n\n     * filterMatch=any // OR\n     * filterMatch=all // AND\n\n </details>\n <details>\n   <summary>Sorting</summary>\n\n     * sort[createdAt]=1 // DESC\n     * sort[createdAt]=0 // ASC\n\n </details>\n\n",
                "summary": "List UnitOfMeasures",
                "parameters": [
                    {
                        "name": "filter",
                        "description": "array",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "page",
                        "description": "integer",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "sort",
                        "description": "array",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "per_page",
                        "description": "integer",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "tags": [
                    "UnitOfMeasure"
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/UnitOfMeasure"
                                            }
                                        },
                                        "links": {
                                            "type": "object",
                                            "properties": {
                                                "first": {
                                                    "type": "string"
                                                },
                                                "last": {
                                                    "type": "string"
                                                },
                                                "prev": {
                                                    "type": "string",
                                                    "format": "nullable"
                                                },
                                                "next": {
                                                    "type": "string",
                                                    "format": "nullable"
                                                }
                                            }
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "current_page": {
                                                    "type": "number"
                                                },
                                                "from": {
                                                    "type": "number"
                                                },
                                                "last_page": {
                                                    "type": "number"
                                                },
                                                "path": {
                                                    "type": "string"
                                                },
                                                "per_page": {
                                                    "type": "number"
                                                },
                                                "to": {
                                                    "type": "number"
                                                },
                                                "total": {
                                                    "type": "number"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/wms/uom/{key}": {
            "get": {
                "description": "Units of Measure represent standardized values used for measuring and accounting for materials.\n",
                "summary": "Get an UnitOfMeasure",
                "parameters": [
                    {
                        "name": "key",
                        "description": "string|required",
                        "in": "path",
                        "style": "simple",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "tags": [
                    "UnitOfMeasure"
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/UnitOfMeasure"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/wms/companies": {
            "get": {
                "description": "Contact information for a third-party entity.\n <details>\n   <summary>Filtering</summary>\n\n     * filter[name]=HelloFromMakiniAPI\n     * filter[name:contains]=Makini\n     * filter[name:startsWith]=Hello\n     * filter[name:startsWith]=API\n     * filter[createdAt:gt]=2023-11-07\n     * filter[createdAt:gteq]=2023-11-07\n     * filter[createdAt:lt]=2023-11-07\n     * filter[createdAt:lted]=2023-11-07\n\n </details>\n <details>\n   <summary>Filter matching</summary>\n\n     * filterMatch=any // OR\n     * filterMatch=all // AND\n\n </details>\n <details>\n   <summary>Sorting</summary>\n\n     * sort[createdAt]=1 // DESC\n     * sort[createdAt]=0 // ASC\n\n </details>\n\n",
                "summary": "List Companies",
                "parameters": [
                    {
                        "name": "filter",
                        "description": "array",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "page",
                        "description": "integer",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "sort",
                        "description": "array",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "per_page",
                        "description": "integer",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "tags": [
                    "Company"
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Company"
                                            }
                                        },
                                        "links": {
                                            "type": "object",
                                            "properties": {
                                                "first": {
                                                    "type": "string"
                                                },
                                                "last": {
                                                    "type": "string"
                                                },
                                                "prev": {
                                                    "type": "string",
                                                    "format": "nullable"
                                                },
                                                "next": {
                                                    "type": "string",
                                                    "format": "nullable"
                                                }
                                            }
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "current_page": {
                                                    "type": "number"
                                                },
                                                "from": {
                                                    "type": "number"
                                                },
                                                "last_page": {
                                                    "type": "number"
                                                },
                                                "path": {
                                                    "type": "string"
                                                },
                                                "per_page": {
                                                    "type": "number"
                                                },
                                                "to": {
                                                    "type": "number"
                                                },
                                                "total": {
                                                    "type": "number"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/wms/companies/{key}": {
            "get": {
                "description": "Contact information for a third-party entity.\n",
                "summary": "Get a Company",
                "parameters": [
                    {
                        "name": "key",
                        "description": "string|required",
                        "in": "path",
                        "style": "simple",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "tags": [
                    "Company"
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Company"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/wms/vendors": {
            "get": {
                "description": "An external entity that provides services or supplies. Subdivision of Company\n <details>\n   <summary>Filtering</summary>\n\n     * filter[name]=HelloFromMakiniAPI\n     * filter[name:contains]=Makini\n     * filter[name:startsWith]=Hello\n     * filter[name:startsWith]=API\n     * filter[createdAt:gt]=2023-11-07\n     * filter[createdAt:gteq]=2023-11-07\n     * filter[createdAt:lt]=2023-11-07\n     * filter[createdAt:lted]=2023-11-07\n\n </details>\n <details>\n   <summary>Filter matching</summary>\n\n     * filterMatch=any // OR\n     * filterMatch=all // AND\n\n </details>\n <details>\n   <summary>Sorting</summary>\n\n     * sort[createdAt]=1 // DESC\n     * sort[createdAt]=0 // ASC\n\n </details>\n\n",
                "summary": "List Vendors",
                "parameters": [
                    {
                        "name": "filter",
                        "description": "array",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "page",
                        "description": "integer",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "sort",
                        "description": "array",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "per_page",
                        "description": "integer",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "tags": [
                    "Vendor"
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Vendor"
                                            }
                                        },
                                        "links": {
                                            "type": "object",
                                            "properties": {
                                                "first": {
                                                    "type": "string"
                                                },
                                                "last": {
                                                    "type": "string"
                                                },
                                                "prev": {
                                                    "type": "string",
                                                    "format": "nullable"
                                                },
                                                "next": {
                                                    "type": "string",
                                                    "format": "nullable"
                                                }
                                            }
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "current_page": {
                                                    "type": "number"
                                                },
                                                "from": {
                                                    "type": "number"
                                                },
                                                "last_page": {
                                                    "type": "number"
                                                },
                                                "path": {
                                                    "type": "string"
                                                },
                                                "per_page": {
                                                    "type": "number"
                                                },
                                                "to": {
                                                    "type": "number"
                                                },
                                                "total": {
                                                    "type": "number"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/wms/vendors/{key}": {
            "get": {
                "description": "An external entity that provides services or supplies. Subdivision of Company\n",
                "summary": "Get a Vendor",
                "parameters": [
                    {
                        "name": "key",
                        "description": "string|required",
                        "in": "path",
                        "style": "simple",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "tags": [
                    "Vendor"
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Vendor"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/wms/customers": {
            "get": {
                "description": "An external entity that can consume products or services, used as a target in sales and shipment orders. Subdivision of Company\n <details>\n   <summary>Filtering</summary>\n\n     * filter[name]=HelloFromMakiniAPI\n     * filter[name:contains]=Makini\n     * filter[name:startsWith]=Hello\n     * filter[name:startsWith]=API\n     * filter[createdAt:gt]=2023-11-07\n     * filter[createdAt:gteq]=2023-11-07\n     * filter[createdAt:lt]=2023-11-07\n     * filter[createdAt:lted]=2023-11-07\n\n </details>\n <details>\n   <summary>Filter matching</summary>\n\n     * filterMatch=any // OR\n     * filterMatch=all // AND\n\n </details>\n <details>\n   <summary>Sorting</summary>\n\n     * sort[createdAt]=1 // DESC\n     * sort[createdAt]=0 // ASC\n\n </details>\n\n",
                "summary": "List Customers",
                "parameters": [
                    {
                        "name": "filter",
                        "description": "array",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "page",
                        "description": "integer",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "sort",
                        "description": "array",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "array"
                        }
                    },
                    {
                        "name": "per_page",
                        "description": "integer",
                        "in": "query",
                        "style": "form",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "tags": [
                    "Customer"
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Customer"
                                            }
                                        },
                                        "links": {
                                            "type": "object",
                                            "properties": {
                                                "first": {
                                                    "type": "string"
                                                },
                                                "last": {
                                                    "type": "string"
                                                },
                                                "prev": {
                                                    "type": "string",
                                                    "format": "nullable"
                                                },
                                                "next": {
                                                    "type": "string",
                                                    "format": "nullable"
                                                }
                                            }
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "current_page": {
                                                    "type": "number"
                                                },
                                                "from": {
                                                    "type": "number"
                                                },
                                                "last_page": {
                                                    "type": "number"
                                                },
                                                "path": {
                                                    "type": "string"
                                                },
                                                "per_page": {
                                                    "type": "number"
                                                },
                                                "to": {
                                                    "type": "number"
                                                },
                                                "total": {
                                                    "type": "number"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/wms/customers/{key}": {
            "get": {
                "description": "An external entity that can consume products or services, used as a target in sales and shipment orders. Subdivision of Company\n",
                "summary": "Get a Customer",
                "parameters": [
                    {
                        "name": "key",
                        "description": "string|required",
                        "in": "path",
                        "style": "simple",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "tags": [
                    "Customer"
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
[...]
